@import '../../../styles/variables';

:host {
  display: block;
  position: relative; 
  width: $profile-image-size;
  height: $profile-image-size;
  
  border-radius: 50%;
  margin: $highlight-margin 0;
  border: $profile-level-thickness solid #aaa;
  transform: rotate(45deg);

  img {
    width: 100%; height: 100%;
    border-radius: 50%;
  }

  & > * {
    transform: rotate(-45deg);
  }
}

.ticks {
  width: $profile-image-size;
  height: $profile-image-size;
  top: -$profile-level-thickness; left: -$profile-level-thickness;


  .top, .bottom {
    height: $tick-size-y;
    width: $tick-size-x;
  }

  .left, .right {
    width: $tick-size-y;
    height: $tick-size-x;
  }
}

.ticks .bottom {
  top: 100%;
  transform: translateY(-100%);
}

.ticks .right {
  left: 100%;
  transform: translateX(-100%);
}

.ticks > div {
  background-color: white;
}