<page-header name="Annonces qui peuvent vous intéresser" [(activeView)]="activeView">
  <span tab_0>Vue liste</span>
  <span tab_1>Carte</span>
</page-header>

<div class="hosted-page space-children-margin page-content-with-tabs">
  <ng-container [ngSwitch]="activeView">
    <ng-container *ngSwitchCase="0">
      <!-- <offer *ngFor="let mission of annonces"></offer> -->
      <credit-card></credit-card>
    </ng-container>
    <mapbox-batiuni class="space-children-margin" *ngSwitchCase="1"></mapbox-batiuni>
  </ng-container>
</div>