<page-header name="Annonces qui peuvent vous intéresser" [(activeView)]="activeView" (filterClicked)="openAdFilterMenu = true">
  <span tab_0>Vue liste</span>
  <span tab_1>Carte</span>
</page-header>

<div class="hosted-page space-children-margin page-content-with-tabs">
  <ng-container [ngSwitch]="activeView">
    <ng-container *ngSwitchCase="0">
      <offer *ngFor="let mission of annonces"></offer>
    </ng-container>
    <mapbox-batiuni class="space-children-margin" *ngSwitchCase="1"></mapbox-batiuni>
  </ng-container>
</div>

<swipeup [(open)]="openAdFilterMenu" type="view">
  <form class="form-control full-width" view>
    <div class="form-input">
      <label>Date de mission</label>
      <input type="date"/>
      <img src="assets/calendar.png"/>
    </div>

    <div class="form-input">
      <label>Adresse de chantier</label>
      <input type="text"/>
    </div>

    <div class="form-input">
      <label>Métier</label>
      <options></options>
    </div>

    <div class="form-input">
      <label>Type</label>
      <div class="flex row radio-container">
        <div class="radio-item">
          <box type="radio" class="grow" name="job-type"></box>
          Main d'oeuvre
        </div>
        <div class="radio-item">
          <box type="radio" class="grow" name="job-type"></box>
          Fourniture et pose
        </div>
      </div>
    </div>

    <div class="form-input">
      <label>Dans un rayon autour de</label>
      <ngx-slider [options]="{floor: 0, ceil: 100, showSelectionBar: true}"></ngx-slider>
    </div>

    <div class="form-input">
      <label>Réorganiser la liste selon</label>
      <div class="switch-container flex center-cross">
        <span class="criteria">Mission clôturer</span> <switch></switch>
      </div>
      <div class="switch-container flex center-cross">
        <span class="criteria">Date de mission la plus proche à la plus lointaine</span>
        <switch></switch>
      </div>
      <div class="switch-container flex center-cross">
        <span class="criteria">Norifications suivi de chantier non lu</span> <switch></switch>
      </div>
    </div>
  </form>
</swipeup>