<div class="space-children-margin">
    <div class="space-children-margin facture">
        <span class="title">Votre commande</span>
        <hr>
        <div class="engagment-type">
            <span class="left-price blue-text-price">Service PME engagement {{engagment.length}} mois</span>
            <span class="right-price blue-text-price blue" [ngClass]="{'line-through': engagment.length != 3}">{{engagment.monthlyPrice}} €/ mois</span>
        </div>
        <div class=""><span class="right-price bold-price blue blue-text-price" *ngIf="engagment.length != 3">{{engagment.reducedMonthlyPrice}} €/ mois</span></div>
        <hr>
        <div class="flex total">
            <div class="white">
            </div>
            <div class="flex sous-total">
                <span class="blue-text-price">sous-total</span>
                <span class="blue-text-price blue">{{engagment.reducedMonthlyPrice}}€ / mois</span>
            </div>
        </div>
        <div class="flex total">
            <div class="white">
            </div>
            <div class="flex sous-total">
                <span class="blue-text-price">TVA ( 20% )</span>
                <span class="blue-text-price blue" >{{engagment.reducedMonthlyPrice * .2 | number: '1.2-2'}}€ / mois</span>
            </div>
        </div>
        <div class="flex total">
            <div class="white">
            </div>
            <div class="flex sous-total">
                <span class="blue-text-price bold-price">TOTAL</span>
                <span class="bold-price blue-text-price blue">{{engagment.reducedMonthlyPrice * 1.2 | number: '1.2-2'}}€ / mois</span>
            </div>
        </div>
        <hr class="dashed">
        <span class="float-right blue-text-price blue">Effectuer des modifications</span>
        <span class="float-right blue-text-price ">Code promo ?</span>

    </div>
    <!-- <div class="space-children-margin">
        <div class="add-employees flex"><div class="offres-logo flex center">+</div> Ajouter un  compte employé  &#9432;</div>
        <div class="add-docusign flex"><div class="offres-logo flex center">+</div> Ajouter Docusign ou la création de documents  ⓘ </div>
    </div> -->
</div>
<footer class="clear-margin full-width sticky-footer flex center-text center-cross">
    <button class="footer-button"> Passer la commande</button>
</footer>