<div class="formulaire">
  <!-- paging-->
  <ul class="paging">
    <li>
      <a [routerLink]="['', 'landing']">
        <img class="arrow_left" src="assets/Fleche.svg" />
        <span>Page d'acceuil</span>
      </a>
    </li>
  </ul>
  <!-- Form -->
  <form class="form-control">
  <!-- Main title ex: Je me connecte, Créer un compte  -->
    <h3 class="form-title">Je me connecte</h3>
    <div class="form-input">
        <label >Adresse e-mail contact</label>
        <input class="form-element" />
    </div>
    <div class="form-input">
        <label >Mot de passe</label>
        <input type="password" class="form-element" />
    </div>
    <a class="externel-links form-links block text-right">
      Mot de passe oublié !
    </a>
    <div class="form-action">
      <button class="button discover gradient" style="width: 250px">Se connecter</button>
      <a class="externel-links form-links">
        Je créer un compte !
      </a>
    </div>
  </form>
</div>