<div class="confirmation-pages cover-parent flex column center">
  <ng-container *ngIf="confirmed; else waiting_tpl">
    <div class="success-circle flex center">
      <img src="assets/confirmation.svg" />
    </div>
    <p>Votre profil à bien été confirmé !</p>
    <button [routerLink]="['', 'connexion']">Commencer</button>
  </ng-container>
</div>

<ng-template #waiting_tpl>
  <!-- Ripple waiting effect -->
  <div class="ripple">
    <div></div>
    <div></div>
  </div>
  <p class="confirmed-with-success">{{ content }} {{ points }}</p>

</ng-template>