<main>
  
  <!-- Background image-->
  <div class="background-image" [style.background-image]="'url(assets/accueil-entreprise.png)'">
  </div>
  <!-- Landing text-->
  <div class="center-text overlay">
      Trouver le meilleur<br/>
      <span class="name">sous-traitant</span><br/>
      principale
  </div>

  <div class="links">
    <button class="gradient button discover">Découvrir le service sous-traitance</button><br/>
    <a class="link" [routerLink]="['', 'connexion']" >J’ai déjà un compte !</a>
  </div>
</main>
