@use "sass:math";
@import '../../../styles/variables';
@import '../../../styles/mixins';


:host {
  position: fixed;
  top: 0; left: 0;
  z-index: 10;
  width: 100vw;
  height: 0;
  @extend %safe-min-height;
  visibility: hidden;
}

:host(.open) {
  height: 100vh;
  visibility: visible;
}

.cover-parent {
  background-color: #ddd;
  opacity: 0.5;
}

.menu {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms ease-out 0s;

  &.open {
    transform: translateY(0);
  }
}

.decoration {
  position: relative;
  height: $swipeup-decoration-height;
  border-top-left-radius: math.div($swipeup-decoration-height, 2);
  border-top-right-radius: math.div($swipeup-decoration-height, 2);
}

.decoration::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #aaa;
  height: 3px;
  width: 40px;
  @include absolute-center('xy', absolute);
}

.list {
  font-size: 0.9em;
  list-style-type: none;
  padding: 20px 60px;
}

.list::ng-deep li:not(:last-of-type) {
  margin-bottom: 15px;
}