@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;
@use 'src/styles/positioning' as *;

:host {
  display: block;
  @extend %absolute-cover;
}

connexion-form {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  @include cover-with-offset-top($paging-height); 

  top: calc(#{$paging-height} + #{$paging-decoration-height} + env(safe-area-inset-top));
}