<paging></paging>
<div class="hosted-page paging-only-content flex column">
  <!-- Form -->
  <form class="grow form-control curved-border" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
  <!-- Main title ex: Je me connecte, Créer un compte  -->
    <h3 class="form-title">Je me connecte</h3>
    <div class="form-input">
        <label >Adresse e-mail contact</label>
        <input class="form-element" type="email" formControlName="email"/>
        <div *ngIf="loginForm.get('email')!.errors?.email" class="server-error">Format invalide.</div>
    </div>
    <div class="form-input">
        <label >Mot de passe</label>
        <input type="password" class="form-element" formControlName="password"/>
        <!-- <div *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.errors?.minlength" class="error">Doit contenir au moins 8 caractères</div> -->
        <!-- <div *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.errors?.uppercase" class="error">Doit contenir au moins une lettre en majuscule</div> -->
        <!-- <div *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.errors?.lowercase" class="error">Doit contenir au moins une lettre en miniscule</div> -->
    </div>
    <a class="external-links form-links block text-right">
      Mot de passe oublié !
    </a>
    <div class="form-action" style="margin-top: auto;">
      <div *ngIf="loginForm.errors?.all" class="server-error">
        {{ loginForm.errors?.all }}
      </div>
      <button class="button discover gradient" style="width: 250px;" [disabled]="!loginForm.touched || loginForm.status === 'INVALID'">Se connecter</button>
    </div>
    <a class="external-links form-links block center-text" [routerLink]="['', 'register']">
      Je crée un compte !
    </a>
  </form>
</div>