@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  display: block;
  width: 100%;
}
h3{
  font-weight: 500;
}
.contract{

  h3 {
    margin-top: 3rem;
  }
}

.annonce {
  background: $bg-white !important;
  color: $dark;
}

.dashed {
  margin-left: -30px !important;
  // margin-right: -30px;
  display: block;
  width: 100vw;
  border-top: 1px dashed black;
}

.contrat-title {
  color: $primary;
  font-size: 1rem;
  font-weight: 500;
}

.suivi-notification {
  width: 100vw;
  padding: 1rem 2rem;
  color: white;
  height: 5rem;
  background-color: $primary ;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h4 {
    font-weight: 400;
    font-size: 1em; 
  }
  p {
    font-size: 0.875rem;
    font-weight: 200;
  }
}

details summary::-webkit-details-marker {
  display: none !important;
}

.subtitle {
  color: $secondaryBackground;
}

.red {
  filter: invert(24%) sepia(89%) saturate(7468%) hue-rotate(360deg) brightness(104%) contrast(123%);
}

.green {
  filter: invert(74%) sepia(69%) saturate(5734%) hue-rotate(85deg) brightness(116%) contrast(131%);
}

form {
  padding-inline: 2rem;
}

.form-input > textarea {
  resize: vertical;
  width: 100%;
  font-size: 1rem;
}



.submitActivated {
  background-color: #0D6191;
  color:white;
}
.submitDisable {
  color: black;
}