<div class="container hosted-page space-children-margin">
  <annonce-resume [collapsed]="true" [application]="false" [post]="mission"></annonce-resume>

  <!-- CONTRAT DOCUSIGN URL -->
  <div *ngIf="isNotSigned" class="contrat">
    <h6 class="title font-Poppins" style="margin-bottom: 20px;">
      Le contrat
    </h6> 
    <div class="flex center-cross space-around" (click)="signContract()">
      <file-svg name="Contrat" color="red"></file-svg>
      <h6 *ngIf="isNotSignedByUser" class="contrat-title font-Poppins">
        Signer le contrat
      </h6> 
  </div>
</div>
<!-- ENDBLOCK CONTRAT -->
<!-- <div class="suivi-notification flex center-cross">
  <h6 class="font-Poppins">
    Suivi du chantier
  </h6> -->
</div>
<div class="suivi-notification flex column" style="margin-left:0">
  <h6 class="font-Poppins" style="margin:5px">Suivi du chantier</h6>
  <h6 class="font-Poppins" style="margin:5px">Avec {{contactName}} entreprise {{ companyName }} </h6>
</div>
<div class="full-width flex column">
  <suivi-chantier_date *ngFor="let date of dates" [date]="date" [mission]="mission" [reloadMission]="reloadMission"></suivi-chantier_date>
  <!-- <div class="newDate">
    <img src="assets/plusBlue.svg">
    <span>Ajouter une nouvelle date</span>
  </div> -->
  <div style="height:30px"></div>
</div>

<swipeup [(open)]="missionMenu.swipeup">
  <li>Modifier les horaires de présence</li>
  <li>Appeler le 06 21 94 03 86</li>
  <li (click)="closeMission()">Clôturer la mission</li>
  <li>Dupliquer l'annonce</li>
</swipeup>

<swipeup [(open)]="missionMenu.swipeupCloseMission">
  <span>Noter l'entreprise</span>
  <div style="display:flex; flex-direction:horizontal">
    <p *ngIf="mission">{{ mission!.subContractorName }}</p>
    <div style="width:30px"></div>
    <img *ngFor="let flag of getArrayStar('general'); let index=index;" (click)="starAction(index, 'general')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
  </div>

  <div>
    <div style="height:30px; width:30px"></div>
    <p>Qualité du travail fourni</p>
    <div style="display:flex; flex-direction:horizontal">
      <img *ngFor="let flag of getArrayStar('quality')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
    </div>
    <textarea (click)="textStarAction('quality')" placeholder="Ajouter un commentaire" rows="5" cols="30" id="starTextQuality"></textarea>
  </div>
  
  <div>
    <div style="height:30px; width:30px"></div>
    <p>Respect de la sécurité et de la propreté du chantier</p>
    <div style="display:flex; flex-direction:horizontal">
      <img *ngFor="let flag of getArrayStar('security')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
    </div>
    <textarea (click)="textStarAction('security')" placeholder="Ajouter un commentaire" rows="5" cols="30" id="starTextQuality"></textarea>
  </div>

  <div>
    <div style="height:30px; width:30px"></div>
    <p>Organisation</p>
    <div style="display:flex; flex-direction:horizontal">
      <img *ngFor="let flag of getArrayStar('organisation')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
    </div>
    <textarea (click)="textStarAction('organisation')" placeholder="Ajouter un commentaire" rows="5" cols="30" id="starTextQuality"></textarea>
  </div>
  <div style="height:30px; width:30px"></div>
  <button (click)="validerStar()">Valider</button>

</swipeup>

<ng-template #comment>
  <comment [edit]="true"></comment>
</ng-template>