@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  display: block;
  width: 100%;
}

.annonce {
  background: #FFFFFF !important;
  color: $dark;
}

.dashed {
  margin-left: -30px !important;
  // margin-right: -30px;
  display: block;
  width: 100vw;
  border-top: 1px dashed black;
}

.contrat-title {
  color: $primary;
  font-size: 1rem;
}

.suivi-notification {
  width: 100vw;
  margin-left: -30px;
  padding-left: 30px;

  color: white;
  height: 80px;
  background-color: $primary ;
  h6 {
    font-weight: 200;
    font-size: 1em; 
  }
}

details summary::-webkit-details-marker {
  display: none !important;
}

.subtitle {
  color: $secondaryBackground;
}

.list {

}

.red {
  filter: invert(24%) sepia(89%) saturate(7468%) hue-rotate(360deg) brightness(104%) contrast(123%);
}

.green {
  filter: invert(74%) sepia(69%) saturate(5734%) hue-rotate(85deg) brightness(116%) contrast(131%);
}