<div class="container hosted-page space-children-margin">
  <annonce-resume [collapsed]="true" [post]="mission"></annonce-resume>

  <!-- CONTRAT DOCUSIGN URL -->
  <div class="contrat">
    <h6 class="title font-Poppins" style="margin-bottom: 20px;">
      Le contrat
    </h6> 
    <div class="flex center-cross space-around">
      <file-svg name="Contrat" color="red"></file-svg>
      <h6 class="contrat-title font-Poppins">
        Signer le contrat
      </h6> 
   </div>
  </div>
  <!-- ENDBLOCK CONTRAT -->
  <div class="suivi-notification flex center-cross">
    <h6 class="font-Poppins">
      Suivi du chantier
    </h6>
  </div>
  <div class="full-width flex column">
    <!-- Use track by and refactor code to optimize performance -->
    <ng-container *ngFor="let supervision of track | keyvalue">
      <accordion [title]="'Le ' + supervision.key">
        <h4 class="subtitle">Liste des tâches pour ce jour</h4>
        <ul class="list space-children-margin">
          <li *ngFor="let detail of (supervision.value | keyvalue)" class="item">
            <div class="details flex center-cross space-between">
              <span class="detail-name">Lorem ipsum dolor sit amet</span>
              <span class="controls">
                <img (click)="validate(detail.key)" src="assets/suivi-valider.svg"/>
                <img src="assets/suivi-refuser.svg"/>
              </span>
            </div>
            
            <!-- show some comments in write mode -->
            <comment [edit]="false" [profile]="currentProfile$"></comment>
          </li>
        </ul>
      </accordion>
      <hr class="dashed">
    </ng-container>
  </div>
</div>

<swipeup [(open)]="swipemenu">
  <li>Modifier les horaires de présence</li>
  <li>Appeler le 06 21 94 03 86</li>
  <li>Clôturer la mission</li>
  <li>Dupliquer l'annonce</li>
</swipeup>

<ng-template #comment>
  <comment [edit]="true"></comment>
</ng-template>