<div class="container hosted-page space-children-margin">
  <annonce-resume [collapsed]="true" [application]="false" [post]="mission"></annonce-resume>

  <!-- CONTRAT DOCUSIGN URL -->
  <div *ngIf="isNotSigned" class="contrat">
    <h6 class="title font-Poppins" style="margin-bottom: 20px;">
      Le contrat
    </h6> 
    <div class="flex center-cross space-around" (click)="signContract()">
      <file-svg name="Contrat" color="red"></file-svg>
      <h6 *ngIf="isNotSignedByUser" class="contrat-title font-Poppins">
        Signer le contrat
      </h6> 
  </div>
</div>
<!-- ENDBLOCK CONTRAT -->
<!-- <div class="suivi-notification flex center-cross">
  <h6 class="font-Poppins">
    Suivi du chantier
  </h6> -->
</div>
<div class="suivi-notification flex column" style="margin-left:0">
  <h6 class="font-Poppins" style="margin:5px">Suivi du chantier</h6>
  <h6 class="font-Poppins" style="margin:5px">Avec {{contactName}} entreprise {{ companyName }} </h6>
</div>
<div class="full-width flex column">
  <suivi-chantier_date *ngFor="let date of dates" [date]="date" [mission]="mission" [reloadMission]="reloadMission"></suivi-chantier_date>
  <div class="newDate">
    <img src="assets/plusBlue.svg">
    <p>Ajouter une nouvelle date</p>
  </div>
  <div style="height:30px"></div>
</div>

<swipeup [(open)]="swipemenu">
  <li>Modifier les horaires de présence</li>
  <li>Appeler le 06 21 94 03 86</li>
  <li>Clôturer la mission</li>
  <li>Dupliquer l'annonce</li>
</swipeup>

<ng-template #comment>
  <comment [edit]="true"></comment>
</ng-template>