@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/responsive' as *;

$textColor : #44444F;

:host {
    position: absolute;
    top: 145px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
    z-index: 999;
    background-color: transparent !important;
    @include range($mobile, 1500px) {
        // .company {
        //     display: flex;
        //     flex-direction: column;
        // }
        .info {
            // .company-data {
            //     flex-direction: row;
            //     span:not(:last-child) {
            //         margin-right: 1rem;
            //     }
            // }
            // .seconde-info {
            //     display: none;
            // }
        }
        .logo {
            margin-bottom: 1rem;
            overflow: hidden;
        }
    }
}

.company {
    display: flex;
    align-items: center;
    div:not(:last-child) {
        margin-right: 2rem;
    }
    ::before {

        @include range($mobile , 1500px) {
            background-color: #f7f7f7;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 40%;
            right: 0;
            left: 0;
            width: 100%;
            height: 100px;
            z-index: -1;
        }
        @include from(1500px) {
            background-color: #f7f7f7;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 43%;
            left: 400px;
            width: 100%;
            height: 100px;
            z-index: -1;
        }
    }
}
.logo {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 150px;
    height: 150px;
    background-color: #fcfcfc;
    img {aspect-ratio: 1 / 1;  object-fit: cover;width: inherit; }
    overflow: hidden;
}
.info {
    .company-data {
        font-weight: 400;
        font-size: 2rem;
        color: #44444F;
        span {
            color: white;
            
        }
        display: flex;
        flex-direction: column;
    }
    & > *:not(:last-child) {
        margin-bottom: 1rem;
    }
    .seconde-info {
        span {
            color: #44444F;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 500;
        }
        span:not(:last-child) {
            margin-right: 1rem;
        }
    }
}
