@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.comment-provider{
  display: flex;
  justify-content: space-between;
}

.comment-box {
  margin-left: 1rem;
  flex: 1;
  background: #F7F7F7;
  border-radius: 12px;
  padding: 1rem;
  font-size: 0.875rem;
}

.user-info{
  display: flex;
  align-items: center;
  span {
    display: inline-block;
  }
  .user-name{
    font-weight: 500;
    margin-right: auto;
  }
  .post-date{
    font-weight: 200;
  }

  img {
    height: 1rem;
  }
}

.comment-option-container {
  position: relative;
  .comment-option-open {
    position: absolute;
    background-color: hsl(0deg 0% 81%);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    left: -8rem;
    z-index: 10;
    > div {
      position: fixed;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
    }
    button {
      display: block;
      margin: 0.5rem auto;
      padding: 0.5rem;
      width: 8rem;
      background: white;
    }
  }
}

.user-image{
  width: 2.5rem;
  height: 2.5rem;
}

.comment-image{
  img.main {
    height: 225px;
    width: 100%;
    object-fit: contain;
  }

  .left, .right {
    @extend %absolute-center-y;
  }

  .left { left: 8px; }
  .right { right: 8px; }
}

.suivi-comment{
  inline-size: 14rem;
  overflow-wrap: break-word;
}

.response{
  justify-content: space-between;
  padding: $tab-spacing;
  input{
    width: 80%;
    white-space: normal;
  }
}

.hidden {
  display: none;
}