<div class="comment-provider">
  <profile-image class="user-image" [profile]="supervision.companyId"></profile-image>

  <div class="comment-box">
    <div class="user-info">
      <span class="user-name">{{supervision.author}}</span>
      <!-- <span class="post-date">Le {{supervision.date}}</span> -->
      <div class="comment-option-container">
        <img (click)="toogleCommentOption()" src="assets/ellipsis-vertical-outline.svg" alt="comment-option">
        <div [ngClass]="{'open' : commentOption}" class="comment-option-open" >
          <div (click)="toogleCommentOption()"></div>
          <button (click)="modifySupervision()">Modifier</button>
          <button (click)="deleteSupervision()">Supprimer</button>
        </div>
      </div>
    </div>
    <div class="suivi-comment">
      {{supervision.comment}}
    </div>
  </div>
</div>

<div class="comment-image position-relative" *ngIf="images.length">
  <img class="main" [src]="images[nbImageSelected] || 'assets/unavailable.jpg'"/>
  <img *ngIf="imageHasNext" (click)="otherImage(1)" class="position-absolute right" src="assets/arrowright.svg"/>
  <img *ngIf="imageHasPrevious" (click)="otherImage(-1)" class="position-absolute left" src="assets/arrowleft.svg"/>


<div class="parent-comment" *ngIf="parentComment">
  <ng-content select="comment-suivi"></ng-content>
</div>
