@import 'src/styles/variables';
@import 'src/styles/mixins';


:host {
    display: block;
    border: 1px solid #C7C7C7;
    padding: 0;
  }

.user-info{
  span {
    display: inline-block;
    font-size: 0.9em;
  }

  .user-name{
    font-weight: 500;
    margin-bottom: 0.3em;
  }

  .post-date{
    font-weight: 200;
  }
}

.comment-provider{
  height: 100px;
}

.user-image{
  transform: scale(0.5) rotate(45deg);
  margin: 0;
}

.comment-image{
  img.main {
    height: 225px;
    width: 100%;
    object-fit: contain;
  }

  .left, .right {
    @extend %absolute-center-y;
  }

  .left { left: 8px; }
  .right { right: 8px; }
}

.suivi-comment{
  border-bottom: inherit;
  padding: $tab-spacing;
  line-height: 1.5em;
}

.parent-comment {
  @extend .suivi-comment;
  padding-left: 2*$tab-spacing;
  padding-right: 2*$tab-spacing;
}

.response{
  justify-content: space-between;
  padding: $tab-spacing;
  input{
    width: 80%;
    white-space: normal;
  }
}

.hidden {
  display: none;
}