@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
    @extend %page;
    @extend %no-navigation ;
  }
  
  #bigHeader {
    display: block;
    position: fixed;
    height: 100px;
    padding-top: 40px;
  }

  #swipeupHeader {
    display: block;
    position: fixed;
    background-color: white;
    color: black
  }

  .left {
    left: 8px;
  }

  .cards {
    margin-top: 90px;
  }


