<blocked-contact-card
    (click)="openProfile(company) " 
    *ngFor="let company of blockedCompanies" 
    [profile]="{company: company}" >
</blocked-contact-card>


<slidemenu [(open)]="openCompanyProfile" [header]="false" #slideOnlinePost> 
    <header class="clear-margin full-width sticky-header flex center-cross annonce"
    customHeader id="swipeupHeader">
        <img (click)="slideOnlinePostClose()" src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Contact bloqué</h1>  
    </header>

    <ng-container content>
        <extended-profile
            *ngIf="blockedCompany"
            [showContact]="true"
            [profile]="{company: blockedCompany, user: null}"
            [showSwitch]="false"
            [showRecomandation]="false"
            [showView]="'ST'">
        </extended-profile>

        <footer
        class="flex row space-between sticky-footer full-width submit-container"
        style="background-color: white;">
        <button class="button gradient font-Poppins full-width" (click)="deblockContact()">
        Débloquer le contact
        </button>
      </footer>
    </ng-container>
</slidemenu>


