@import 'src/styles/variables';
@import 'src/styles/responsive';

:host {
  position: relative;
  display: inline-block;
  height: $searchbar-height;
  border-radius: 5px;

  @include desktop-only {
    box-shadow: 0 2px 0 1px #f7f7f7;
  }
}

img {
  position: absolute;
  width: $searchbar-icon-size; height: $searchbar-icon-size;
  left: $searchbar-icon-padding;
  top: 50%; transform: translateY(-50%);
}

input {
  padding: $searchbar-padding;
  padding-left: $searchbar-icon-size + 2*$searchbar-icon-padding;
  border-radius: 5px;
  width: 100%;
}