@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  display: block;
  font: inherit;
  font-family: "Poppins";
}

h3 {
  padding-inline: 2rem;
}

img {
  vertical-align: middle;
}

.name {
  color: $secondaryBackground;
  margin: $highlight-margin  0;

  img {
    transform-origin: center center;
    transition: transform 150ms ease-out 50ms;
    transform: scale(1.2);
    @extend .blue;
  }

  img.open {
    transform: scale(1.2) rotate(-90deg);
  }
}

.blue {
  filter: invert(12%) sepia(96%) saturate(7052%) hue-rotate(180deg) brightness(78%) contrast(111%);
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 800ms ease-out 0s
}

.panel-open {
  max-height: unset;
}

.taskBydate {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.deleting {
  width: 2rem;
  height: 2rem;
}