<ng-container *ngIf="(profile$ | async) as profile">
  <header class="clear-margin full-width sticky-header flex center-cross">
    <span class="grow text-light-emphasis">Mes disponibilités</span>
  </header>
  
  <div class="hosted-page flex column center-cross space-children-margin page-content">
    <calendar [value]="availabilities" (dayClick)="onDayClicked()" #calendar></calendar>
    <button class="button active" style="align-self: flex-end;" (click)="submit(calendar)">Enregistrer</button>
  </div>
</ng-container>