<header class="clear-margin full-width sticky-header flex center-cross">
  <span class="grow text-light-emphasis">Mes disponibilités</span>
</header>

<div class="hosted-page flex column center-cross space-children-margin page-content">
  <calendar #calendar></calendar>
  <div class="full-width">
    <form class="form-control">
      <div class="form-input euro" style="max-width: 200px;">
        <label class="text-emphasis">Montant horaire moyen</label>
        <input class="form-element" type="text" disabled/>
      </div>
    </form>
  </div>
</div>

<swipeup [(open)]="calendar.dayClicked">
  <li (click)="calendar.setCurrentDayState('available')" class="disponible">Disponible</li>
  <li (click)="calendar.setCurrentDayState('availablelimits')" class="sous-conditions">Disponible sous conditions</li>
  <li (click)="calendar.setCurrentDayState('unavailable')" class="pas-disponible">Pas disponible</li>
  <li (click)="calendar.setCurrentDayState('nothing')" class="non-renseigne">Non renseigné</li>
</swipeup>