@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  @extend %page;
}

.euro {
  &::after {
    content: "€";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

%before-element {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

::ng-deep {
  .disponible::before {
    @extend %before-element;
    @include circle(1.2em, $available);
  }
  .sous-conditions::before {
    @extend %before-element;
    @include circle(1.2em, $availableWithLimits);
  }
  .pas-disponible::before {
    @extend %before-element;
    @include circle(1.2em, $unAvailable);
  }
  .non-renseigne::before {
    @extend %before-element;
    @include circle(1.1em, #fafafa);
    border: 1px solid black;
  }  
}

