@import 'src/styles/mixins';
@import 'src/styles/variables';

%padding {
  padding: 0 40px;
}

.page {
  @extend %three-section-layout;
  height: 100vh;
  background-color: #f7f7f7;

  @extend %web-space-top;

  .main.web-content {
    margin: 0 auto;
  }
}

:host {
  display: block;
}

.web-content {
  searchbar {
    display: block;
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
  }

  width: 700px !important;
}

.report-search {
  padding: 30px 0;
}

//1366+ follow specs
.filters {
  background-color: white;
  overflow-y: auto;
  width: 400px;
  @extend %padding;

  .header {
    img { vertical-align: middle; }
    @extend %web-space-top;
    font-size: 1.5em;
    color: $secondaryBackground;
    padding-bottom: 20px;
  }
}

tabs {
  position: fixed;
  width: 100%;
  top: $web-header-height - $tab-height;
}