@import "src/styles/mixins";
@import "src/styles/variables";
@import 'src/styles/animations.scss';

:host {
  display: block;
}
.web-page {
  @include range($mobile , 1500px){
   .filters {
     display: none;
   }
   .filterOnly{
     display: block !important;
   }
  }
}
.web-content {
  min-height: 90vh !important;
  height: fit-content;
  searchbar {
    display: block;
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
  }
}
.filters {
  overflow-y: auto !important;
}
.addMargin {
  top: 210px !important;
  margin-top: 5rem !important;
}

.report-search {
  padding: 30px 0;
}

.header {
  margin-bottom: 20px !important;
}
tabs {
  position: fixed;
  width: 100%;
  top: $web-header-height - $tab-height;
  font-weight: 200;
  li.active {
    font-weight: 500;
  }
}

offer:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.full-screen {
  width: 100vw;
  height: 100vw;
  background-color: #ffffff;
  z-index: 998;
  position: absolute;
  top: 0;
}

.nav-back {
  position: relative;
  right: 0;
}

.nav-left::ng-deep {
  section {
    justify-content: left !important;
  }
}
$square: 150px;

.companyinfo {
  background-color: #f7f7f7;
  position: absolute;
  left: 500px;
  height: 100px;
  width: 30%;
  z-index: 999;
  .weight {
    font-weight: 500;
  }
  .white {
    color: #fff;
  }
  .value {
    font-weight: 200;
  }
}
.company-data {
  @include range(1000px, 1500px) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

.company-logo {
  position: fixed;
  top: calc(220px - 80px);
  background-color: white;
  width: $square;
  height: $square;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;
}

.company-text {
  position: relative;
  left: $square + 50px;
  height: 100px;
  top: -59px;
  z-index: 999;

  .data-star {
    & > * {
      margin-bottom: 0.5rem;
    }
  }
}

.title-with-line {
  letter-spacing: 0px;
  color: #333333;
  font-size: 22.6px;
  position: relative;
  font-weight: 500;
  margin-bottom: 1rem !important;
  &:before {
    content: "";
    display: block;
    width: 50px;
    height: 6px;
    background: $secondaryBackground;
    left: -5rem;
    top: 50%;
    position: absolute;
  }
  @include range(1000px, 1700px) {
    &:before{
      content: "";
      display: none;
    }
  }
}
.description {
  margin: 2rem !important;
  li {
    font-size: 18px;
    color: #4c4c4c;
    list-style-type: none;
  }
  li::before {
    content: '';
    display: inline-block;
    width: 0.7rem ;
    height: 0.7rem;
    line-height: 100%;
    top: 50%;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 50%;
    background-color: #0D6191;
    margin-right: 1em;
  }
}
.notif {
  @extend %has-notifications;
}
.signature{
  font-size: 18px;
  color: #0D6191;
  font-weight: 500;
}

$options: 26px;
.options-list {
  .notif {
    @extend %has-notifications;
  }
  li {
    position: relative;
    list-style-type: none;
    cursor: pointer;
    img {
      height: $options;
      width: $options;
      margin-right: 0.5rem;
    }
  }
  li:hover {
    transform: scale(1.02);
  }
}
.description {
  color: #999999 !important;
}

.transparent {
  background-color: transparent !important;
}
.whiter-bg {
  background-color: #ffffff !important;
}
pme-filter-form::ng-deep {
  // overflow-y: auto !important;
}

.lighter {
  font-weight: 300 !important;
  font-size: 14px;
  margin-left: 0.5rem;
}
.showFilters{
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 30vw;
  height: calc(100vh - 210px);
  left: 0;
  top: 210px;
  position: absolute;
  z-index: 999;
  background: white;
  // @extend .animating;
  overflow-y: auto;
  // animation: $slide 50ms normal both slide-in-right;
  cursor: pointer;
  .close
  {
    width: 100%;
    justify-content: end;
  }
}
.filterOnly {
  display: none !important;
  height: 100%;
  cursor: pointer;
}
mapbox-batiuni::ng-deep {
  @include range($mobile, 1500px) {
    width: 100vw !important;
    left : 0 !important;
  }
}