<ng-container *ngIf="user$ | async as user">
  <tabs [tabs]="user.viewType ? 3 : 2" [(activeView)]="activeView" bottom>
    <span tab_0>{{ user.viewType ? 'Brouillon' : 'Vue liste' }}</span>
    <span tab_1>{{ user.viewType ? 'En ligne' : 'Carte' }}</span>
    <span tab_2>Validées</span>
  </tabs>

  <div class="web-page">
    <section class="filters">
      <div class="header">
        <img src="assets/Filtrer par.svg" /> Filtrer par
      </div>
      <pme-filter-form [activeView]="activeView"></pme-filter-form>
    </section>
    <ng-container *ngIf="user.viewType; else stview">
      <section class="main web-content font-Poppins">
        <searchbar
          [placeholder]="activeView == 0 ? 'Recheche brouillon...' : activeView == 1 ? 'Recheche annonces enligne...' :  'Recheche annonces validées'">
        </searchbar>
        <div class="report-search">
          Resultat <span class="no-result">{{ viewPostLength() }}</span>
        </div>
        <!-- Page pme -->
        <div class="results space-children-margin">
          <ng-container [ngSwitch]="activeView">
            <ng-container *ngSwitchCase="0">
              <offer *ngFor="let draft of userDrafts" src="assets/brouillon.svg" [deletable]="true" [post]="draft"
                (click)="openPost(draft)" [routerLink]="['','home','make',draft.id]"></offer>
            </ng-container>
            <ng-container *ngSwitchCase="1">
              <offer *ngFor="let onlinePost of userOnlinePosts" [deletable]="false" [post]="onlinePost"
                [routerLink]="['','home','make',onlinePost.id]" src="assets/enligne.svg"></offer>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <offer [deletable]="false" *ngFor="let mission of annonces" (click)="showValidePost = true"
                src="assets/validée.svg"></offer>
            </ng-container>
          </ng-container>
        </div>

        <!-- pAGE ST -->
      </section>
    </ng-container>
    <ng-template #stview>
      <ng-container [ngSwitch]="activeView">
        <ng-container *ngSwitchCase="0">
          <section class="main web-content font-Poppins">
            <offer *ngFor="let onlinePost of userOnlinePosts" [deletable]="false" src="assets/enligne.svg"></offer>
          </section>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <mapbox-batiuni></mapbox-batiuni>
        </ng-container>
      </ng-container>
    </ng-template>
  </div>

  <div class="full-screen" *ngIf="showValidePost">
    <desktop-stickyH [user]="user" [navigation]="false" class="nav-left">
      <div class="nav-back flex row center-cross " (click)="showValidePost = false">
        <img src="assets/arrow_left.svg" />
        <h6 class="text-light-emphasis">Annonces validées</h6>
      </div>
    </desktop-stickyH>
    <div class="companyinfo">
  <div class="company-logo flex center">
    <img src="assets/enligne.svg" />
  </div>
  <div class="company-text">
    <span class="weight">COMPANY NAME</span>
    <div class="company-data">
      <span class="weight">N SIRET</span>
      <span class="weight">Métier </span>
      <span class="weight">Chiffres d'affaires: </span>
    </div>
</div>
</div>
    <div class="web-page">
      <section class="filters">
        <step></step>
      </section>
      <section class="main web-content font-Poppins">
        <h1>&</h1>
      </section>
      <section class="">

      </section>
    </div>
  </div>
</ng-container>