<header class="clear-margin full-width sticky-header flex center-cross">
  <span class="grow text-emphasis">Mon Profil</span>
  <img src="assets/notification.svg"/>
  <img src="assets/menu.svg" (click)="openMenu = true"/>
</header>

<div class="hosted-page flex column center-cross space-children-margin">
  <profile-image></profile-image>
  <switch style="text-align: center;"></switch>
  <section class="quick-intro flex column center-cross">
    <span class="text-emphasis">Gabriel Dubois</span>
    <span>Gabriel_Dubois@gmail.com</span>
    <span>06 21 95 34 29</span>
    <stars value="3.9"></stars>
  </section>

  <section class="job-description full-width flex column space-children-margin">
    <span>
      <span class="text-light-emphasis font-Poppins">Nom de l'entreprise : </span> <span class="value">Fantasiapp SARL</span>
    </span>
    <span>
      <span class="text-light-emphasis font-Poppins">N SIRET : </span> <span class="value">362 521 879 00034</span>
    </span>
    <span>
      <span class="text-light-emphasis font-Poppins">Métier : </span> <span class="value">1 Chef de chantier, 1 Maître d'oeuvre</span>
    </span>
    <span>
      <span class="text-light-emphasis font-Poppins">Chiffres d'affaires : </span> <span class="value">77 584 €</span>
    </span>
  </section>

  <section class="documents">
    <h4>Documents imporants</h4>
    <div class="flex images">
      <img src="assets/files/Impot.svg"/>
      <img src="assets/files/KBIS.svg"/>
      <img src="assets/files/qualibat.svg"/>
      <img src="assets/files/urssaf.svg"/>
    </div>
  </section>
</div>

<swipeup [(open)]="openMenu">
  <li (click)="slideModifyMenu()">Modifier mon profil</li>
  <li>Candidatures en cours</li>
  <li>Gérer mes abonnements</li>
  <li>Mes factures</li>
  <li>Partager l'application</li>
  <li>Noter l'application</li>
  <li>Nous contacter</li>
  <li>FAQ</li>
  <li>Mentions légales</li>
  <li>Se déconnecter</li>
</swipeup>

<slidemenu [(open)]="openModifyMenu">
  <div class="full-width center-text text-emphasis" header>Modifier mon Profil</div>
  <div class="hosted-page include-header flex column center-cross space-children-margin" content>
    <section class="section">
      <profile-image></profile-image>
      <img src="assets/icons/modify.svg" class="modify-icon image" (click)="openModifyPictureMenu()"/>
    </section>

    <switch style="text-align: center;"></switch>
    <stars value="3.9"></stars>

    <ng-container *ngIf="!modifyPassword; else modifyPasswordPage">
      <section class="full-width section modify-profile">
        <form class="form-control">
          <h3 class="form-title font-Roboto">
            Infos personelles: 
            <img src="assets/icons/modify.svg" class="modify-icon text"/>
          </h3>
          <div class="form-input">
            <label>Prénom du contact</label>
            <input class="form-element" type="text" disabled/>
          </div>
          <div class="form-input">
            <label>Adresse e-mail contact</label>
            <input class="form-element" type="text" disabled/>
          </div>
          <div class="form-input">
            <label>Telephone fixe</label>
            <input class="form-element" type="text" disabled/>
          </div>
          <div class="form-input">
            <label>Téléphone portable</label>
            <input class="form-element" type="text" disabled/>
          </div>
        </form>
      </section>
  
      <section class="full-width section modify-profile">
        <form class="form-control">
          <h3 class="form-title font-Roboto">
            Modifier le mot de passe: 
            <img src="assets/icons/modify.svg" (click)="modifyPassword = true" class="modify-icon text"/>
          </h3>
          <div class="form-input">
            <label></label>
            <input class="form-element" value="********" type="text" disabled/>
          </div>
        </form>
      </section>
    </ng-container>
    
    <ng-template #modifyPasswordPage>
      <form class="form-control">
        <div class="form-input">
          <label>Ancien mot de passe</label>
          <input class="form-element" type="text"/>
        </div>
        <div class="form-input">
          <label>Nouveau mot de passe</label>
          <input class="form-element" type="text"/>
        </div>
        <div class="form-input">
          <label>Confirmation nouveau mot de passe</label>
          <input class="form-element" type="text"/>
        </div>
      </form>

      <button class="button gradient full-width" (click)="modifyPassword = false">
        Enregistrer
      </button>
    </ng-template>
    <swipeup [(open)]="openModifyPicture">
      <li>Accédez à l'appareil photo</li>
      <li>Télécharger une image</li>
    </swipeup>
  </div>
</slidemenu>