@import '../../styles/variables';

:host {
  display: block;
  width: 100%;
  margin-top: $sticky-header-height;
}

.sticky-header {
  img {
    padding: 0 $item-padding;
  }
}

.hosted-page {
  padding-top: 0;
}

.quick-intro {
  font-weight: 200;
  & > *:not(:last-of-type) {
    margin-bottom: $spacing-margin;
  }
}

.job-description .value {
  font-weight: 300;
}

.documents {
  width: 100vw;
  padding: 10px 20px 0;
  border-top: 1px dashed #aaa;

  .images {
    flex-wrap: wrap !important;
    justify-content: space-between;
  }
}

.documents img {
  width: $document-image-size-x;
}

$icon-padding: 2px;
.modify-icon {
  position: absolute;
  width: $icon-size + 2 * $icon-padding;
  height: $icon-size + 2 * $icon-padding;
  border-radius: 50%;
  padding: $icon-padding;
  background: white;
  box-shadow: 0 -1px 5px 0 #333;

  &.image {
    bottom: $icon-size; right: $icon-size;
  }

  &.text {
    margin-left: 20px;
  }
}

.form-title, .form-input label {
  font-size: 1em;
}