@import '../../styles/variables';

:host {
  display: block;
  width: 100%;
}


.header {
  margin-bottom: $highlight-margin;
  img {
    padding: 0 $item-padding;
  }

}

.image-container {
  img {
    width: $profile-image-size; height: $profile-image-size;
    border-radius: 50%;
  }
  border-radius: 50%;
  border: $profile-level-thickness solid #aaa;
  margin: $highlight-margin 0;
}

.ticks {
  top: -$profile-level-thickness; left: -$profile-level-thickness;
  width: calc(100% + #{2 * $profile-level-thickness});
  height: calc(100% + #{2 * $profile-level-thickness});


  .top, .bottom {
    height: $tick-size-y;
    width: $tick-size-x;
  }

  .left, .right {
    width: $tick-size-y;
    height: $tick-size-x;
  }
}

.ticks .bottom {
  top: 100%;
  transform: translateY(-100%);
}

.ticks .right {
  left: 100%;
  transform: translateX(-100%);
}

.ticks > div {
  background-color: white;
}

.quick-intro {
  font-weight: 200;
  & > *:not(:last-of-type) {
    margin-bottom: $spacing-margin;
  }
}

.job-description .value {
  font-weight: 300;
}

.documents {
  width: 100vw;
  padding: 10px 20px 0;
  border-top: 1px dashed #aaa;

  .images {
    flex-wrap: wrap !important;
    justify-content: space-between;
  }
}

.documents img {
  width: $document-image-size-x;
}