@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;
@use 'src/styles/responsive' as *;

:host {
  display: flex;
  justify-content: center;
  background: white;
  border-left: $sos-border-thickness solid transparent;
  height: $sos-card-height;
  padding: $sos-card-padding;
  border-radius: 12px;

  box-shadow: 0 5px 3px 0 rgba(149, 157, 165, 0.2);
  @include desktop-only {
    border-left-width: 12px;
  }

  position: relative;
}

.container {
  width: 400px;
}

.presentation {
  flex-grow: 0;
  transform: scale(0.9);
  profile-image { transform: scale(0.9); }

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.description {
  color: $light;
  height: 80%;
  
  & > span:not(:last-child) { margin-bottom: 1em; }
}

.job {
  color: $dark;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}