$ttf: format('truetype');

@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Regular.ttf") $ttf;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Light.ttf") $ttf;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Medium.ttf") $ttf;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Bold.ttf") $ttf;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Black.ttf") $ttf;
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: url("Poppins/Poppins-Regular.ttf") $ttf;
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url("Poppins/Poppins-Light.ttf") $ttf;
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url("Poppins/Poppins-Bold.ttf") $ttf;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url("Poppins/Poppins-Medium.ttf") $ttf;
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url("Poppins/Poppins-Bold.ttf") $ttf;
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url("Poppins/Poppins-Black.ttf") $ttf;
  font-weight: 900;
}