<section>
  <span *ngIf="today.length" class="text-emphasis">Aujourd'hui</span>
  <div *ngFor="let notification of today;let indexToday = index" class="todays-notifications flex">
    <div class="offer-logo flex center">
      <img [src]="notification.src" />
    </div>
    <span class="infos">
      {{notification.text}} <span class="timer">{{timerToday[indexToday]}}</span>
    </span>
  </div>
</section>

<section>
  <span *ngIf="month.length" class="text-emphasis">Ce mois</span>
  <div *ngFor="let notification of month; let indexHtml = index" class="monthly-notifications flex">
    <div class="offer-logo flex center">
      <img [src]="notification.src" />
    </div>
    <span class="infos">
      {{notification.text}} <span class="timer">{{timerMonth[indexHtml]}}</span>
    </span>
  </div>
</section>
