@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;


:host {
  @extend %page;
  padding: $notifications-padding !important;
  //less padding than normal padding
  font-size: .9em;
}

section {
  width: 100%;
}

.infos .timer {
  color: $light;
}

.offres-logo {
    margin-right: 0.5em;
    height: 51px;
    width: 51px;
}

.todays-notifications,
.monthly-notifications {
  padding-bottom: 1em;
  padding-top: 1em;
}
.todays-notifications:not(:last-child),
.monthly-notifications:not(:last-child) {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.infos {
  span {
    margin-left: 5px ;
    .timer {
      color: yellow;
    }
  }
}

.timer {
  font-size: 12px;
  color : $light;
}