<header class="clear-margin flex column full-width space-children-margin">
  <div class="text-light-emphasis">Mes missions</div>
  <div class="pick flex row">
    <searchbar class="grow"></searchbar>
    <img src="assets/Filtrer par.svg" (click)="openFilterMenu = true"/>
  </div>
  <ul class="tabs flex row full-width font-Poppins">
    <li class="center-text" [class.active]="activeView == 0" (click)="activeView = 0" >Vue liste</li>
    <li class="center-text" [class.active]="activeView == 1" (click)="activeView = 1" >Calendrier</li>
  </ul>
</header>

<div class="hosted-page space-children-margin content">
  
  <ng-container [ngSwitch]="activeView">
    <ng-container *ngSwitchCase="0">
      <offer *ngFor="let mission of missions"></offer>
    </ng-container>
    <horizantale-calendar class="space-children-margin" *ngSwitchCase="1"></horizantale-calendar>
  </ng-container>
</div>

<swipeup [(open)]="openFilterMenu" type="view">
  <form class="form-control hosted-view" view>
    <div class="form-input">
      <label>Date de validation</label>
      <input type="date"/>
      <img src="assets/calendar.png"/>
    </div>

    <div class="form-input">
      <label>Date de mission</label>
      <input type="date"/>
      <img src="assets/calendar.png"/>
    </div>

    <div class="form-input">
      <label>Adresse de chantier</label>
      <input type="date"/>
    </div>

    <div class="form-input">
      <label>Métier</label>
      <options></options>
    </div>

    <div class="form-input">
      <label>Type</label>
      <div class="flex row radio-container">
        <div class="radio-item">
          <box type="radio" class="grow" name="job-type"></box>
          Main d'oeuvre
        </div>
        <div class="radio-item">
          <box type="radio" class="grow" name="job-type"></box>
          Fourniture et pose
        </div>
      </div>
    </div>

    <div class="form-input">
      <label>Réorganiser la liste selon</label>
      <div class="switch-container flex center-cross">
        <span class="criteria">Mission clôturer</span> <switch></switch>
      </div>
      <div class="switch-container flex center-cross">
        <span class="criteria">Date de mission la plus proche à la plus lointaine</span>
        <switch></switch>
      </div>
      <div class="switch-container flex center-cross">
        <span class="criteria">Norifications suivi de chantier non lu</span> <switch></switch>
      </div>
    </div>
  </form>
</swipeup>