@import 'src/styles/variables';

:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-left: $sos-border-thickness solid transparent;
  height: $sos-card-height;
  padding: $sos-card-padding;
  font-size: 0.9em;

  box-shadow: 0 5px 3px 0 rgba(149, 157, 165, 0.2);
}

.presentation {
  flex-grow: 0;
  transform: scale(0.9);
  profile-image { transform: scale(0.9) rotate(45deg); }
}

.description {
  color: #aaa;
  & > span:not(:last-child) { margin-bottom: 1em; }
}

.job { color: black; }