<ng-container *ngIf="header; else customHeader" [ngTemplateOutlet]="defaultHeader">
</ng-container>

<ng-template #customHeader>
  <ng-content select='[customHeader]'></ng-content>
</ng-template>

<div class="flex column" [class.content]="!footer" [class.content-with-footer]="footer" #content>
  <ng-content select='[content]'></ng-content>
  <ng-container *ngIf="fromService" #view></ng-container>
</div>

<div class="footer full-width" *ngIf="footer">
  <ng-content select="[footer]"></ng-content>
</div>

<ng-template #defaultHeader>
  <header class="clear-margin full-width sticky-header flex center-cross">
    <img class="return" src="assets/arrowleft.svg" (click)="close()"><img>
    <span class="grow center-text text-light-emphasis">
      <span *ngIf="title else contentTitle">{{title}}</span>
    </span>
    <ng-template #contentTitle>
      <ng-content></ng-content> 
    </ng-template>
  </header>
</ng-template>

<!-- Make it a page -->
<ng-template #ratingMenu>
  <div class="hosted-page flex column center-cross space-children-margin" content>

    <!-- <profile-resume [company]="user.profile!.company" class="flex column center-cross space-children-margin"></profile-resume> -->

    <span class="full-width section " style="text-align: center;font-size: 12px; margin-bottom: 10px;">Demander une
      recommandation</span>
    <section class="full-width section modify-profile">
      <div class="company-rate">
        <span class="company-name">SARL</span>
        <div class="criterion ">
          <div class="flex center-cross">
            <span class="criterion-stars">CRITERE 1
            </span>
            <stars class="stars" value="3.9"></stars>
          </div>

          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore</span>

        </div>
        <div class="criterion ">
          <div class="flex center-cross">
            <span class="criterion-stars">CRITERE 1
            </span>
            <stars class="stars" value="3.9"></stars>
          </div>

          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore</span>

        </div>
        <div class="criterion ">
          <div class="flex center-cross">
            <span class="criterion-stars">CRITERE 1
            </span>
            <stars class="stars" value="3.9"></stars>
          </div>

          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore</span>
        </div>
      </div>
      <div class="company-rate">
        <span class="company-name">SARL</span>
        <div class="criterion ">
          <div class="flex center-cross">
            <span class="criterion-stars">CRITERE 1
            </span>
            <stars class="stars" value="3.9"></stars>
          </div>

          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore</span>

        </div>
        <div class="criterion ">
          <div class="flex center-cross">
            <span class="criterion-stars">CRITERE 1
            </span>
            <stars class="stars" value="3.9"></stars>
          </div>

          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore</span>

        </div>
        <div class="criterion ">
          <div class="flex center-cross">
            <span class="criterion-stars">CRITERE 1
            </span>
            <stars class="stars" value="3.9"></stars>
          </div>

          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore</span>
        </div>
      </div>
    </section>
  </div>
</ng-template>