@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 50;
  transition: transform 250ms ease-out 0s;
  transform: translateX(100%);
}

:host(.open) {
  transform: translateX(0);
}

.return {
  width: $navigation-arrow-icon-size;
  height: $navigation-arrow-icon-size;
}

.hosted-page {
  padding-top: 0;
}

.content {
  @extend %content-with-header;
  background: white;

  &::ng-deep > * { flex-shrink: 0; }
}

.footer {
  position: fixed;
  @include set-safe-area(bottom);
  left: 0;
  height: $sticky-footer-height;
  padding: 10px 20px;
  background: white;
}

.company-rate {
  font-family: "Roboto";
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px 0;
}
.company-name {
  font-weight: 800;
  color: #333333;
}

.criterion {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  .criterion-stars {
    font-size: 14px;
  }
  .stars {
    transform: scale(0.7);
  }
  span {
    color: #999999;
    white-space: normal;
  }
}