@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 50;
  transition: transform 250ms ease-out 0s;
  transform: translateX(100%);
}

:host(.open) {
  transform: translateX(0);
}

.hosted-page {
  padding-top: 0;
}

.content {  
  background: white;
  &::ng-deep > * { flex-shrink: 0;}
}

.header-only {
  @extend %content-with-header;
}

.content-with-small-footer {
  @extend %content-with-header-and-footer;
}

.content-with-mid-footer {
  @extend %content-with-header-and-mid-footer;
}

.content-with-big-footer {
  @extend %content-with-header-and-big-footer;
}
