<ng-container *ngIf="header; else customHeader" [ngTemplateOutlet]="defaultHeader">
</ng-container>

<ng-template #customHeader>
  <ng-content select='[customHeader]'></ng-content>
</ng-template>

<div class="flex column" [class.content]="!footer" [class.content-with-footer]="footer" #content>
  <ng-content select='[content]'></ng-content>
  <ng-container *ngIf="fromService" #view></ng-container>
</div>

<div class="footer full-width" *ngIf="footer">
  <ng-content select="[footer]"></ng-content>
</div>

<ng-template #defaultHeader>
  <header class="clear-margin full-width sticky-header flex center-cross">
    <img class="return" src="assets/arrowleft.svg" (click)="close()"><img>
    <div #ref><ng-content></ng-content></div> 
    <span class="grow center-text text-light-emphasis" *ngIf="ref.children.length == 0">
      {{title}}
    </span>
  </header>
</ng-template>