<ng-container *ngIf="header; else customHeader" [ngTemplateOutlet]="defaultHeader">
</ng-container>

<ng-template #customHeader>
  <ng-content select='[customHeader]'></ng-content>
</ng-template>

<div class="flex column content" [ngClass]="ngClass" #content>
  <ng-content select='[content]'></ng-content>
  <ng-container *ngIf="fromService" #view></ng-container>
</div>

<ng-template #defaultHeader>
  <header class="clear-margin full-width sticky-header flex center-cross white-header">
    <img src="assets/arrowlblack.svg" (click)="close()">
    <h1 class="grow center-text" *ngIf="title else contentTitle">
    {{title}}
    </h1>
    <ng-template #contentTitle>
      <ng-content></ng-content> 
    </ng-template>
  </header>
</ng-template>

