@use 'src/styles/mixins' as *;
.credit-card{
    background :  #0C5E8D;
    border-radius: 12px;
    color: #FFFFFF;
    padding: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    span{
        display: inline-block;
        margin: 0.8rem 0;
    }
}
.provider{
    justify-content: space-between;
}
.credit-type{
    font-weight: 700 !important;
}

.circlwhite{
    margin: 0 3px;
    @include circle(6px, #FFFFFF);
}

.four-digits{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .2rem;
    margin-left: .5rem !important;
}
.name{
    font-weight: lighter;
}

