:host {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
}

$border-width: 1px;
$border-color: hsl(249, 20%, 86%);
$tabs-background-color: hsl(220, 38%, 97%);
$tab-background-color: hsl(220, 38%, 97%) ;
$tab-active-background-color: white;

.tabs {
  list-style-type: none;
  background-color: $tabs-background-color;
}

.tab {

  background-color: $tab-background-color;
  padding: 8px;
  border-left: none ;
  border-right: none ;
  border-bottom: none !important;
  text-align: center;
  color :#454545;

}

.active {
  color : #1C110D;
  background-color: $tab-active-background-color;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: #0C5E8D;
}
