@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;

:host {
  font-family: "Roboto";
  display: block;
  width: 100%;
}

.calendar {
  flex-flow: column;
  width: 100%;
}

.header-calendar {
  align-content: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  h1 {
    color: #1e2843;
  }

  .btn-next {
    margin-left: 1rem;
  }
}
.wrapper-calendar {
  margin: 0.25rem;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $bg-white;
  padding: 10px;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    color: $dark;    
  }
}

ol {
  row-gap: 1rem;
  list-style: none;
  display: grid;
  justify-items: center;
  margin-bottom: 5px;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}

.day-name {
  font-size: 14px;
  margin-bottom: 2px;
  text-align: center;
}

.calendar-action {
  justify-content: space-around;
  img {
    height: 1.5em;
  }
}

.header-calendar h1 {
  width: 100%;
  font-size: 14px;
}

.header-calendar button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

%bgcolor {
  color: $bg-white !important;
  border-radius: 50%;
}

::ng-deep {
  .available {
    background-color: $available;
    @extend %bgcolor;
  }
  .availablelimits {
    background-color: $availableWithLimits;
    @extend %bgcolor;
  }
  
  .unavailable {
    background-color: $unavailable;
    @extend %bgcolor;
  }
  
  .selected {
    background-color: $primary;
    @extend %bgcolor;
  }

  .notification {
    background-color: red;
    @extend %bgcolor
  }
  
  .nothing {
    background-color: $bg-white;
    @extend %bgcolor;
  }

  .preselected, .preselected.selected {
    background-color: $bg-white;
    color: $dark!important;
    border-radius: 50%;
    border: 2px solid #1e2843;
    width: 21px;
    height: 21px;
  }
}

.blocked-date {
  background: unset;
  pointer-events: none;
  color: $light!important;
  // @extend %bgcolor;
}