<div class="calendar flex center">
	<div class="header-calendar full-width flex center">

		<h1>{{dateSelect.format('MMMM, yyyy') | titlecase}}</h1>
		<div class="calendar-action flex">
			<button (click)="changeMonth(-1)" class="btn-prev"><img src="assets/arrowleft.svg" /> </button>

			<button (click)="changeMonth(1)" class="btn-next"><img src="assets/arrowright.svg" /></button>
		</div>
	</div>
	<div class="wrapper-calendar full-width">
		<ol class="grid">
			<li *ngFor="let day of week; let index = index" class="day-name center-text">{{day | slice:0:1}}</li>
			<li (click)="onDayClicked(index, day.date, $event)"
				[style.gridColumnStart]="first ? day?.indexWeek : 'auto'"
				*ngFor="let day of monthSelect;let first = first; let index = index" [class]="day.availability" class="center-text">
				{{day?.value}}
			</li>
		</ol>
	</div>
</div>