@import "src/styles/mixins";
@import "src/styles/variables";

:host {
  font-family: "Roboto";
  display: block;
  width: 100%;
}

.calendar {
  flex-flow: column;
  width: 100%;
}

.header-calendar {
  align-content: center;
  justify-content: space-between;
  h1 {
    color: #1e2843;
  }
}
.wrapper-calendar {
  margin: 0.25rem;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fafafa;
  padding: 10px;
  li {
    height: 25px;
    width: 25px;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    color: #1e2843;    
  }
}

ol {
  row-gap: 1rem;
  list-style: none;
  display: grid;
  margin-bottom: 5px;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 4px;
  padding: 0;
}

.day-name {
  font-size: 14px;
  margin-bottom: 2px;
  text-align: center;
}

.calendar-action {
  justify-content: space-around;
  img {
    height: 1.5em;
  }
}

.header-calendar h1 {
  width: 100%;
  font-size: 14px;
}

.header-calendar button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

%bgcolor {
  color: #ffffff !important;
  border-radius: 50%;
}

::ng-deep {
  .available {
    background-color: $available;
    @extend %bgcolor;
  }
  .availablelimits {
    background-color: $availableWithLimits;
    @extend %bgcolor;
  }
  
  .unavailable {
    background-color: $unavailable;
    @extend %bgcolor;
  }
  
  .selected {
    background-color: #1e2843;
    @extend %bgcolor;
  }
  
  .nothing {
    background-color: white;
    @extend %bgcolor;
  }
}