@import "../../../styles/mixins";
@import "../../../styles/variables";

:host {
    font-family: "Roboto";
}
.calendar {
    flex-flow: column;
    width: 100%;
    padding: 20px 0;
}
.header-calendar {
    width: 80%;
    align-content: center;
    justify-content: space-between;
    h1 {
        color: #1e2843;
    }
}
.wrapper-calendar {
    width: 80%;
    margin: 0.25rem;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fafafa;
    padding: 10px;
    li {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 0.8rem;
        cursor: pointer;
        text-align: center;
        line-height: 1.5rem;
        color: #1e2843;                        
    }
}

ol {
    row-gap: 1rem;
    list-style: none;
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: repeat(7, 1fr);
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 4px;
    padding: 0;
}

.day-name {
    font-size: 14px;
    margin-bottom: 2px;
    text-align: center;
}

.calendar-action {
    justify-content: space-around;
    img {
        height: 1.5em;
    }
}

.header-calendar h1 {
    width: 100%;
    font-size: 14px;
}

.header-calendar button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
}
%bgcolor {
    color: #ffffff;
    border-radius: 50%;
}

.available {
    background-color: $available;
    @extend %bgcolor;
}
.availablelimits {
    background-color: $availableWithLimits;
    @extend %bgcolor;
}
.unavailable {
    background-color: $unAvailable;
    @extend %bgcolor;
}

%before-element {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.disponible::before {
    @extend %before-element;
    @include circle(1.2em, $available);
}
.sous-conditions::before {
    @extend %before-element;
    @include circle(1.2em, $availableWithLimits);
}
.pas-disponible::before {
    @extend %before-element;
    @include circle(1.2em, $unAvailable);
}
.non-renseigne::before {
    @extend %before-element;
    @include circle(1.1em, #fafafa);
    border: 1px solid black;
}
