<div class="cover" [class.open]="open && !willClose"></div>

<div class="menu cover-parent background-white flex column center space-children-margin center-text" [class.open]="open && !willClose">
  <img src="assets/X.svg" (click)="close(); clearInput(newTaskForm)" class="position-absolute close-button"/>
  <ng-container #view>
    <ng-content></ng-content>
  </ng-container>
</div>

<ng-template #delete let-output>
  Voudriez-vous supprimer l'annonce ?
  <hr class="dashed" style="margin-left: 0 !important"/>
  <div class="controls full-width flex space-around">
    <button class="button active" (click)="output && output.next(true)">Confirmer</button>
    <button class="button passive" (click)="output && output.next(false)">Annuler</button>
  </div>
</ng-template>

<ng-template #sign let-signature>
  <file-viewer [fileContext]="signature.fileContext" class="grow"></file-viewer>
  <button *ngIf="!signature.signedByProfile" class="button active" id="signer" (click)="actionSign(signature.missionId, signature.view)">Signer</button>
</ng-template>

<ng-template #closeMission let-context>
  <label>Noter l'entreprise {{ context.name }}</label>
  <label>Confirmer-vous la clôture de cette mission ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer</button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>

<ng-template #validateCandidate let-context>
  <img src="assets/valider.svg" class=""validateImage>
  <label>Vous avez bien validé la candidature de  {{ context.name }}</label>
  <label>Veuillez confirmez votre opération pour recevoir le contrat !</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer</button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>

<ng-template #refuseCandidate let-context>
  <label>Souhaitez-vous refuser la candidature de {{ context.name }} ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je refuse</button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>

<ng-template #blockCandidate let-context>
  <label>Souhaitez-vous bloquer {{ context.name }} ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je bloque</button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>

<ng-template #boostPost let-context>
  <label class='boostPostLabel' *ngIf="context.duration != 0">Êtes-vous sûr de vouloir <span class='boostStrong'> Booster </span> cette annonce à l'adresse {{ context.address }} pour <span class='boostStrong'> {{ context.duration }} jours </span> ?</label>
  <label class='boostPostLabel' *ngIf="context.duration == 0">Êtes-vous sûr de vouloir <span class='boostStrong'> Booster </span>  cette annonce à l'adresse {{ context.address }} jusqu'à la date d'échéance de l'annonce ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je confirme </button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>

<ng-template #onApply let-context>
  <label class="postuleLabel">Vous êtes sur le point de postuler à l'offre <span class='boostStrong'> {{ context.address }} </span> au sein de l'entreprise <span class='boostStrong'> {{ context.name }}</span> du {{context.startDate}} au {{context.endDate}}?</label>  
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer </button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>

<ng-template #onApplyConfirm let-context>
  <img src="assets/valider.svg" class=""validateImage>
  <label>Votre candidature a bien été prise en compte !</label>  
  <label>L'entreprise reviendra vers vous dans les plus brefs délais</label>  
</ng-template>

<ng-template #newFile let-context>
  <label class="postuleLabel">Veuillez ajouter une date pour le document <span class='boostStrong'> {{ context.name }} </span> </label>  
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="close()">OK</button>
  </div>
</ng-template>

<ng-template #deleteFile let-context>
  <label class="postuleLabel">Souhaitez-vous supprimer le document <span class='boostStrong'> {{ context.name }} </span> ?</label>  
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je supprime </button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>

<ng-template #deleteCandidate let-context>
  <label class="postuleLabel">Vous êtes sur le point de retirer votre candidature à l'offre <span class='boostStrong'> {{ context.address }} </span> au sein de l'entreprise <span class='boostStrong'> {{ context.name }}</span> ?</label>  
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer </button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>

<ng-template #missKbis let-context>
  <label class="postuleLabel">Veuillez ajouter le document <span class='boostStrong'>Kbis</span>  pour accéder à <span class='boostStrong'> {{context.phrase}} </span></label> 
  <!-- <label class="postuleLabel" *ngIf="context.actualView == 'ST'">Veuillez ajouter le document <span class='boostStrong'>Kbis</span>  pour accéder à <span class='boostStrong'> Annonces qui peuvent vous intéresser</span></label>    -->
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="close()">OK</button>
  </div>
</ng-template>

<ng-template #signContractKbis let-context>
  <label class="postuleLabel">Veuillez vérifier que votre <span class='boostStrong'> Kbis </span>  est bien à jour.</label>  
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="close()">OK</button>
  </div>
</ng-template>