<div class="cover" [class.open]="open && !willClose"></div>

<div class="menu cover-parent background-white flex column center space-children-margin center-text" [class.open]="open && !willClose">
  <img src="assets/X.svg" (click)="close()" class="position-absolute close-button"/>
  <ng-container #view>
    <ng-content></ng-content>
  </ng-container>
</div>

<ng-template #delete let-output>

  Voudriez-vous supprimer l'annonce ?
  <hr class="dashed" style="margin-left: 0 !important"/>
  <div class="controls full-width flex space-around">
    <button class="button active" (click)="output && output.next(true)">Confirmer</button>
    <button class="button passive" (click)="output && output.next(false)">Annuler</button>
  </div>
</ng-template>

<ng-template #sign let-signature>
  <file-viewer [fileContext]="signature.fileContext" class="grow"></file-viewer>
  <button *ngIf="!signature.signedByProfile" class="button active" id="signer" (click)="actionSign(signature.missionId, signature.view)">Signer</button>
</ng-template>

<ng-template #setDate let-assignDate>
  <div class="main-date" #tache>
    <div class="header-container">
      <h3 class="title-date">Le {{assignDate.datePost.date}}</h3>
      <!-- <img src="assets/X.svg" (click)="close()"/> -->
    </div>

    <img class="hero-img" src="assets/popup-contrat.svg" alt="contrat">
    
    <label class="subtitle-date">Choisissez les tâches du jour :</label>
    <ul id="list-date">
      <li *ngFor="let task of assignDate.date.taskWithoutDouble" [ngClass]="{'disabled': disableCheckbox(task, assignDate.date)}">
        <checkbox (click)="modifyDetailedPostDate(task, assignDate.date, assignDate.missionId, checkbox)" [value]="checkedCheckbox(task, assignDate.date)" #checkbox></checkbox>
        <span (click)="modifyDetailedPostDate(task, assignDate.date, assignDate.missionId, checkbox); checkbox.onChange($event)">{{ task.content }}</span>
      </li>
    </ul>
    <form (ngSubmit)="addNewTask($event, assignDate, addTask)" [formGroup]="newTaskForm">
      <input id="addTask" type="text" placeholder="Ajouter une nouvelle tâche" formControlName="task" #addTask>
    </form>
  </div>
</ng-template>

<ng-template #closeMission let-context>
  <!-- <img src="assets/X.svg" (click)="close()" class="position-absolute close-button"/> -->
  <label>Noter l'entreprise {{ context.name }}</label>
  <label>Confirmer-vous la clôture de cette mission ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer</button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>