<div class="cover" [class.open]="open && !willClose"></div>

<div class="menu cover-parent background-white flex column center space-children-margin center-text" [class.open]="open && !willClose">
  <img src="assets/X.svg" (click)="close()" class="position-absolute close-button"/>
  <ng-container #view>
    <ng-content></ng-content>
  </ng-container>
</div>

<ng-template #delete let-output>

  Voudriez-vous supprimer l'annonce ?
  <hr class="dashed" style="margin-left: 0 !important"/>
  <div class="controls full-width flex space-around">
    <button class="button active" (click)="output && output.next(true)">Confirmer</button>
    <button class="button passive" (click)="output && output.next(false)">Annuler</button>
  </div>
</ng-template>

<ng-template #sign let-signature>
  <file-viewer [fileContext]="signature.fileContext" class="grow"></file-viewer>
  <button *ngIf="!signature.signedByProfile" class="button active" id="signer" (click)="actionSign(signature.missionId, signature.view)">Signer</button>
</ng-template>

<ng-template #setDate let-assignDate>
  <div class="main-date" #tache>
    <div class="header-container">
      <h3 class="title-date">Le {{assignDate.PostDateAvailableTask.date}}</h3>
    </div>

    <img class="hero-img" src="assets/popup-contrat.svg" alt="contrat">
    
    <label class="subtitle-date">Choisissez les tâches du jour :</label>
    <ul id="list-date">
      <li *ngFor="let detailedPost of assignDate.PostDateAvailableTask.allPostDetails" [ngClass]="{'disabled': disableCheckbox(detailedPost, assignDate.date)}">
        <checkbox (click)="modifyDetailedPostDate(detailedPost, assignDate.date, assignDate.missionId, checkbox)" [value]="checkedCheckbox(detailedPost.allPostDetails, assignDate.postDetails)" #checkbox></checkbox>
        <span (click)="modifyDetailedPostDate(detailedPost, assignDate.date, assignDate.missionId, checkbox); checkbox.onChange($event)">{{ detailedPost.content }}</span>
      </li>
    </ul>
    <form (ngSubmit)="addNewTask($event, assignDate, addTask)" [formGroup]="newTaskForm">
      <input id="addTask" type="text" placeholder="Ajouter une nouvelle tâche" formControlName="task" #addTask>
    </form>
  </div>
</ng-template>

<ng-template #closeMission let-context>
  <label>Noter l'entreprise {{ context.name }}</label>
  <label>Confirmer-vous la clôture de cette mission ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer</button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>

<ng-template #validateCandidate let-context>
  <label>Vous avez bien validé la candidature de  {{ context.name }}</label>
  <label>Veuillez confirmez votre opération pour recevoir le contrat !</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Confirmer</button>
    <button class="button passive" (click)="close()">Annuler</button>
  </div>
</ng-template>

<ng-template #refuseCandidate let-context>
  <label>Souhaitez-vous refuser la candidature de {{ context.name }} ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je refuse</button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>

<ng-template #blockCandidate let-context>
  <label>Souhaitez-vous bloquer {{ context.name }} ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je bloque</button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>

<ng-template #boostPost let-context>
  <label *ngIf="context.duration != 0">Êtes-vous sûr de vouloir <strong> Booster </strong> cette annonce à l'adresse {{ context.address }} pour {{ context.duration }} jours ?</label>
  <label *ngIf="context.duration == 0">Êtes-vous sûr de vouloir <strong> Booster </strong> cette annonce à l'adresse {{ context.address }} jusqu'à la date d'échéance de l'annonce ?</label>
  <div style="height:5%;"></div>
  <div class="controls cloture">
    <button class="button active" (click)="openActionClose(context)">Oui, je confirme </button>
    <button class="button passive" (click)="close()">Non, merci</button>
  </div>
</ng-template>