@import 'src/styles/variables';
@import 'src/styles/mixins';


:host {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100%;
  display: flex; align-items: center; justify-content: center;
  color: black;
  font-family: "Poppins";
  overflow: hidden auto;
  visibility: hidden;
}

:host(.open) {
  visibility: visible;
  z-index: 1000;
}

.cover {
  z-index: -1;
  position: fixed;
  width: 100vw; left: 0;
  height: 100vh; top: 0;
  background-color: #ccc;
  opacity: 0;
  transition: opacity 200ms ease-out 0s;

  &.open {
    opacity: 0.5;
  }
}

.menu {
  box-shadow: 0 3px 6px 0 #aaa;
  opacity: 0;
  transition: opacity 200ms ease-out 0s;
  border-radius: 5px;
  height: 100%;

  &.open {
    opacity: 1;
  }
}

.close-button {
  right: 15px; top: 15px;
}

.date::ng-deep { color: $secondaryBackground; }

.mainDate {
  display:flex;
  flex-direction:column;
  width:100%;
  height:100%;
}

.titleDate {
  width:80%;
  height:50px;
  width:90%;
  color: #0D6191;
  margin: 20px;
  text-align: left;
}

.subtitleDate{
  text-align: left;
  margin: 20px;
}

#listDate {
  width:95%;
  padding-left:2.5%;
  box-shadow: 0px 3px 6px #00000029;
  max-height: 80%;
  overflow-y: scroll;
}
.liDate {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:5%;
  width:90%;
  padding-bottom:5%
}

#addTask {
  width: 90%;
  margin-left:5%;
  margin-top:20px;
}

.setDateTask {
  text-align: left;
  width:90%
}