@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;


:host {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100%;
  min-height: 40rem;
  display: flex; align-items: center; justify-content: center;
  color: $dark;
  font-family: "Poppins";
  overflow: hidden auto;
  visibility: hidden;
}

ul, li {
  list-style: none;
}

:host(.open) {
  visibility: visible;
  z-index: 200000;
}

.cover {
  z-index: -1;
  position: fixed;
  width: 100vw; left: 0;
  height: 100vh; top: 0;
  background-color: $light-light;
  opacity: 0;
  transition: opacity 200ms ease-out 0s;

  &.open {
    opacity: 0.5;
  }
}

.menu {
  box-shadow: 0 3px 6px 0 $light;
  opacity: 0;
  transition: opacity 200ms ease-out 0s;
  border-radius: 5px;
  height: 100%;

  &.open {
    opacity: 1;
  }
}

.close-button {
  right: 2rem; top: 2rem;
}

#signer {
  margin-bottom: 1rem;
}

.blockCandidate, .refuseCandidate {
  height:50px;
}

// .date::ng-deep { color: $secondaryBackground; }


.setDateTask {
  text-align: left;
  width:90%
}

.cloture {
  display: flex;
  flex-direction: column;
  row-gap: $spacer-150;
  width: 12rem;
}

#addTask {
  padding-right: 2rem;
}
#check-task {
  width: 1.5rem;
  position: absolute;
  right: 2rem;
}

////

.main-date {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  height: 100%;

  row-gap: 1rem;
}


.header-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  .title-date{
    color: $primary;

  }

  img{
    display: inline;
    margin-left: auto;
  }  
}

.hero-img {
  width: 80%;
  align-self: center;
}

#list-date {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;

  max-height: 14.5rem;
  overflow-y: scroll;

  li {
    display: flex;
    span {
      margin-left: 1rem;
      text-align: initial;
      word-break: break-all;
    }
  }
}

form {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #00000029;
  input {
    width: 100%;
  }
}

.disabled {
  pointer-events: none;
}

.validateImage{
  padding-bottom: 5rem;
}

.boostPostLabel, .postuleLabel{
  padding-right: 2rem;
  padding-left: 2rem;
}

.boostStrong{
  color:#0D6191;
  font-weight: bold;
}