<google-map
  height="500px"
  width="90%"
  class="flex center"
 
>
</google-map>

<main class="cover-parent ">
    <div class="offres auto-margin-x flex center" >
        <div class="offres-infos">
            <p class="entreprise">Nom de l'entreprise</p>
            <p class="metier">Fourniture et pose</p>
            <p class="adresse">Adresse du chantier</p>
            <p class="date">Adresse du chantier</p>
        </div>
        <div class="offres-logo flex center">
            <img src="../../assets/confirmation.svg"/>
        </div>
    </div>
</main>