<p *ngIf="!fileContext; else showFile"> Aucun fichier à afficher. </p>

<ng-template #showFile>
    <ng-container *ngIf="fileContext.type.startsWith('image') || fileContext.type.endsWith('pdf'); then image; else object"></ng-container>

    <ng-template #image>
      <ng-container *ngFor="let safeUrl of fileContext.safeUrl" >
        <img class="embedded-image" [src]="safeUrl" (click)="openModalImage(safeUrl)"/>
      </ng-container>
    </ng-template>

    <ng-template #object>
      <object class="embedded-object cover-parent flex center" [type]="fileContext.type" [attr.data]="fileContext.safeUrl[0]">
        <ng-container [ngTemplateOutlet]="fallback"></ng-container>
      </object>
    </ng-template>

    <ng-template #fallback>
      <div>
        Ne peut pas afficher le PDF dans l'application
        <div class="external-links" (click)="openWindow(fileContext.url[0])">
          Ouvrir le PDF localement.
        </div>
      </div>
    </ng-template>
</ng-template>

<ng-container modal>
  <div class="modal" [ngClass]="displayModal ? 'displayed' : 'hidden'" (click)="closeModalImage()">
    <modal-image [src]="modalImage"></modal-image>
  </div>
</ng-container>
