
<div class="flex"  *ngIf="direction == 'horizontal'; else vertical" >
    <ol >
        <li *ngFor="let tache of tacheList; index as i;" class="flex timeline-horizontal" 
        (click)="changeTacheIndex(i)" [class.active]="tacheIndex == i">
            <div class="circle" >

            </div>
            <span class="data"> {{tache.name}}</span>
        </li>
        
    </ol>
</div>

<ng-template #vertical>
    <div class="flex">
        <ol class="flex vertical">
            <li *ngFor="let tache of tacheList; index as i;" class="flex timeline-vertical" 
            (click)="changeTacheIndex(i)" [class.active]="tacheIndex == i">
            <span class="data"> {{tache.name}}</span>
            <div class="circle" >

            </div>
            </li>
            
        </ol>
    </div>
</ng-template>