:host {
    display: block;
}

.timeline-horizontal {
    position: relative;
    gap: 1.5rem;
    padding-bottom: 5rem;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    
}
.timeline-horizontal:not(:last-child)::before{
    content: "";
    position: absolute;
    top:20px;
    left:10px;
    height: 5rem;
    width: 2px;
    background-color: #d3d3d3;
}

.timeline-vertical {
    flex: 0 0 auto;
    position: relative;
    list-style-type: none;
    flex-direction: column;
    margin-right: 5rem;
    cursor: pointer;
    span {
        font-size: 1.1rem;
    }
    .data {
        margin-bottom: 0.3rem;
    }
}
.timeline-vertical:not(:last-child)::before{
    content: "";
    position: absolute;
    bottom: 10px;
    height: 2px;
    left: 50%;
    width: calc(100% + 5rem);
    z-index: -1;
    background-color: #d3d3d3;
    
}

.circle {
    position: relative;
    left: 50%;
    height: 20px;
    width: 20px;
    background-color: #d3d3d3;
    border-radius: 50%;
    border: 1px solid #d3d3d3;
}
.active {
    div {
        background-color: #0D5A87 ;
    }
    span {
        color: #0D5A87;

    }
    // &.timeline:not(:last-child)::before{
    //     content: "";
    //     position: absolute;
    //     top:20px;
    //     left:10px;
    //     height: 3rem;
    //     width: 2px;
    //     background-color: #0D5A87;
        
    // }
}
.vertical {
    overflow-x: hidden;
}