@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  @extend %page;
}

.euro {
  &::after {
    content: "€";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}