@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
    @extend %page;
    background: white !important;

}
.abonnement {
    background: #ffffff !important;
    color: $mainColor;
}

abonnement-card {
    width: 100%;
}

page-header::ng-deep header {
    background-color: $bg-white !important;
    border-bottom: 1px solid #e5e5e5;
}
page-header::ng-deep .tabs {
    li {
        position: relative;
        top: 1px;
        border: 1px solid #e5e5e5;
        border-bottom: none !important;
    }
}

.caroussel {
    position: relative;
    display: flex;
    overflow-y: scroll;
    padding: 1rem 0;
    scroll-snap-type: y mandatory;
    div {
        flex: 2 0 310px;
        margin-left: 0.5rem;
        margin-right: 0.5rem !important;
        scroll-snap-align: start;
        padding: 1rem 0;
    }
}


.thiscenterclass {
    position: relative;
    .thischild {
        margin-top: 1rem;
        position: absolute;
        top: -20px;
        scroll-snap-align: center;
    }
}
.caroussel-button {
    background: $bg-white !important;
    position: fixed;
    bottom: 0;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    button {
        background: none !important;
    }
}
::-webkit-scrollbar {
    display: none;
}

h4 {
    font-weight: 500;
}
.plans-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    font-weight: 300;
}

.plans__plan {
    column-gap: 1rem;
}

.radio {
    flex-shrink: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border: 1px #707070 solid;
    border-radius: 50%;
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-active {
        border-color: $primary;

        &::after {
            content: '';
            display: block;
            background-color: $primary; 
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
        }
    }
}

.highlight {
    color: $primary;
    font-weight: 500;
}

.sticky-footer {
    @extend %sticky-footer;
    border-top: 1px solid rgb(207, 207, 207);
}