<span style="margin: 2rem 2rem; display: block;">Sélectionnez un service</span>

    <div class="caroussel ">
      <div class="margleft"> 
        <abonnement-card (openEngagment)="onOpenEngagement($event)" [subscriptionType]="0" [abonnement]="abonnement[0]"></abonnement-card>
      </div>
      <div class="thiscenterclass"> 
        <abonnement-card (openEngagment)="onOpenEngagement($event)" class="thischild" [subscriptionType]="1" [abonnement]="abonnement[1]"></abonnement-card>
        
      </div>
      <div>
        <abonnement-card (openEngagment)="onOpenEngagement($event)" [subscriptionType]="2" [abonnement]="abonnement[2]"></abonnement-card>
      </div>
  </div>
<div class="caroussel-button" >
  <button class="flex center"
  (click)="scrollRight()"
  ><img src="assets/arrowleft.svg" alt=""></button>
  <button class="flex center"
  (click)="scrollLeft()"
  ><img src="assets/arrowright.svg" alt=""></button>
</div>

<slidemenu [(open)]="openEngagment" #engagment>
    <h1 class="center-text full-width" header>Gérer mes abonnements</h1>  
    <div *ngIf="openEngagment" class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <h4>Sélectionnez un plan : </h4>
      <div class="plans-container">
        <div class="plans__plan flex row" (click)="selectEngagement(0)">
          <button class="radio" [ngClass]="{'radio-active': selectedEngagmentLength == 0}"></button>
          <div class="plan__text">Engagement 3 mois pour {{abonnement[currentAbonnementId].monthlyPrice}}€ / mois ({{abonnement[currentAbonnementId].monthlyPrice / 2}}€ au premier engagement)</div>
        </div>
        <div class="plans__plan flex row"(click)="selectEngagement(1)">
          <button class="radio "[ngClass]="{'radio-active': selectedEngagmentLength == 1}"></button>
          <div class="plan__text">Engagement 6 mois pour {{abonnement[currentAbonnementId].monthlyPrice * .9}}€ / mois ({{abonnement[currentAbonnementId].monthlyPrice *.9/ 2}}€ au premier engagement)</div>
        </div>
        <div class="plans__plan flex row"(click)="selectEngagement(2)">
          <button class="radio"[ngClass]="{'radio-active': selectedEngagmentLength == 2}"></button>
          <div class="plan__text">Engagement 12 mois pour {{abonnement[currentAbonnementId].monthlyPrice * .8}}€ / mois ({{abonnement[currentAbonnementId].monthlyPrice *.8/ 2}}€ au premier engagement)</div>
        </div>
      </div>
      <footer>
        <button class="button active" (click)="(selectedEngagmentLength != -1) && openEngagmentPage = true">J'en profite</button>
      </footer>
    </div>
  </slidemenu>
  <slidemenu [(open)]="openEngagmentPage">
    <h1 class="center-text full-width" header>Gérer mes abonnements</h1>  
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <!-- <engagement [abonnement]="abonnement[currentAbonnementId]" [engagmentLength]="selectedEngagmentLength"></engagement> -->
    </div>
  </slidemenu>

