<span style="margin: 2rem 2rem; display: block;">Sélectionnez un service</span>

    <div class="caroussel ">
      <div class="margleft"> 
        <abonnement-card (openEngagment)="onOpenEngagement($event)" [subscriptionType]="0" [abonnement]="abonnement[0]"></abonnement-card>
      </div>
      <div class="thiscenterclass"> 
        <abonnement-card (openEngagment)="onOpenEngagement($event)" class="thischild" [subscriptionType]="1" [abonnement]="abonnement[1]"></abonnement-card>
        
      </div>
      <div>
        <abonnement-card (openEngagment)="onOpenEngagement($event)" [subscriptionType]="2" [abonnement]="abonnement[2]"></abonnement-card>
      </div>
  </div>
<div class="caroussel-button" >
  <button class="flex center"
  (click)="scrollRight()"
  ><img src="assets/arrowleft.svg" alt=""></button>
  <button class="flex center"
  (click)="scrollLeft()"
  ><img src="assets/arrowright.svg" alt=""></button>
</div>

<slidemenu [(open)]="openEngagment" #engagment>
    <h1 class="center-text full-width" header>Test</h1>  
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
        <engagement [abonnementId]="currentAbonnementId" [abonnement]="abonnement[currentAbonnementId]"></engagement>
    </div>
</slidemenu>