<span style="margin: 2rem 2rem; display: block;">Sélectionnez un service</span>

    <div class="caroussel ">
      <div class="margleft"> 
        <abonnement-card (openEngagment)="onOpenEngagement($event)" [subscriptionType]="0" [abonnement]="abonnement[0]"></abonnement-card>
      </div>
      <div class="thiscenterclass"> 
        <abonnement-card (openEngagment)="onOpenEngagement($event)" class="thischild" [subscriptionType]="1" [abonnement]="abonnement[1]"></abonnement-card>
        
      </div>
      <div>
        <abonnement-card (openEngagment)="onOpenEngagement($event)" [subscriptionType]="2" [abonnement]="abonnement[2]"></abonnement-card>
      </div>
  </div>
<div class="caroussel-button" >
  <button class="flex center"
  (click)="scrollRight()"
  ><img src="assets/arrowleft.svg" alt=""></button>
  <button class="flex center"
  (click)="scrollLeft()"
  ><img src="assets/arrowright.svg" alt=""></button>
</div>

<slidemenu [(open)]="openEngagment" #engagment>
    <h1 class="center-text full-width" header>Gérer mes abonnements</h1>  
    <div *ngIf="openEngagment" class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <h4>Sélectionnez un plan : </h4>
      <div class="plans-container">
        <div class="plans__plan flex row">
          <button class="radio"></button>
          <div class="plan__text">Engagement 3mois Lorem ipsum dolor sit amet consectetur adipisicing.</div>
        </div>
      </div>
    </div>
    <!-- <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
        <engagement [abonnementId]="currentAbonnementId" [abonnement]="abonnement[currentAbonnementId]"></engagement>
    </div> -->
</slidemenu>