<main class="confirmation-pages cover-parent flex column center-cross center-text">
    <p>
        Un mail de confirmation vous a été envoyé sur l’adresse mail<br />
        <span class="email">{{userEmail}}</span> <br/><br/>
        Veuillez cliquer sur le
        lien dans votre mail pour valider votre compte est accéder aux fonctionnalités de l’application
    </p>
    <img src="/assets/ImageConfirmationMail.svg" />
    <div class="help">
        <a class="external-links">Je n’ai pas reçu le mail ? Envoyer un deuxième mail</a><br/>
        <a class="external-links" [routerLink]="['', 'home']">Vérifier mes informations !</a>
    </div>
</main>