@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;
@use 'src/styles/responsive' as *;

:host {
  display: block;

  @include from($mobile) {
    background: white;
    switch { display: none; }
  }
}

.blue {
  color: $secondaryBackground;
}

span {
  font-family: "Roboto";
  font-weight: 300;
}