<section class="section">
  <!-- <profile-image [profile]="profile" [style.--color1]="color1" [style.--color2]="color2" [style.--color3]="color3" [style.--color4]="color4"></profile-image> -->
  <profile-image [profile]="profile"></profile-image>
  <img *ngIf="canChangePicture" src="assets/icons/modify.svg" class="modify-icon image" (click)="changePicture.emit()"/>
</section>

<section class="quick-intro flex column center-cross small-space-children-margin">
  <ng-container *ngIf="profile.user && showMore">
    <switch *ngIf="switch"
      off="Profil ST" on="Profil PME"  style="text-align: center;"
      [value]="(view$ | async) == 'PME'" 
      (valueChange)="changeProfileType($event)"
      [disabled]="!profile.user || (profile.company.role !== 3 || null)">
    </switch>
    <h3 class="text-light-emphasis">{{
      (profile.user ? (profile.user.firstName + " " + profile.user.lastName) : profile.company.name) | titlecase
    }}</h3>
    <span *ngIf="!ratingDetails">{{ profile.user!.username }}</span>
    <span *ngIf="!ratingDetails">{{ profile.user!.cellPhone | space: 2:1 }}</span>
    <stars *ngIf="star" (click)="ratingsClicked.emit()" value="{{ (view$ | async) == 'ST' ? profile.company.starsST : profile.company.starsPME }}" disabled></stars>
  </ng-container>
</section>
<ng-content></ng-content>