@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  display: block;

  @include from($mobile) {
    background: white;
    switch { display: none; }
  }
}

.blue {
  color: $secondaryBackground;
}