<div class="docusign  flex column space-children-margin">
    <div class="flex column center text full-width space-children-margin">
        <span >Bonjour {{ userName | titlecase }}.</span>
        <h3> Vous avez reçu un contrat a signe sur votre 
            boite Mail : <br><span>
                {{ userMail | lowercase}}
            </span>
        </h3>
    </div>
    
    <div class="flex center  full-width link">
        <button class="button active text-emphasis">
            <a href="mailto:"  
            >
            Ouvrir le mail
            </a>
        </button>
    </div>
    

</div>
<footer class="flex space-arround center">
    <h3>
        BatiUni&copy;
    </h3>
    &
    <h3>
        DocuSign&copy;
    </h3>
</footer>