<ng-container *ngIf="(view$ | async) as view">
  <ng-container *ngIf="(profile$ | async) as profile">
    <page-header [name]="view == 'PME' ? 'Mes Annonces' : 'Annonces qui peuvent vous intéresser'" [tabs]="view == 'PME' ? 3 : 2" [(activeView)]="activeView" (filterClicked)="openAdFilterMenu = true">
      <span tab_0>{{ view == 'PME' ? 'Brouillon' : 'Vue liste' }}</span>
      <span tab_1>{{ view == 'PME' ? 'En ligne' : 'Carte' }}</span>
      <span tab_2>Validées</span>
    </page-header>
    
    <div class="hosted-page space-children-margin page-content-with-tabs">
      <!-- Page pour PME -->
      <ng-container *ngIf="view == 'PME'; else stview">
        <ng-container *ngIf="(posts$ | async) as posts" [ngSwitch]="activeView">
          <ng-container *ngSwitchCase="0">
            <offer
              *ngFor="let draft of userDrafts"
              src="assets/brouillon.svg"
              [deletable]="true"
              [post]="draft"
              (click)="openDraft(draft)"
              ></offer> 
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <offer
              *ngFor="let onlinePost of userOnlinePosts"
              src="assets/enligne.svg"
              [showCandidate]="view == 'PME'"
              [deletable]="false"
              [post]="onlinePost"
              (click)="openPost(onlinePost)"
              ></offer>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <offer
              *ngFor="let mission of missions"
              [post]="mission"
              src="assets/validée.svg"
              (click)="openMission(mission)"
            ></offer>
          </ng-container>
        </ng-container>
      </ng-container>
  
      <!-- Page pour ST -->
      <ng-template #stview>
        <ng-container [ngSwitch]="activeView">
          <ng-container *ngSwitchCase="0">
            <offer
              *ngFor="let onlinePost of allOnlinePosts"
              [deletable]="false"
              src="assets/enligne.svg"
              [post]="onlinePost"
              (click)="openPost(onlinePost)"
              ></offer>
          </ng-container>

          <mapbox-batiuni [posts]="allOnlinePosts" class="space-children-margin" *ngSwitchCase="1" (postClick)="openPost($event)"></mapbox-batiuni>
        </ng-container>
      </ng-template>
    </div>
    
    <swipeup [(open)]="openAdFilterMenu" type="view">
      <pme-filter-form [activeView]="activeView" *ngIf="view == 'PME'; else stfilter" view></pme-filter-form>
      <ng-template #stfilter><st-filter-form (update)="allOnlinePosts = $event"></st-filter-form></ng-template>
    </swipeup>
    
    <!-- Component one -->
    <slidemenu [(open)]="draftMenu.open" [header]="true">
      <h1 class="grow center-text" header>Brouillon</h1>
      <div class="hosted-page flex column center-cross space-children-margin" content>
        <ad-form [post]="draftMenu.post" (done)="openDraft(null)" [page]="false" content></ad-form>     
      </div>
    </slidemenu>
    
    <!-- Component two -->
    <slidemenu [(open)]="postMenu.open" [header]="false" #slideOnlinePost>
      <header class="clear-margin full-width sticky-header flex center-cross annonce" customHeader>
        <img (click)="slideOnlinePost.close()" src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Annonce(s) en Ligne</h1>
        <img *ngIf="view == 'PME'" (click)="postMenu.swipeup = true" src="assets/Option.svg"/>
        <!-- <ng-template #starTemplate>
          <stars [toggle]="true"
            [value]="+(postMenu.post! && profile.user!.favoritePosts.includes(postMenu.post!.id))"
            (click)="setFavorite(star.value)" #star>
          </stars>
        </ng-template> -->
      </header>
  
      <ng-container content>
        <annonce-resume class="hosted-page content-with-footer" [collapsible]="false" [post]="postMenu.post!" (apply)="applyPost(postMenu.post!, $event)" #resume></annonce-resume>
  
        <swipeup [(open)]="postMenu.swipeup">
          <li *ngIf="possibleCandidates.length" [attr.data-notification-number]="possibleCandidates.length" [class.notification]="postMenu.candidates.length" (click)="showCandidates()"><img src="assets/responses.svg"/> Afficher les réponses</li>
          <li [routerLink]="['','booster']"><img src="assets/booster.svg"/>Booster Mon annonce</li>
          <li (click)="deletePost(postMenu.post!.id)"><img src="assets/cloturer.svg"/>Supprimer l'annonce</li>
          <li (click)="duplicatePost(postMenu.post!.id)"><img src="assets/Dupliquer.svg"/>Dupliquer l'annonce</li>
          <li (click)="pausePost(postMenu.post!.id)"><img src="assets/pauseicon.svg"/>Mettre en pause l'annonce</li>
        </swipeup>
      </ng-container>    
    </slidemenu>

    <!-- Component Mission -->
    <slidemenu [(open)]="missionMenu.open" [header]="false" #slideMission>
      <header class="clear-margin full-width sticky-header flex center-cross annonce" customHeader>
        <img (click)="slideMission.close()" src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Annonce(s) validée</h1>
        <img (click)="swipeupMenu()" [src]="view == 'PME' ? 'assets/Option.svg' : 'assets/phone.png'"/> 
      </header>
      
      <suivi-chantier [missionMenu]="missionMenu" [callBackParent]="callBackSwipeup" [toogle]="toogle" content></suivi-chantier>
    </slidemenu>
  </ng-container>
</ng-container>


<!-- </ng-container> -->

<ng-template #pausePostTemplate>
  <img src="assets/pause.svg">
  <p>Votre annonce a bien été mise en pause</p>
  <p>Vous pouvez toujours l'accéder à partir de vos brouillons.</p>
</ng-template>

<ng-template #acceptOffer let-profile>
  <div class="offres-logo"><img src="assets/validée.svg"/>
  
  </div>
  <p>Vous avez bien validé la candidature de 
    <br> 
    <span class="text-emphasis">{{ profile.company.name | titlecase }} </span><br>Veuillez 
    confirmer votre opération pour recevoir le contrat !
  </p>
  <div class="flex column space-children-margin full-width">
    <button class="button active">Valider</button>
    <button class="button passive">Annuler</button>
  </div>
</ng-template>

<ng-template #candidates let-possibleCandidates let-job="job">
  <div class="hosted-page">
    <p class="font-Poppins">Vous avez : {{ possibleCandidates.length }} réponse(s)</p>
    <profile-card *ngFor="let candidate of possibleCandidates" (click)="showCompany(candidate.company, candidate.id)" [job]="job" [profile]="candidate.company"></profile-card>
  </div>
</ng-template>

<ng-template #candidature let-company let-post="post" let-application="application">
  <span *ngIf="amountSubContractor">{{ amountSubContractor }}</span>
  <extended-profile class="content-with-header-and-footer" [showContact]="true" [profile]="profileSubContractor!" [showSwitch]="false" [showRecomandation]="false" [showView]="'ST'"></extended-profile>
  <footer class="sticky-footer flex center-cross application background-white">
    <button class="button active full-width" (click)="handleApplication(post, application)">Traiter la candidature</button>
  </footer>
</ng-template>

<!-- <swipeup [(open)]="missionMenu.swipeup">
  <li >Modifier les horaires / les dates de présence</li>
  <li>Appeler le 06 34 09 06 94</li>
  <li (click)="closeMission()">Clôturer la mission</li>
  <li>Dupliquer l'annonce</li>
</swipeup> -->