@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;

:host {
  @extend %page
}

:host(.footerHide){
  height: calc(100vh)
}





.submit-container {
  button { max-width: 45%;}
}

.annonce {
  background: #FFFFFF !important;
  color: $dark;
}

.notification {
  @extend %has-notifications
}
.reponse {
  background-color: $bg-white !important;
  color: $dark !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
// .hosted-page {margin-top: 0 !important;}

.reponse-footer {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.reponse-footer-button {
  padding: 1rem 1rem;
  width: 80%;
}
.contact-user {
  justify-content: space-between;
  li {
    list-style-type: none;
  }
}

.candidature {
  margin-top: 0px;
}

.content-with-header-and-footer {
  @extend %overflow-y;
  height: calc(100vh - #{$sticky-header-height} - #{$sticky-footer-height} - env(safe-area-inset-bottom));
  background: white;
}

.sticky-footer.application {
  box-shadow: 0 -3px 3px 0 #eee;
}

header > div > img ~ span::after { 
  position: relative;
  top: -15px;
} 

.boosted {
  color: lightgray !important;
}

.loadingScreen{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.5;
  z-index: 100;
}

.optionButton {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 15px;
  height: 2.3rem;
  width: 6rem;
  border-radius: 1.15rem;
  filter: drop-shadow(0 0 0.2rem #00000029);
  box-shadow: 0 3px 6px 0 #00000029;
}

.custom-loading-spinner {
  cursor: progress;
  position: absolute;
  width: 100%;
  height: 100%;
}
.custom-loading-spinner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10001;
  overflow: hidden;
  background: #0b0b0b;
  opacity: 0.6;
}
.custom-loading-spinner::after {
  box-sizing: border-box;
  z-index: 10002;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: custom-loading 1s linear infinite;
}
@keyframes custom-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.map-container {
  width: 100vw;
  position: relative;
  left: -2rem;
  top: -1rem;
  
}