<ng-container *ngIf="view$ | async as view">
  <ng-container *ngIf="profile$ | async as profile">
    <page-header
      [profile]="profile"
      [name]="view == 'PME' ? 'Mes Annonces' : 'Annonces qui peuvent vous intéresser'"
      [tabs]="view == 'PME' ? 3 : 2"
      [(activeView)]="activeView"
      (activeViewChange)="changeView($event)"
      (filterClicked)="openAdFilterMenu = true"
      [filterOpen]="view == 'PME' ? filterOn : filterOnST"
      [callbackSearch]="view == 'PME' ? callbackSearch : callbackSearchST">
      <span tab_0>{{ view == "PME" ? "Brouillon" : "Vue liste" }}</span>
      <span tab_1>{{ view == "PME" ? "En ligne" : "Carte" }}
        <span *ngIf="view == 'PME' && CandidateUnseen" [attr.data-notification-number]="CandidateUnseen" class="notification"></span>
      </span>
      <span tab_2>Validées
        <span *ngIf="view == 'PME' && notificationsUnseenMissions" [attr.data-notification-number]="notificationsUnseenMissions" class="notification"></span>
      </span>
    </page-header>
    <div class="wrapper__searchbar__clickcatcher page-content-with-tabs" *ngIf="!showFooter"></div>

    <div  class="hosted-page space-children-margin page-content-with-tabs" [ngClass]="{'footerHide': !showFooter, 'page-content-with-tabs-with-switch': profile.company && profile.company.role == 3}">
          <!-- Page pour PME -->
          <ng-container *ngIf="view == 'PME'; else stview">
            <ng-container *ngIf="(posts$ | async) as posts" [ngSwitch]="activeView">
              <ng-container *ngSwitchCase="0">
                <offer
                  *ngFor="let draft of userDrafts"
                  src="assets/brouillon.svg"
                  [deletable]="true"
                  [post]="draft"
                  (click)="openDraft(draft)"
                  [view]="'PME'"
                  [time]="time"
                  ></offer> 
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <offer
                  *ngFor="let onlinePost of userOnlinePosts"
                  src="assets/enligne.svg"
                  [showCandidate]="view == 'PME'"
                  [deletable]="false"
                  [post]="onlinePost"
                  (click)="openPost(onlinePost); updateCurrentPost(onlinePost)"
                  [view]="'PME'"
                  [time]="time"
                  ></offer>
              </ng-container>
              <ng-container *ngSwitchCase="2">
                <offer
                  *ngFor="let mission of missions"
                  [post]="mission"
                  src="assets/validate.svg"
                  (click)="openMission(mission)"
                  [view]="'PME'"
                ></offer>
              </ng-container>
            </ng-container>
          </ng-container>
      
          <!-- Page pour ST -->
          <ng-template #stview>
            <ng-container [ngSwitch]="activeView">
              <ng-container *ngSwitchCase="0">
                <offer
                  *ngFor="let onlinePost of displayOnlinePosts"
                  [deletable]="false"
                  [post]="onlinePost"
                  (click)="openPost(onlinePost, true)"
                  [view]="'ST'"
                  [time]="time"
                  [hideExactAdress]="true"
                  ></offer>
              </ng-container>
    
              <mapbox-batiuni 
                [refreshEvent]="refreshSubject.asObservable()"
                [posts]="displayOnlinePosts" 
                [searchBarEmptyEvent]="searchBarEmptySubject.asObservable()"
                class="map-container space-children-margin" 
                (postClick)="openPost($event.post, $event.hideExactAdress)" 
                *ngSwitchCase="1" 
              ></mapbox-batiuni>
            </ng-container>
          </ng-template>
    </div>

    <!-- <swipeup [(open)]="openAdFilterMenu" type="view">
      <pme-filter-form [activeView]="activeView" [callbackFilter]="callbackFilter" *ngIf="view == 'PME'; else stfilter" view></pme-filter-form>
      <ng-template #stfilter><st-filter-form (update)="allOnlinePosts = $event"></st-filter-form></ng-template>
    </swipeup> -->

    <swipeup [open]="openAdFilterMenu" (openChange)="closeAdFilterMenu($event)" type="view">
      <ng-container *ngIf="view == 'PME'; else stfilter" view>
        <pme-filter-form
          (closeFilter)="openAdFilterMenu = false"
          [activeView]="activeView"
          [callbackFilter]="callbackFilter"
        ></pme-filter-form>
      </ng-container>
      <ng-template #stfilter>
        <st-filter-form 
          (update)="displayOnlinePosts = $event"
          [time]="time"
          [posts]="allOnlinePosts"
          (filterOnST)="updateFilterOnST($event)"
          (closeFilter)="openAdFilterMenu = false"
          ></st-filter-form>
      </ng-template>
    </swipeup>

    <!-- Component one -->
    <slidemenu [(open)]="draftMenu.open" [header]="true" (openChange)="updatePage()">
      <h1 class="grow center-text" header>Brouillon</h1>
      <div
        class="hosted-page flex column center-cross space-children-margin"
        content
      >
        <ad-form
          [post]="draftMenu.post"
          (done)="openDraft(null)"
          [page]="false"
          content
        ></ad-form>
      </div>
    </slidemenu>

    <!-- Component two -->
    <slidemenu [(open)]="postMenu.open" [header]="false" (openChange)="lateInit()" #slideOnlinePost>
      <header
        class="clear-margin full-width sticky-header flex center-cross annonce"
        customHeader
      >
        <img (click)="slideOnlinePostClose()" src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Annonce en ligne</h1>
        <div>
          <button *ngIf="view == 'PME'" (click)="postMenu.swipeup = true" class="optionButton">Options</button> 
          <span
            *ngIf="currentCandidates && view == 'PME'"
            [attr.data-notification-number]="currentCandidates"
            class="notification"
          ></span>
        </div>
      </header>

      <ng-container content>
        <annonce-resume
          class="hosted-page content-with-footer"
          [collapsible]="false"
          [post]="postMenu.post!"
          [hideExactAdress]="postMenu.hideExactAdress!"
          (apply)="applyPost(postMenu.post!, $event)"
          #resume
        ></annonce-resume>

        <swipeup [(open)]="postMenu.swipeup">
          <li (click)="showCandidates()">
            <img src="assets/responses.svg" /> Afficher les réponses
            <span
              *ngIf="currentCandidates && view == 'PME'"
              [attr.data-notification-number]="possibleCandidates.length"
              [class.notification]="postMenu.candidates.length"
              class="notification"
            ></span>
          </li>
          <li *ngIf="!postMenu.isBoosted(this.time)" (click)="slideBooster()">
            <img src="assets/booster.svg" />Booster mon annonce
          </li>
          <li *ngIf="postMenu.isBoosted(this.time)" class="boosted">
            <img src="assets/booster.svg" />Booster mon annonce
          </li>
          <li (click)="deletePost(postMenu.post!.id)">
            <img src="assets/cloturer.svg" />Supprimer l'annonce
          </li>
          <li (click)="duplicatePost(postMenu.post!.id)">
            <img src="assets/Dupliquer.svg" />Dupliquer l'annonce
          </li>
          <li (click)="pausePost(postMenu.post!.id)">
            <img src="assets/pauseicon.svg" />Mettre en pause l'annonce
          </li>
        </swipeup>
      </ng-container>
    </slidemenu>

    <!-- <slidemenu [(open)]="postMenu.openBooster()">

    </slidemenu> -->
    <!-- Component Mission -->
    <slidemenu [(open)]="missionMenu.open" [header]="false" (openChange)="updatePage()" #slideMission>
      <header
        class="clear-margin full-width sticky-header flex center-cross annonce header-border"
        customHeader
      >
        <img (click)="slideMissionClose()" src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Annonce validée</h1>
        <button (click)="swipeupMenu(); view == 'PME' && suiviChantier.submitAdFormDate(true)"  class="optionButton">Options</button> 
      </header>

      <suivi-chantier
        [missionMenu]="missionMenu"
        [callBackParent]="callBackSwipeup"
        [toogle]="toogle"
        content
        #suiviChantier
      ></suivi-chantier>
    </slidemenu>
  </ng-container>
</ng-container>

<!-- </ng-container> -->

<ng-template #pausePostTemplate>
  <img src="assets/pause.svg" />
  <p>Votre annonce a bien été mise en pause</p>
  <p>Vous pouvez toujours l'accéder à partir de vos brouillons.</p>
</ng-template>

<ng-template #acceptOffer let-profile>
  <div class="offres-logo"><img src="assets/validate.svg" /></div>
  <p>
    Vous avez bien validé la candidature de
    <br />
    <span class="text-emphasis">{{ profile.company.name | titlecase }} </span
    ><br />Veuillez confirmer votre opération pour recevoir le contrat !
  </p>
  <div class="flex column space-children-margin full-width">
    <button class="button active">Valider</button>
    <button class="button passive">Annuler</button>
  </div>
</ng-template>

<ng-template #candidates let-postCandidates let-job="job">
  <div class="hosted-page">
    <p class="font-Poppins" style="margin-bottom: 2rem">
      Vous avez : {{ postCandidates.length }} réponse(s)
    </p>
    <div class="wrapper" style="row-gap: 1rem; display: flex; flex-direction: column;">
      <profile-card
        *ngFor="let candidate of postCandidates"
        (click)="showCompany(candidate.company, candidate.id)"
        [job]="job"
        [profile]="candidate.company"
        [candidate]="candidate"
        class="background-white"
      ></profile-card>
    </div>
  </div>
</ng-template>

<ng-template
  #candidature
  let-company
  let-post="post"
  let-application="application"
>
  <!-- <span *ngIf="amountSubContractor">{{ amountSubContractor }}</span> -->
  <extended-profile
    class="content-with-header-and-footer"
    [showContact]="true"
    [profile]="profileSubContractor!"
    [showSwitch]="false"
    [showRecomandation]="false"
    [showView]="'ST'"
    style="position: relative; z-index: 1;"
  ></extended-profile>
  <footer class="sticky-footer flex center-cross application background-white" style="z-index: 2;">
    <button
      class="button active full-width"
      (click)="handleApplication(post, application)"
    >
      Traiter la candidature
    </button>
  </footer>
</ng-template>

<ng-template #booster let-post>
  <booster-page [post]="post"></booster-page>
</ng-template>

<div *ngIf="isLoading" class="loadingScreen" >
  <div class="custom-loading-spinner"></div>
</div>
