@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;

:host {
  @extend %page
}

.submit-container {
  button { max-width: 45%;}
}

.annonce {
  background: #FFFFFF !important;
  color: $dark;
}

.notification {
  @extend %has-notifications
}
.reponse {
  background-color: $bg-white !important;
  color: $dark !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
// .hosted-page {margin-top: 0 !important;}

.reponse-footer {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.reponse-footer-button {
  padding: 1rem 1rem;
  width: 80%;
}
.contact-user {
  justify-content: space-between;
  li {
    list-style-type: none;
  }
}

.candidature {
  margin-top: 0px;
}

.content-with-header-and-footer {
  @extend %overflow-y;
  height: calc(100vh - #{$sticky-header-height} + #{$sticky-footer-height} - env(safe-area-inset-bottom));
  background: white;
}

.sticky-footer.application {
  box-shadow: 0 -3px 3px #ccc;
  button {
    // height: 80%;
  }
}