@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;


:host {
  display: block;
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: calc(#{$paging-height + $paging-decoration-height} + env(safe-area-inset-top));
  border-bottom: 5px solid white; //cover the blue line
  @include set-safe-area(padding, top);
  background-color: $primary;
}

a {
  margin-left: $spacer-200;
  img {
    margin-right: 1rem;
  }
}

.decoration-cover {
  background-color: $secondaryBackground;
}

.decoration {
  height: $paging-decoration-height;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}