@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;


:host {
  display: block;
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: calc(#{$paging-height + $paging-decoration-height} + env(safe-area-inset-top));
  border-bottom: 5px solid white; //cover the blue line
  @include set-safe-area(padding, top);
}

.decoration-cover {
  background-color: $buttonGradient;
}

.decoration {
  height: $paging-decoration-height;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}