<main>
  <!-- Background image-->
  <div class="background-image" [style.background-image]="'url(assets/accueil-sous-traitant.png)'">
  </div>
  <!-- Landing text-->
  <div class="center-text overlay">
      Trouver le meilleur
     <br/> <span class="name">chantier</span><br/>
      & la meilleure
      <br/><span class="name">entreprise</span><br/>
      principale
  </div>

  <a class="arrow_left" [routerLink]="['', 'landing', 'entreprise']">
    <img src="assets/Fleche.svg"/>
  </a>

  <div class="links">
    <button class="gradient button discover">Découvrir le service sous-traitance</button><br/>
    <a class="link" >J’ai déjà un compte !</a>
  </div>
</main>