<main>
  <div class="formulaire">
    <!-- paging-->
    <div class="paging">
      <div class="suivante">
        <a>
          <img class="arrow_left" src="assets/Fleche.svg" />
          <p>Page d'acceuil</p>
        </a>
      </div>
      <div class="precedente">
        <a>
          <p>Étape suivante</p>
          <img class="arrow_right" src="assets/Fleche.svg" />
        </a>
      </div>
    </div>
    <!-- Form -->
    <form class="form-control">
    <!-- Main title ex: Je me connecte, Créer un compte  -->
      <h3 class="form-title">Créer un compte !</h3>
      <div class="form-input">
          <label >Nom du contact</label>
          <input class="form-element" />
      </div>
      <div class="form-input">
          <label >Adresse e-mail contact</label>
          <input  class="form-element" />
      </div>
      <div class="form-input">
          <label >Verification adresse e-mail</label>
          <input  class="form-element" />
      </div>
      <div class="form-input">
          <label >Mot de passe</label>
          <input  class="form-element" />
      </div>
      <div class="form-input">
          <label >Code parrain ?</label>
          <input  class="form-element" />
      </div>
      <a class="externel-links form-links">
        Mot de passe oublié !
      </a><br/>
      <br/>
      <br/>
      <div class="form-step">
        <div class="start"></div>
        <div class="end"></div>
      </div>

    </form>
  </div>
</main>