@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  display: flex;
  height: 100vh;
}

.background-image {
  position: static;
  width: 40vw;
  height: 100%;
}

forgot-password-form::ng-deep {
  max-height: 600px;
  top: 50%;
  transform: translateY(-50%);
  form {
    justify-content: center;
  }
}