<header class="full-width sticky-header flex center-cross">
  <img src="assets/batiuni.png"/>
  <button class="button passive" style="margin-left: auto;">Se connecter</button>
  <button class="button gradient">Créer un compte</button>
</header>

<div class="hero with-sticky-header">
  <div class="content flex column center-main">
    <div class="flex row space-between">
      <div class="intro flex column">
        <h1 class="hero-title">Lorem ipsum dolor sit amet,  consectetur adipiscing</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </p>
        <img style="align-self: flex-start;" src="assets/downloads.png"/>
      </div>
      <img class="map" src="assets/map.png"/>
    </div>
  </div>
</div>

<div class="hero">
  <div class="content flex column">
    <div class="hero-header left">
      <span>Service PME</span>
    </div>

    <div class="presentation right flex row">
      <div class="card">
        <img src="assets/PME1.svg"/>
        <div class="theme"></div>
      </div>
      <div class="card">
        <img src="assets/PME2.svg"/>
        <div class="theme"></div>
      </div>
      <div class="card">
        <img src="assets/PME3.svg"/>
        <div class="theme"></div>
      </div>
      <div class="card">
        <img src="assets/PME4.svg"/>
        <div class="theme"></div>
      </div>
    </div>
  </div>
</div>

<div class="hero">
  <div class="content flex column">
    <div class="hero-header left">
      <span>Service Sous-traitances</span>
    </div>

    <div class="presentation left flex row">
      <div class="card">
        <img src="assets/ST1.svg"/>
        <div class="theme"></div>
      </div>
      <div class="card">
        <img src="assets/ST2.svg"/>
        <div class="theme"></div>
      </div>
      <div class="card">
        <img src="assets/ST3.svg"/>
        <div class="theme"></div>
      </div>
      <div class="card">
        <img src="assets/ST4.svg"/>
        <div class="theme"></div>
      </div>
    </div>
  </div>
</div>