@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  display: block;
  width: 100%;
}

.notification {
  @extend %has-notifications;
  position:absolute;
  top:10px;
  right:20px;
}

.annonce {
  background: #FFFFFF !important;
  color: $dark;
}

.star-annonce{
  height: 2rem;
}

.dashed {
  margin-left: -30px !important;
  // margin-right: -30px;
  margin: 1rem 0;
  display: block;
  width: 100vw;
  border-top: 1px dashed black;
}

.your-price {
  justify-content: space-evenly;
    
}
.company {
  color: #999999;
  font-size: 16px;
}

.ManPower{
  color: #333333;
  font-size: 18px;
}

.missionDates, .amount {
  color: #000000;
  font-size: 14px;
}

.needs, .description, .documents, .detail, .resume-mission, .condition {
  .title { 
    color: #054162;
    font-size: 16px;
    font-weight: medium;
    margin: 25px 0;
  }
  ul {
    color: #656565;
    white-space: normal;
    margin:  0;
    li {
      margin: 1rem 1rem;
      font-family: Roboto;
      font-size: 16px;
      a { text-decoration: underline; }
    }
  }

  p {
    color: #656565;
    font-family: Roboto;
    font-size: 16px;
    margin: 20px 0;
  }
}

.date {
  color: #656565;
  font-size: 16px;
  text-align: center;  
  margin: 25px 0;
}

.documents {
  margin-bottom: 2rem;
}

.remuneration > * {
  width: 45%;
}

.devis {
  h5 {
    margin-bottom: $item-padding;
    color: $secondaryBackground;
  }

  //make space for the footer
  margin-bottom: $sticky-footer-height;
}

.sticky-footer {
  background: $bg-white;
  box-shadow: 0 -3px 3px 0 #eee;
}