@use "sass:list";
@import './variables';
@import './responsive';

@mixin cover-background {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
};

@mixin absolute-center($direction: 'xy', $position: absolute) {
  @if $position == absolute {
    position: absolute;
  } @else if $position == relative {
    position: relative;
  } @else {
    position: $position;
  }

  @if $direction == 'x' {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction == 'y' {
    top: 50%;
    transform: translateY(-50%);
  } @else {
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }
};

@mixin circle($radius: 0, $color: #FFFFFF) {
  border-radius: 50%;
  background-color: $color;
  @if $radius != 0 {
    width: $radius;
    height: $radius;
  }
};

@mixin zoom($amount: 1) {
  transform: scale($amount);
}

@mixin rotate($angle: 0deg) {
  transform: rotate($angle);
};

@mixin triangle($direction, $size, $color) {
  content: ""; // ensures the arrows are visible

  // ensures the size of the arrows is correct:
  width: 0;
  height: 0;

  // Lists for positions/directions
  $directions: ('down', 'left', 'up', 'right');
  $positions: ('top', 'right', 'bottom', 'left');

  // Loop through each position
  @each $position in $positions {
    // Calculate the index of the position in the list
    $index: index($positions, $position);

    // If the position matches the direction, render a colored border
    @if nth($directions, $index) == $direction {
      border-#{$position}: $size solid $color;
    } @else {
      border-#{$position}: $size solid transparent;
    }
  }
}

//-----------------------------------------------
//Size
.full-width { width: 100%; }
.full-height { height: 100% }
.cover-parent {
  @extend .full-width;
  @extend .full-height;
}

@function opposite-direction($direction) {
  @if $direction == top {
    @return bottom;
  } @else if $direction == bottom {
    @return top;
  } @else if $direction == left {
    @return right;
  } @else if $direction == right {
    @return left;
  } @else {
    @error "Only accepts: top, right, bottom, left. Received: #{$direction} which isn't a direction.";
  }
};

@mixin set-safe-area($property, $direction: $property) {
  $positioning: (top, left, bottom, right);
  $boxes: (margin, padding, border);
  $allowed_properties: join($boxes, $positioning, comma);

  @if not list.index($allowed_properties, $property) {
    @error "safe-area only valid on: margin, padding, border and positioning properties. Recieved #{$property}."
  }
  $target: if(list.index($positioning, $property), $property, #{$property}-#{$direction});

  #{$target}: 0;
  #{$target}: constant(safe-area-inset-#{$direction});
  #{$target}: env(safe-area-inset-#{$direction});
}

@mixin with-set-safe-area($property, $direction: $property, $offset: 0) {
  $positioning: (top, left, bottom, right);
  $boxes: (margin, padding, border);
  $allowed_properties: join($boxes, $positioning, comma);
  
  @if not list.index($allowed_properties, $property) {
    @error "safe-area only valid on: margin, padding, border and positioning properties. Recieved #{$property}."
  }

  $target: if(list.index($positioning, $property), $property, #{$property}-#{$direction});

  #{$target}: $offset;
  #{$target}: calc(constant(safe-area-inset-#{$direction}) + #{$offset});
  #{$target}: calc(env(safe-area-inset-#{$direction}) + #{$offset});
}

%overflow-y {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  //scroll-behavior: smooth;
  touch-action: pan-y !important;
}

%header {
  @include set-safe-area(top);
  padding: $highlight-margin $page-padding;
  height: $sticky-header-height;
  z-index: 10;
  //optional
  background: $secondaryBackground;
  color: white;
};

%sticky-footer {
  position: fixed;
  @include set-safe-area(bottom);
  left: 0;
  height: $sticky-footer-height;
  padding: 0 30px;
  width: 100vw;
}

%page {
  display: block;
  height: calc(100vh - #{$navigation-height} - env(safe-area-inset-bottom));
  @extend %overflow-y;
}

%safe-page {
  @include set-safe-area(top);
  @extend %no-navigation;
}

%no-navigation {
  height: calc(100vh - env(safe-area-inset-bottom)) !important;
}

%content-with-header {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $sticky-header-height);
  // @include set-safe-area(margin, bottom);
  height: calc(100vh - #{$sticky-header-height} - env(safe-area-inset-bottom));
}

%content-with-header-and-footer {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $sticky-header-height);
  // @include with-set-safe-area(margin, bottom, $sticky-footer-height);
  height: calc(100vh - #{$sticky-header-height + $sticky-footer-height} - env(safe-area-inset-bottom));
}

%content-with-paging-and-footer {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $paging-height + $paging-decoration-height);
  // @include with-set-safe-area(margin, bottom, $sticky-footer-height);
  height: calc(100vh - #{$paging-height + $paging-decoration-height + $sticky-footer-height} - env(safe-area-inset-bottom));
}

%content-with-paging-and-big-footer {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $paging-height + $paging-decoration-height);
  // @include with-set-safe-area(margin, bottom, $sticky-footer-height);
  height: calc(100vh - #{$paging-height + $paging-decoration-height + $big-sticky-footer-height} - env(safe-area-inset-bottom));
}

%paging-only-content {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $paging-height + $paging-decoration-height);
  height: calc(100vh - #{$paging-height + $paging-decoration-height} - env(safe-area-inset-bottom));
}

.page-content-with-tabs {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $mission-header-height);
  @include with-set-safe-area(margin, bottom);
  height: calc(100vh - #{$mission-header-height + $navigation-height} - env(safe-area-inset-bottom));
}

.page-content {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $sticky-header-height);
  height: calc(100vh - #{$sticky-header-height + $navigation-height} - env(safe-area-inset-bottom));
}

.page-content-without-nav {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $sticky-header-height);
  height: calc(100vh - #{$sticky-header-height} - env(safe-area-inset-bottom));
}

.full-page {
  @extend %overflow-y;
  @include set-safe-area(top);
  @include set-safe-area(bottom);
}

%pull-down {
  margin-top: auto;
}

%has-notifications {
  position: relative;
  &::after {
    content: attr(data-notification-number);
    position: absolute;
    // @include circle(var(--notification-size, #{$notification-size}),red);
    @include circle($notification-size,red);

    // right: -$notification-size; 
    top: -$notification-size /2;
    text-align: center;
    line-height: $notification-size;
    font-size: $notification-size*0.7;
    font-weight: bold;
    color: white;
  }
}

.invert { filter: invert(1); }

$space-top-small: 30px;
$space-top-mid: 40px;

%web-space-top {
  @include range($mobile, 1500px) { padding-top: $space-top-small; }
  @include from(1500px) { padding-top: $space-top-mid; }
}

%three-section-layout {
  @extend %overflow-y;
  display: flex;
  //height: calc(100vh - #{$navigation-height});

  @include breakpoint(small) {
    .web-content::ng-deep {
      max-width: 400px;
    }
  }

  & > section:first-child, & > section:nth-child(3) {
    height: calc(100vh - #{$web-header-height});
    background-color: white;
    overflow-y: auto;
    width: 400px;
    padding: $col-one-padding-y $col-one-padding-x;

    .header {
      img { vertical-align: middle; }
      @extend %web-space-top;
      font-size: 1.5em;
      color: $secondaryBackground;
      padding-bottom: 20px;
    }
  }

  & > section:nth-child(3){
    right: 0;
    padding: $col-one-padding-y $col-one-padding-x;
    
  }

  @include range($mobile, 1500px) {
    
    & > section:first-child, & > section:nth-child(3){
      transform: translateY(-$space-top-small);
      position: sticky;
      top: 0;
    }
  }

  @include from(1500px) {
    & > section:first-child, & > section:nth-child(3){
      position: fixed;
      top: 220px;
      bottom: 0;
    }
  }

  .web-content {
    font-family: "Poppins";
    width: 700px !important;
  }
};

//default to 2 columns