%absolute-cover {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
}

%absolute-cover-except-top {
  position: absolute;
  left: 0; right: 0;
  bottom: 0;
}

@mixin cover-with-offset-top($offset) {
  @extend %absolute-cover-except-top;
  top: $offset;
}

%absolute-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

%absolute-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}