@forward  "variables_new";
@use "variables_new" as *;


$mainColor: $dark;
$landingColor: #fff;
// $buttonColor: #0C5E8D;
$buttonColor: $primary;
// $secondaryBackground: #0D6191;
$secondaryBackground: $primary;
$buttonGradient: $secondaryBackground;
$formulaireMainColor : $dark;
$externelLinks : $primary;
$succesCircleShadow : $light;
$infosColor : #52D1BD;
$input-image-offset-x: 20px;
$input-image-offset-y: 5px;

$paging-height: 75px;
$paging-decoration-height: 12px;

$navigation-height: 70px;

// spacing
$item-padding: $spacer-75;
$page-padding: $spacer-200;
$title-padding: $spacer-200;
$section-margin: $spacer-200;
$highlight-margin: $spacer-150;
$spacing-margin: $spacer-100;
$small-spacing-margin: $spacer-75;
$big-spacing-margin: $spacer-150;

$form-item-spacing: $spacer-200;
$form-border-bottom: 2px solid #cdcfd0; 


// Switch box
$switch-size-x: $spacer-200;
$switch-size-y: 1.25rem;
$switch-padding: 0.125rem;
$switch-button-size: min($switch-size-x, $switch-size-y) - 2 * $switch-padding;
$switch-gradient-start: #009BE0;
$switch-gradient-end: #69F0AE;

// Utiliser que une fois dans box.component 
// UI checkbox
$box-size: $spacer-150;
$box-padding: $spacer-50;

//Profile page
$tick-size-x: 3px;
$tick-size-y: 10px;
// $profile-level-thickness: $spacer-50;
$profile-image-size: 6.5rem;
$notifications-padding: 20px;

//Swipe up
$swipeup-decoration-height: 50px;

// Media
$document-image-size-x: 90px;
$rating-star-height: 25px;
$rating-star-width: 25px;
$sticky-header-height: 4rem;
$navigation-arrow-icon-size: 25px;

$icon-size: $spacer-150;


// Availibilty Colors =====>
$available : $success;
$availableWithLimits : $warning;
$unavailable : $danger;
$icon-padding: 0.125rem;

//search-bar
$searchbar-height: 48px;
$searchbar-icon-size: 24px;
$searchbar-icon-padding: 12px;
$searchbar-padding: .75rem;

//tab
$tab-height: 40px;
$tab-padding: 10px;
$tab-default-background: #E5E5E5;
$tab-default-color: $light;
$tab-active-background: $bg-white;
$tab-active-color: $secondaryBackground;
$tab-spacing: 8px;

//header
$mission-header-height: 150px;
//footer
$sticky-footer-height: 70px;
$mid-sticky-footer-height: 100px;
$big-sticky-footer-height: 140px;

//SOS card
$sos-card-height: 180px;
$sos-card-padding: 10px;
$sos-border-thickness: 5px;

//Collapse
$collapse-min-height: 300px;
$collapse-extra-height: 30px;

//Notifications
$notification-size: 22px;

:root {
  //default value
  --notification-size: $notification-size;
}

// web variables

$web-header-padding: 10px 30px;
$web-sub-header-padding: 20px 40px;
$web-logo-height: 50px;
$web-header-height: 210px;
$col-one-padding-x: 40px;
$col-one-padding-y: 40px;

//info
$info-height: 30px;