
$mainColor: #000000;
$landingColor: #ffffff;
$buttonColor: #0C5E8D;
$secondaryBackground: #134C6C;
$buttonGradient: #134C6C;
$formulaireMainColor : #080F18;
$externelLinks : #0F557C;
$succesCircleShadow : #CDCFD0;
$infosColor : #52D1BD;
$input-image-offset-x: 20px;
$input-image-offset-y: 5px;

$paging-height: 75px;
$paging-decoration-height: 12px;

$navigation-height: 70px;

// spacing
$item-padding: 10px;
$page-padding: 30px;
$title-padding: 30px;
$section-margin: 30px;
$highlight-margin: 20px;
$spacing-margin: 10px;
$form-item-spacing: 20px;


// Switch box
$switch-size-x: 40px;
$switch-size-y: 20px;
$switch-padding: 2px;
$switch-button-size: min($switch-size-x, $switch-size-y) - 2 * $switch-padding;
$switch-gradient-start: #009BE0;
$switch-gradient-end: #69F0AE;

// UI checkbox
$box-size: 25px;
$box-padding: 8px;

//Profile page
$tick-size-x: 3px;
$tick-size-y: 10px;
$profile-level-thickness: 8px;
$profile-image-size: 150px - 2 * $profile-level-thickness;
$notifications-padding: 20px;

//Swipe up
$swipeup-decoration-height: 50px;

// Media
$document-image-size-x: 90px;
$rating-star-height: 25px;
$rating-star-width: 25px;
$sticky-header-height: 60px;
$navigation-arrow-icon-size: 25px;

$icon-size: 25px;


// Availibilty Colors =====>
$available : #52d1bd;
$availableWithLimits : #f9c067;
$unAvailable : #e82727;
$icon-padding: 2px;

//search-bar
$searchbar-height: 48px;
$searchbar-icon-size: 24px;
$searchbar-icon-padding: 12px;
$searchbar-padding: 16px;

//tab
$tab-height: 40px;
$tab-padding: 10px;
$tab-default-background: #E5E5E5;
$tab-default-color: #9A9A9A;
$tab-active-background: white;
$tab-active-color: $secondaryBackground;
$tab-spacing: 8px;

//header
$mission-header-height: 150px;
