// Color palette
$primary: #0D6191;
$light: #aaa;
$light-light: #C7C7C7;
$danger: #E80000;
$warning: #FFD375;
$success: #BBEFB1;
$success-plus: #D2FFCB;
$dark: #080F18;
$bg-white: white;
$info: #2980b9;

$text-color: $dark;
$text-color-grey: #4C4C4C;
$text-color-blue: #05476C;

// $spacer-0: 0.5rem;  // 8px
// $spacer-1: 0.75rem; // 12px
// $spacer-2: 1rem;    // 16px
// $spacer-3: 1.5rem;  // 24px
// $spacer-4: 2rem;    // 32px
// $spacer-5: 2.5rem;  // 40px

$spacer-50: 0.5rem;  // 8px
$spacer-75: 0.75rem; // 12px
$spacer-100: 1rem;    // 16px
$spacer-150: 1.5rem;  // 24px
$spacer-200: 2rem;    // 32px
$spacer-250: 2.5rem;  // 40px