@import 'src/styles/variables';

$slide: 200ms ease-out;
$fade: 200ms ease-out;

@keyframes slide-in-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }  
};

@keyframes slide-out-right {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }  
};

@keyframes slide-in-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }  
};

@keyframes slide-out-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }  
};

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.animating {
  position: absolute !important;
  left: 0; top: 0;
  padding: inherit;
  height: 100% !important;
  /* test this */
  overflow: hidden !important;
}

.slide-in-right {
  @extend .animating;
  animation: $slide 50ms normal both slide-in-right;
}

.slide-out-right {
  @extend .animating;
  animation: $slide 50ms normal both slide-out-right;
}

.slide-in-left {
  @extend .animating;
  animation: $slide 50ms normal both slide-in-left;
}

.slide-out-left {
  @extend .animating;
  animation: $slide 50ms normal both slide-out-left;
}

.fade-in {
  @extend .animating;
  animation: $fade 50ms normal both fade-in;
}

.fade-out {
  @extend .animating;
  animation: $fade 50ms normal both fade-out;
}