$slide: 200ms ease-out;

@keyframes slide-in-right {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }  
};

@keyframes slide-out-right {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }  
};

@keyframes slide-in-left {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }  
};

@keyframes slide-out-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }  
};

.slide-in-right {
  position: absolute;
  animation: $slide 0s normal forwards slide-in-right;
}

.slide-out-right {
  position: absolute;
  animation: $slide 0s normal forwards slide-out-right;
}

.slide-in-left {
  position: absolute;
  animation: $slide 0s normal forwards slide-in-left;
}

.slide-out-left {
  position: absolute;
  animation: $slide 0s normal forwards slide-out-left;
}