@forward 'flex';
@use 'variables' as *;
@use 'responsive' as *;
@use 'mixins' as *;


// FORMULAIRES

.arrow_right {
  transform: scale(0.6);
};

.arrow_left {
  transform: scale(0.6) rotate(180deg);
};

.arrow_right, .arrow_left {
  margin: 0 8px;
}

.curved-border {
  border-radius: 15px 15px 0 0;
}

.background-white {
  background-color: $landingColor;
}

.hosted-page {
  @extend .background-white;
  // @extend %overflow-y;
  padding: $page-padding;
  position: relative;
  font-size: 0.95em;
  overflow: hidden;
  flex-grow: 1;

  & > * { flex-shrink: 0; }
}

.space-children-margin {
  & > *:not(:last-child) {

    @include range(0, $small) {
      margin-bottom: $spacing-margin;
    }

    @include range($small, $medium) {
      margin-bottom: 1.5 * $spacing-margin
    }

    
    @include from($medium) {
      margin-bottom: 2 * $spacing-margin
    }
  }
}

.small-space-children-margin {
  & > *:not(:last-child) {

    @include range(0, $small) {
      margin-bottom: $small-spacing-margin;
    }

    @include range($small, $medium) {
      margin-bottom: 1.5 * $small-spacing-margin
    }

    
    @include from($medium) {
      margin-bottom: 2 * $small-spacing-margin
    }
  }
}

.big-space-children-margin {
  & > *:not(:last-child) {

    @include range(0, $small) {
      margin-bottom: $big-spacing-margin;
    }

    @include range($small, $medium) {
      margin-bottom: 1.5 * $big-spacing-margin
    }

    
    @include from($medium) {
      margin-bottom: 2 * $big-spacing-margin
    }
  }
}

.formulaire {
  display: flex;
  flex-direction: column;
  background: $secondaryBackground;
}


.paging {
  list-style-type: none;
  font-size: 0.9em;
  height: $paging-height;
  line-height: $paging-height;
  background: $secondaryBackground;
  color: $landingColor;
  justify-content: space-between;

  & > li {
    flex-grow: 1;
    height: 100%;
  }
  
  & li a > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.no-background {
  background: none !important;
}

.title {
  font-size: 1rem;
  font-weight: 500;
  // margin-bottom: $title-padding;
}

.subtitle {
  font-size: 1.05em;
  font-weight: 600;
  margin-bottom: $title-padding;
}

//move to its own file


.form-control {
  color: $formulaireMainColor;
  flex: 1;
  font-family: "Poppins";
  @extend .flex;
  @extend .column;
  
  &.section-host {
    .form-section {
      margin-bottom: 4rem;
      display: flex;
      flex-direction: column;
      row-gap: $form-item-spacing;
    }
  }

  .form-title {
    @extend .title;
    &:not(:first-child) { margin-top: $title-padding; }
  }

  .form-section-title {
    @extend .form-title;
    color: $secondaryBackground;
    font-family: "Poppins";
  }

  .form-subtitle {
    @extend .subtitle;
  }
}

.form-input {
  font-family: "Poppins";
  position: relative;
  // margin-bottom: $form-item-spacing;
  

  &:focus-within {
    label { color: #2980b9; }
    & > .form-element { border-bottom-color: #2980b9 !important; }
  }

  li:focus-within {
    & > .form-element { border-bottom-color: #2980b9 !important; }
  }

  .error { color: #ff0033; font-size: 0.75em; }

  & > * {
    display: block;
    font-size: 1em;
  }

  & > label {
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  .form-element, & > input {
    border-bottom: $form-border-bottom !important; //override default
    font-family: inherit;

    &.ng-invalid:not(.ng-pristine) {
      border-bottom-color: red !important;
    }

    @include desktop-only { background: none; }
  }

  & > input, & > span > input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    color: #4c4c4c;
  }
  
  select {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #cdcfd0;
  }

  & > img {
    position: absolute;
    right: $input-image-offset-x;
    bottom: $input-image-offset-y;
  }


  span.number {
    margin-bottom: $form-item-spacing;
  }

  .add-field > * {
    display: inline-block;
    vertical-align: middle;
  }
  
  .add-field img { margin: 0 $item-padding; position: static !important; }
}

.external-links {
  color: $externelLinks;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 15px;
}

.form-action {
  margin: 25px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-step {
  width: 100%;
  text-align: center;

  & > * {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    background-color: #f2f2f2;

    &:not(.active) { cursor: pointer; }
  }
  
  .active {
    background-color: $buttonColor;
  }
}

//------------------------------------------------

.form-control {
  margin: 0 auto;

  @include desktop-only {
    width: 100%;
    max-width: 450px;
  }

  @include from($medium) {
    max-width: 600px !important;
  }
}

%before-element {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.disponible::before {
  @extend %before-element;
  @include circle(1.2em, $available);
}
.sous-conditions::before {
  @extend %before-element;
  @include circle(1.2em, $availableWithLimits);
}
.pas-disponible::before {
  @extend %before-element;
  @include circle(1.2em, $unavailable);
}
.non-renseigne::before {
  @extend %before-element;
  @include circle(1.1em, #fafafa);
  border: 1px solid black;
}  