// FORMULAIRES

.arrow_right {
  transform: scale(0.6);
};

.arrow_left {
  transform: scale(0.6) rotate(180deg);
};

.arrow_right, .arrow_left {
  margin: 0 8px;
}

.curved-border {
  border-radius: 15px 15px 0 0;
}

.hosted-page {
  @extend .background-white;
  // @extend %overflow-y;
  padding: $page-padding;
  position: relative;
  font-size: 0.95em;
  overflow: hidden;
  flex-grow: 1;

  & > * { flex-shrink: 0; }
}

.space-children-margin {
  & > *:not(:last-child) {
    margin-bottom: $spacing-margin;
  }
}

.small-space-children-margin {
  & > *:not(:last-child) {
    margin-bottom: $small-spacing-margin;
  }
}

.formulaire {
  display: flex;
  flex-direction: column;
  background: $secondaryBackground;
}


.paging {
  list-style-type: none;
  font-size: 0.9em;
  height: $paging-height;
  line-height: $paging-height;
  background: $secondaryBackground;
  color: $landingColor;
  justify-content: space-between;

  & > li {
    flex-grow: 1;
    height: 100%;
  }
  
  & li a > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.no-background {
  background: none !important;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: $title-padding;
}

.subtitle {
  font-size: 1.05em;
  font-weight: 600;
  margin-bottom: $title-padding;
}

//move to its own file


.form-control {
  background-color: $landingColor;
  color: $formulaireMainColor;
  flex: 1;
  font-family: "Poppins";
  @extend .flex;
  @extend .column;
  
  .form-title {
    @extend .title;
    &:not(:first-child) { margin-top: $title-padding; }
  }

  .form-section-title {
    @extend .form-title;
    color: $secondaryBackground;
    font-family: "Poppins";
  }

  .form-subtitle {
    @extend .subtitle;
  }
}

.form-input {
  font-family: "Poppins";
  position: relative;

  .error { color: #ff0033; font-size: 0.75em; }

  & > * {
    display: block;
  }

  label {
    margin-bottom: 5px;
    font-weight: 500;
  }

  input {
    font-family: inherit;
    border-bottom: 2px solid #cdcfd0 !important;

    &.ng-invalid:not(.ng-untouched) {
      border-bottom-color: red !important;
    }
  }

  & > input, & > span > input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
  }
  
  select {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #cdcfd0;
  }

  & > img {
    position: absolute;
    right: $input-image-offset-x;
    bottom: $input-image-offset-y;
  }

  margin-bottom: $form-item-spacing;

  &.add-field > * {
    display: inline-block;
    vertical-align: middle;
  }
  
  &.add-field img { margin: 0 $item-padding; position: static; }
}

.external-links {
  color: $externelLinks;
  font-family: "Poppins Light";
  font-size: 15px;
}

.form-action {
  margin: 25px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.form-step {
  background-color: $landingColor;
  width: 100%;
  text-align: center;

  & > * {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    background-color: #f2f2f2;

    &:not(.active) { cursor: pointer; }
  }
  
  .active {
    background-color: $buttonColor;
  }
}

//------------------------------------------------

@media (min-width: 768px) {
  .form-control {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: 1366px) {
    .form-control {
      max-width: 600px;
    }
  }

  @media (min-width: 1367px) {
    .form-control {
      max-width: 768px;
    }
  }
}