@use "sass:math";
@import 'mixins';
@import 'variables';
@import 'responsive';
@import 'animations.scss';
@import 'forms.scss';
@import 'mapbox-gl.scss';
@import 'ngx-slider.scss';
@import 'web.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --main-landing-color: #{$mainColor}; 
  --main-app-color: #{$landingColor};
  --main-button-color: #{$buttonColor};
  --main-button-gradient: #{$buttonGradient};
}

.clear-margin {
  margin: 0;
}

.clear-padding {
  padding: 0;
}

* {
  @extend .clear-margin;
  @extend .clear-padding;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white !important;
  overflow-x: hidden;

  &.blocked {
    overflow: hidden;
  }

  @include desktop-only { overflow: hidden; }
}

button {
  font-size: inherit;
  display: inline-block;
  outline: none;
  border: none;
  padding: 15px 10px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 200;

  &.button {
    color: white;

    &:disabled {
      background: #aaa !important;
    }

    &.gradient {
      background: linear-gradient(#134C6C, #0C5E8D);
    }

    &.passive {
      background: white;
      color: #0C5E8D;
      border: 2px solid #0C5E8D;
      font-weight: 500;
    }

    &.active {
      background: #134C6C;
    }
  }
}

a {
  font-family: 'Poppins' !important;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.background-image {
  @include cover-background;
}

.text-left {
  text-align: left;
}

.center-text {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.half-rotation {
  transform: rotate(180deg);
}

.flex {
  display: flex !important;

  &.row {
    flex-flow: row nowrap;
  }

  &.column {
    flex-flow: column nowrap;
  }

  &.center-main {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.center-cross {
    align-items: center;
  }

  &.strech-children {
    align-items: stretch;
  }

  &.center {
    @extend .center-main;
    @extend .center-cross;
  }

  & > .grow {
    flex-grow: 1;
  }
}

.auto-margin-x {
  margin: 0 auto;
}

.auto-margin-y {
  margin: auto 0;
}
//-----------------------------------------------
//Colors
.background-white {
  background-color: $landingColor;
}

//------------------------------------------------
// POSITIONING
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.absolute-center-x {
  @include absolute-center('x', absolute);
}

.absolute-center-y {
  @include absolute-center('y', absolute);
}

.relative-center-x {
  @include absolute-center('x', relative);
}

.relative-center-y {
  @include absolute-center('y', relative);
}


//-------------------------------------------------
//ANGULAR FORMS
//SERVER ERRORS
.server-error {
  color: red;
  font-size: 0.75em;;
}
//--------------------------------------------------
//fonts
.font-Roboto {
  font-family: "Roboto";
}

.font-Poppins {
  font-family: "Poppins";
}
//--------------------------------------------------
//Text states
.text-emphasis {
  font-weight: bold;
}

.text-light-emphasis {
  font-weight: 500;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modify-icon {
  width: $icon-size + 2 * $icon-padding;
  height: $icon-size + 2 * $icon-padding;
  
  &.image {
    position: absolute;
    bottom: $icon-size; left: $profile-image-size - $highlight-margin - $icon-size;
  }
  
  &.text {
    position: relative;
    vertical-align: middle;
    margin-left: 20px;
  }
}
//---------------------------------------------------
//Inputs
input {
  outline: none;
  border: none;
}

//---------------------------------------------------
//Offre Logo circle arround company logo
//used for offer and offfer pages
.offres-logo {
  @include circle(80px, rgb(241, 241, 241));
}
//--------------------------------------------------

//Page layouts
.sticky-header {
  position: fixed;
  background: $secondaryBackground;
  color: white;
  @extend %header;
}

.section {
  position: relative;
}

//Tabs
.pick {
  justify-content: space-around;
}

.tabs {
  list-style-type: none;
  justify-content: space-between;
  margin-top: auto;

  li {
    height: $tab-height;
    padding: $tab-padding;
    flex: 1;
    background: $tab-default-background;
    color: $tab-default-color;
    line-height: $tab-height - 2*$tab-padding;

    &.active { background: $tab-active-background; color: $tab-active-color; font-weight: 500; }
    &:not(:last-child) { margin-right: $tab-spacing; }
  }
}
.radio-item {
  font-size: 0.9em;
}

.radio-container {
  justify-content: space-between;
}

.switch-container {
  span { flex: 1; font-size: 0.9em; }
  switch {
    margin-left: 10px;
    position: relative;
 }
}

textarea {
  width: 100%;
  min-height: 80px;
  border: 2px solid #aaa;
  outline: none;
  border-radius: 3px;
}

//----------------------------------------------------
//clear fixes
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="date"] {
  background: none;
}

select {
  outline: none;
  border: none;
  border-bottom: 2px solid #aaa;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.offres {
  justify-content: space-between;
  box-shadow: 0 5px 3px 0 rgba(149, 157, 165, 0.2); // x y spread outline color
  padding: $item-padding 2 * $item-padding;
  color: #999999;
  font-size: 15px;
  border-radius: 5px;
}

.collapse-content {
  transition: height 250ms ease-out 0s;
}

.collapse-content { overflow: hidden; }

.is-collapsed {
  height: $collapse-min-height + $collapse-extra-height;

  & > .collapse-content { height: $collapse-min-height; }
  & > .collapse-controller {
    margin-top: math.div($collapse-extra-height, 2);
  }
}

.collapse-controller {
  z-index: 1;
  color: #999;
  bottom: 0;
  & > * { vertical-align: middle; }
}
// White sticky header 
.white-header{
  background: white !important;
  color: #333333;
}
.footer-button {
  width: 100%;
  background-color: #0C5E8D;
  color : #FFFFFF;
}

.sticky-footer {
  @extend %sticky-footer;
}

.image-icon {
  width: $icon-size;
  height: $icon-size;
}

.criteria { font-weight: 500; }
//RESPONSIVE - WEB