@forward  'forms.scss';
@forward  'mapbox-gl.scss';
@forward  'ngx-slider.scss';
@forward  'web.scss';
@forward  'animations';


@use "sass:math";

@use 'animations.scss' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'responsive' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-landing-color: $mainColor; 
  --main-app-color: $landingColor;
  --main-button-color: $buttonColor;
  --main-button-gradient: $primary;
}

html, body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	// background: white;
  height: 100vh;
  width: 100vw;
	overflow-x: hidden;
}

h1, h2, h3 { font-size: 1rem}
h1 {  font-family: "Roboto"; font-weight: 700}
h2 {  font-family: "Poppins"; font-weight: 500; color: $primary;}
h3 {  font-family: "Roboto"; font-weight: 600;}
h4 {  font-family: "Poppins"; font-weight: 400}

// Margin horizontal
.mx-auto{   margin: 0 auto;}
.mx-1   {   margin-left: 1rem; margin-right: 1rem;}
.mx-2   {   margin-left: 2rem; margin-right: 2rem;}
.mx-3   {   margin-left: 3rem; margin-right: 3rem;}
.mx-4   {   margin-left: 4rem; margin-right: 4rem;}
.mx-5   {   margin-left: 5rem; margin-right: 5rem;}


// -----------------------------

// input {
//   all: unset;
// }

body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.clear-margin {
  margin: 0;
}

.clear-padding {
  padding: 0;
}

header {
  > img:first-child{
    position: absolute;
  }
}

.page-content {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $sticky-header-height);
  height: calc(100vh - #{$sticky-header-height} - #{$navigation-height} - env(safe-area-inset-bottom));
}

.page-content-without-nav {
  @extend %overflow-y;
  @include with-set-safe-area(margin, top, $sticky-header-height);
  height: calc(100vh - #{$sticky-header-height} - env(safe-area-inset-bottom));
}

// Never used ???
.full-page {
  @extend %overflow-y;
  @include set-safe-area(top);
  @include set-safe-area(bottom);
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: white !important;
  overflow-x: hidden;

  &.blocked {
    overflow: hidden;
  }

  @include desktop-only { overflow: hidden; }
}

button {
  font-size: inherit;
  display: inline-block;
  outline: none;
  border: none;
  // padding: 10px 15px;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 200;
  
  &.button {
    padding: $spacer-75 $spacer-150;
    color: white;
    cursor: pointer;
    &:disabled {
      background: #aaa !important;
    }

    &.gradient {
      background: $primary;
    }

    &.passive {
      background: white;
      color: #0C5E8D;
      border: 2px solid #0C5E8D;
      font-weight: 500;

      &:disabled { background-color: white !important; color: $light; border-color: $light; }
    }

    &.active {
      // background: #134C6C;
      background: $primary;
    }
  }
}

a {
  font-family: 'Poppins' !important;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.background-image {
  @include cover-background;
}

.text-left { text-align: left;}

.center-text { text-align: center;}

.text-right { text-align: right;}

.block {
  display: block;
}

.half-rotation {
  transform: rotate(180deg);
}

.grow { flex-grow: 1; }

.auto-margin-x {
  margin: 0 auto;
}

.auto-margin-y {
  margin: auto 0;
}

//------------------------------------------------
// POSITIONING
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.absolute-center-x {
  @include absolute-center('x', absolute);
}

.absolute-center-y {
  @include absolute-center('y', absolute);
}

.relative-center-x {
  @include absolute-center('x', relative);
}

.relative-center-y {
  @include absolute-center('y', relative);
}


//-------------------------------------------------
//ANGULAR FORMS
//SERVER ERRORS
.server-error {
  color: $danger;
  font-size: 0.75em;;
}
//--------------------------------------------------
//fonts
.font-Roboto {
  font-family: "Roboto";
}
.font-Poppins {
  font-family: "Poppins";
}
//--------------------------------------------------
//Text states
.text-emphasis {
  font-weight: bold;
}

.text-light-emphasis {
  font-weight: 500;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


// used only in profile-resume.component
.modify-icon {
  width: $icon-size + 2 * $icon-padding;
  height: $icon-size + 2 * $icon-padding;
  
  &.image {
    position: absolute;
    bottom: 0.5rem; right: $highlight-margin - $icon-size;
  }
  
  &.text {
    position: relative;
    vertical-align: middle;
    margin-left: 20px;
  }
}
//---------------------------------------------------
//Inputs
input, textarea {
  outline: none;
  border: none;
  background: none;
  font-family: 'Poppins', sans-serif
}

//---------------------------------------------------
//Offre Logo circle arround company logo
//used for offer and offfer pages
.offres-logo {
  @include circle(80px, rgb(241, 241, 241));

  img { object-fit: contain; }
  flex-shrink: 0;
}
//--------------------------------------------------

//Page layouts
.sticky-header {
  position: fixed;
  background: $secondaryBackground;
  color: white;
  @extend %header;
}
.white-header {
  background-color: $bg-white;
  color: $dark;
}


.section {
  position: relative;
}

//Tabs
.pick {
  justify-content: space-around;
}

.tabs {
  list-style-type: none;
  margin-top: auto;
  white-space: nowrap;
  gap: $tab-spacing;
  li {
    height: $tab-height;
    padding: $tab-padding;
    flex: 1;
    background: $tab-default-background;
    color: $tab-default-color;
    line-height: $tab-height - 2*$tab-padding;

    &.active { background: $tab-active-background; color: $tab-active-color; font-weight: 500; }
    // &:not(:last-child) { margin-right: $tab-spacing; }
  }
}
.radio-item {
  font-size: 0.9em;
  margin-top: 0.5rem;
}

.radio-container {
  justify-content: space-between;
}

.switch-container {
  span { flex: 1; font-size: 0.9em; }
  switch {
    flex-shrink: 0;
    margin-left: 20px;
    position: relative;
 }
}

// Cloture

.cloture-swipeup{
  display: flex;
  flex-direction: column;
  row-gap: $spacer-200;

  h6 {
    color: $primary;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    column-gap: $spacer-100;
  }
}

.star-container {
  display: flex;
  column-gap: $spacer-50;  

  > img {
    left: unset;
  }
}

.form-input {
  display: flex;
  flex-direction: column;
  row-gap: $spacer-50;
}

//----------------------------------------------------
//clear fixes
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type="date"] {
  background: none;
}

select {
  outline: none;
  border: none;
  border-bottom: 2px solid #aaa;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.offres {
  justify-content: space-between;
  box-shadow: 0 5px 3px 0 rgba(149, 157, 165, 0.2); // x y spread outline color
  padding: $item-padding calc(2 * $item-padding);
  color: #999999;
  font-size: 15px;
  border-radius: 5px;
}

.collapse-content {
  transition: height 250ms ease-out 0s;
}

.collapse-content { 
  overflow: hidden;
}

.is-collapsed {
  // height: $collapse-min-height + $collapse-extra-height;

  // & > .collapse-content { height: $collapse-min-height; }
  & > .collapse-controller {
    margin-top: math.div($collapse-extra-height, 2);
  }
}

.collapse-controller {
  z-index: 1;
  color: #999;
  bottom: 0;
  margin-top: 15px;
  & > * { vertical-align: middle; }
}
// White sticky header 
.white-header{
  background: white !important;
  color: $text-color-grey;
}
.footer-button {
  width: 100%;
  background-color: $primary;
  color : #FFFFFF;
  min-height: 3rem
}

.sticky-footer {
  @extend %sticky-footer;
}

.image-icon {
  width: $icon-size;
  height: $icon-size;
}

.criteria { font-weight: 500; }
//RESPONSIVE - WEB

.embedded-image {
  width: 100%;
  // height: 100%;
  object-fit: contain;
}

.hosted-page {
  .dashed {
    margin: 1rem 0;
    // margin-left: -30px !important;
    display: block;
    width: 100vw;
    border: none;
    border-top: 1px dashed rgb(145, 145, 145);
  }
}

.application-response {
  position: relative;
  left: 40px;
  &:before {
    @extend %absolute-center-y;
    left: -40px;
    width: 30px;
    // height: calc(100% + 10px);
    height: 30px;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.validate:before {
    background-image: url('/assets/valider-candidature.svg');
  }

  &.reject:before {
    background-image: url('/assets/refuser-candidature.svg');
  }
  
  &.block:before {
    background-image: url('/assets/bloquer-candidature.svg');
  }
}

.validate-application {
  position: relative;

}

.hidden {
  display: none;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.displayed {
  display: block;
}

.modal-content {
  margin: 0px auto;
  padding: 0 !important;
  display: block;
  width: 100%;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.wrapper__searchbar__clickcatcher {
  position: absolute;
  height: calc(100vh  - 70px - env(safe-area-inset-bottom));
  z-index: 10
}