@use "lt_variables" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: white;
    height: 100vh;
    overflow-x: hidden;
}

.text-size-small    {   font-size: 14px;}
.text-size-normal   {   font-size: 16px;}
.text-size-large    {   font-size: 18px;}
.text-size-xlarge   {   font-size: 20px;}

.mx-auto{   margin: 0 auto;}
.mx-1   {   margin-left: 1rem; margin-right: 1rem;}
.mx-2   {   margin-left: 2rem; margin-right: 2rem;}
.mx-3   {   margin-left: 3rem; margin-right: 3rem;}
.mx-4   {   margin-left: 4rem; margin-right: 4rem;}
.mx-5   {   margin-left: 5rem; margin-right: 5rem;}

.flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-collumn {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.nowrap {
    flex-wrap: nowrap;
}

.f-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: white;
    padding: 1rem 2rem;
    border: 2px solid;
    width: 100%;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-passiv{
    background-color: $passiv;
    border-color: $passiv;
}

.btn-outline-primary {
    color: $primary;
    background-color: #fff;
    border-color: $primary;
}

.btn-outline-passiv {
    color: $passiv;
    background-color: #fff;
    border-color: $passiv;
}