// Color palette
$primary: #0D6191;
$passiv: #aaa;
$passiv-light: #C7C7C7;
$danger: #E80000;
$warning: #FFD375;
$success: #BBEFB1;
$success-extrem: #D2FFCB;

$text-color: #080F18;
$text-color-grey: #4C4C4C;
$text-color-blue: #05476C;

$spacer-1: 0.75rem;
$spacer-2: 1rem;
$spacer-3: 1.5rem;
$spacer-4: 2rem;
$spacer-5: 2.5rem;