.mapboxgl-popup-content {
  // padding: 10px;
  border-radius: 5px;
  padding: unset;
  background-color: unset;
}

.mapboxgl-popup-close-button {
  padding: 3px;
}

.mapbox-popup-content {
  font-family: "Poppins";
  font-size: 1.2em;
  color: #aaa;
}

