
$mainColor: #000000;
$landingColor: #ffffff;
$buttonColor: #0C5E8D;
$buttonGradient: #134C6C;
$formulaireMainColor : #080F18;
$externelLinks : #0F557C;
:root {
  --main-landing-color: $mainColor; 
  --main-app-color: #{$landingColor};
  --main-button-color: $buttonColor;
  --main-button-gradient: $buttonGradient;
}