@import 'mixins';
@import 'variables';
@import 'responsive';


@media (max-width: 768px) {
  body { font-size: 16px !important; }
}

@media (max-width: 1024px) {
  body { font-size: 13px; }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  body { font-size: 14px; }
}


@media (min-width: 1367px) {
  body { font-size: 16px; }
}

.hero {
  overflow-x: hidden;
  color: black;
  height: 100vh;

  &.with-sticky-header {
    margin-top: $sticky-header-height;
    height: calc(100vh - #{$sticky-header-height});
  }
}

.web-content {
  @extend .cover-parent;
  max-width: 1024px;
  margin: 0 auto;
  padding: $page-padding 0;
}  

@include breakpoint(small) {
  .web-content {
    padding: $page-padding;
    margin: 0;
  }
}

@include breakpoint(medium) {
  .web-content {
    max-width: 1024px;
    margin: 0 auto;
    padding: $page-padding 0;
  }
}

@include from($medium) {
  .web-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: $page-padding 0;
  }
}

.hero-title {
  font-weight: 900;
  margin-bottom: 20px;
}

$hero-header-offset-y: 60px;
$hero-header-offset-x: 60px;

$hero-header-tick-offset: 10px;
$hero-header-tick-width: 60px;
$hero-header-tick-thickness: 8px;

.hero-header {
  font-size: 2.75em;
  font-weight: 900;
  padding-top: $hero-header-offset-y;

  &.left {
    padding-left: $hero-header-offset-x;

  }

  &.right {
    padding-right: $hero-header-offset-x;
  }

  span { position: relative; }
  
  span::before {
    content: "";
    display: block;
    height: $hero-header-tick-thickness;
    width: $hero-header-tick-width;
    background-color: black;
    position: absolute;
    top: -$hero-header-tick-offset;
    left: 50%; transform: translateX(-50%);
  }
}

.web-page {
  @extend %three-section-layout;
  height: calc(100vh - #{$web-header-height});
  background-color: #f7f7f7;

  @extend %web-space-top;

  .main.web-content {
    margin: 0 auto;
  }
}