<!--Configure role accordingly-->
<ng-container *ngIf="(profile$ | async) as profile">
  <header class="clear-margin full-width sticky-header flex center-cross white-header">
    <h1 class="grow">Mon Profil</h1>
    <div class="notification-container">
      <img src="assets/notification.svg" (click)="openNotifications = true" alt="notification_button"/>
      <span *ngIf="notificationsUnseen" [attr.data-notification-number]="notificationsUnseen" class="notification"></span>
    </div>
    <img src="assets/menu.svg" (click)="openMenu = true" alt="menu_button"/>
  </header>

  <extended-profile class="page-content" [profile]="profile">
  </extended-profile>

  <swipeup [(open)]="openMenu">
    <li (click)="slideModifyMenu(false)">Modifier mon profil</li>
    <li (click)="slideModifyMenu(true)">Modifier mon mot de passe</li>
    <li (click)="openCandidature = true; openMenu = false" *ngIf="this.view == 'ST'"> Candidatures en cours</li>
    <li (click)="openBlockedContact = true; openMenu = false" *ngIf="this.view == 'PME'"> Contacts bloqués</li>

    <li class="spacer"></li>
    <li [routerLink]="['','abonnement']">Gérer mes abonnements</li>
    <li (click)="openFacture = true; openMenu = false">Mes factures</li>
    <li class="spacer"></li>
    <li (click)="openRecommendation = true; openMenu = false"  >Demander une recommandation</li>
    <li (click)="slideInviteFriends()">Parrainer vos amis</li>
    <li >Partager l'application</li>
    <li>Noter l'application</li>
    <li>Nous contacter</li>
    <li (click)="openFaq = true; openMenu = false">FAQ</li>
    <li (click)="openMentionLegal = true; openMenu = false">Mentions légales</li>
    <li class="spacer"></li>
    <li (click)="logout()">Se déconnecter</li>
  </swipeup>

  <slidemenu [(open)]="openFacture" #facture>
    <h1 class="center-text full-width" header>Mes factures</h1>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <facture-page *ngIf="openFacture"></facture-page>
    </div>
  </slidemenu>

  <slidemenu [(open)]="openFaq" #faq>
    <h1 class="center-text full-width" header>FAQ</h1>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <faq *ngIf="openFaq"></faq>
    </div>
  </slidemenu>

  <slidemenu [(open)]="openMentionLegal" #mentionLegal>
    <h1 class="center-text full-width" header>Mentions légales</h1>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <app-mention-legal *ngIf="openMentionLegal"></app-mention-legal>
    </div>
  </slidemenu>

  <slidemenu *ngIf="this.view == 'PME'" [(open)]="openBlockedContact" #blockedContact>
    <h1 class="center-text full-width" header>Mes contacts bloqués</h1>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <blocked_contacts *ngIf="openBlockedContact"></blocked_contacts>
    </div>
  </slidemenu>

  <slidemenu *ngIf="this.view == 'ST'" [header]="false" [(open)]="openCandidature" #candidature>
    <!-- <h1 class="center-text full-width" header>Candidatures en cours</h1> -->
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <applications (closeEvent)="candidature.close()" *ngIf="openCandidature"></applications>
    </div>
  </slidemenu>

  <rating [view]="showView" [profile]="profile" [(open)]="openRecommendation" [ngClass]="{'open' : openRecommendation}" [profileRecommandation]="showRecomandation"></rating>

  <slidemenu [footer]="modifyPassword ? 'small' : 'medium'" [(open)]="openModifyMenu" #modifyMenu>    
    <h1 class="center-text full-width" header>Modifier mon Profil</h1>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <swipeup [(open)]="openModifyPicture" #modifyPicture>
        <li (click)="takePhoto()">Accéder à l'appareil photo</li>
        <li (click)="selectPhoto()">Télécharger une image</li>
      </swipeup>
      <profile-resume [profile]="profile" [canChangePicture]="!modifyPassword" [showView]="view" class="flex column center-cross space-children-margin" (changePicture)="swipeModifyPicture()"></profile-resume>
      <modify-password-form *ngIf="modifyPassword" class="grow" (submit)="changePassword($event)"></modify-password-form>
      <modify-profile-form *ngIf="!modifyPassword" class="grow" [profile]="profile" (submit)="modifyProfile($event)" #modifyForm></modify-profile-form>
    </div>
  </slidemenu>

  <slidemenu [(open)]="openInviteFriendMenu" #inviteFriends>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <invite_friends class="flex column center-cross space-children-margin"></invite_friends>
    </div>
  </slidemenu>

  <slidemenu [(open)]="openNotifications">
    <div class="full-width center-text text-emphasis" header>Notifications</div>
    <notifications class="hosted-page flex column center-cross space-children-margin" [notifications]="notifications" content></notifications>
  </slidemenu>
</ng-container>

