@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  @extend %page;
  //maybe extend this
  overflow-y: hidden;
}

header {
  img {
    padding: 0 $item-padding;
  }
}

.form-container {
  @extend %overflow-y;
}

.notification {
  @extend %has-notifications;

  &::after {
    left: -20px;
    top: -20px
  }
}

/* im sorry for writing this page badly */
/* i had some difficulties with scrolling */
.modify-page {
  padding-bottom: 0;
  .form-container {
    padding-bottom: $page-padding;
  }
}

.notification::after {
  position: relative;
  top: -1rem;
  left: -1rem;

}

swipeup li.spacer {
  height: 2rem;
  background-color: white;
}

swipeup li{
  background-color: #F4F4F4;
  width: 100vw;
  position: relative;
  left: -2rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  font-size: medium;
}

.slideMenu__BigHeader__wrapper {
  min-height: unset;
  height: calc(100vh - 4rem - env(safe-area-inset-bottom));
}
.slideMenu__BigHeader__wrapper::ng-deep > div {
  // margin-top: env(safe-area-inset-top)
  margin-top: 0;
}

.optionButton {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 15px;
  height: 2.3rem;
  padding: 0 1rem;
  border-radius: 1.15rem;
  filter: drop-shadow(0 0 0.2rem #00000029);
  box-shadow: 0 3px 6px 0 #00000029;
}