<!--Configure role accordingly-->
<ng-container *ngIf="(user$ | async) as user">
  <header class="clear-margin full-width sticky-header flex center-cross">
    <span class="grow text-light-emphasis">Mon Profil</span>
    <img src="assets/notification.svg" (click)="openNotifications = true" />
    <img src="assets/menu.svg" (click)="openMenu = true" />
  </header>

  <div class="hosted-page flex column center-cross space-children-margin page-content font-Poppins">
    <profile-resume class="flex column center-cross space-children-margin" [showMore]="true" (ratingsClicked)="openRatings = true" (profileChanged)="changeProfileType($event)" [user]="user"></profile-resume>

    <section class="job-description full-width flex column space-children-margin">
      <span>
        <span class="text-light-emphasis">Nom de l'entreprise : </span> <span
          class="value">{{user.profile!.company.name}}</span>
      </span>
      <span>
        <span class="text-light-emphasis">N SIRET : </span> <span
          class="value">{{user.profile!.company.siret}}</span>
      </span>
      <span>
        <span class="text-light-emphasis">Métier : </span>
        <span *ngFor="let job of user.profile!.company.jobs!" class="value">{{ job.number }} {{ job.job.name }}, </span>
      </span>
      <span>
        <span class="text-light-emphasis">Chiffres d'affaires : </span> <span
          class="value">{{user.profile!.company.capital}}</span>
      </span>
    </section>

    <section class="documents">
      <h4>Documents importants</h4>
      <div class="flex images">
        <file-svg name="Impôt" color="#52d1bd"></file-svg>
        <file-svg name="KBIS" color="#156c9d"></file-svg>
        <object type="image/svg+xml" data="assets/files/qualibat.svg"></object>
        <file-svg name="URSSAF" color="#f9c067"></file-svg>
      </div>
    </section>
  </div>

  <swipeup [(open)]="openMenu">
    <li (click)="slideModifyMenu(false)">Modifier mon profil</li>
    <li (click)="slideModifyMenu(true)">Modifier mon mot de passe</li>
    <li>Candidatures en cours</li>
    <li [routerLink]="['','abonnement']">Gérer mes abonnements</li>
    <li [routerLink]="['','factures']">Mes factures</li>
    <li>Partager l'application</li>
    <li>Noter l'application</li>
    <li>Nous contacter</li>
    <li>FAQ</li>
    <li>Mentions légales</li>
    <li (click)="logout()">Se déconnecter</li>
  </swipeup>

  <slidemenu [(open)]="openModifyMenu" #modifyMenu>
    <div class="full-width center-text text-emphasis" header>Modifier mon Profil</div>
    <div class="modify-page hosted-page flex column center-cross space-children-margin" content>
      <section class="section">
        <profile-image [user]="user"></profile-image>
        <img src="assets/icons/modify.svg" class="modify-icon image" (click)="openModifyPictureMenu()" />
      </section>
  
      <switch off="Profile ST" on="Profil PME"  style="text-align: center;" off="Profil ST" on="Profil PME" [value]="user.profile!.role.id == 2" disabled></switch>
      <stars value="3.9"></stars>
  
      
      <div class="form-container full-width grow flex column position-relative">
        <modify-password-form *ngIf="modifyPassword" class="grow"></modify-password-form>
        <modify-profile-form [user]="user.profile!" *ngIf="!modifyPassword" class="grow" (submit)="modifyProfile($event)"></modify-profile-form>
      </div>

      <swipeup [(open)]="openModifyPicture">
        <li (click)="takePhoto()">Accédez à l'appareil photo</li>
        <li (click)="selectPhoto()">Télécharger une image</li>
      </swipeup>
    </div>
  </slidemenu>

  <slidemenu [(open)]="openRatings">
    <div class="full-width center-text text-emphasis" header>Mes notes</div>
    <div class="hosted-page flex column center-cross space-children-margin" content>

      <profile-image [user]="user"></profile-image>
      <switch off="Profile ST" on="Profil PME" style="text-align: center;"></switch>

      <stars value="3.9"></stars>
      <span class="full-width section " style="text-align: center;font-size: 12px; margin-bottom: 10px;">Demander une
        recommandation</span>
      <section class="full-width section modify-profile">
        <div class="company-rate">
          <span class="company-name">SARL</span>
          <div class="criterion ">
            <div class="flex center-cross">
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>

            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>

          </div>
          <div class="criterion ">
            <div class="flex center-cross">
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>

            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>

          </div>
          <div class="criterion ">
            <div class="flex center-cross">
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>

            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>
          </div>
        </div>
        <div class="company-rate">
          <span class="company-name">SARL</span>
          <div class="criterion ">
            <div class="flex center-cross">
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>

            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>

          </div>
          <div class="criterion ">
            <div class="flex center-cross">
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>

            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>

          </div>
          <div class="criterion ">
            <div class="flex center-cross">
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>

            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>
          </div>
        </div>
      </section>
    </div>
  </slidemenu>
  <slidemenu [(open)]="openNotifications">
    <div class="full-width center-text text-emphasis" header>Notifications</div>
    <notifications class="hosted-page flex column center-cross space-children-margin" content></notifications>
  </slidemenu>
</ng-container>