@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  @extend %page;
  //maybe extend this
  overflow-y: hidden;
}

header {
  img {
    padding: 0 $item-padding;
  }
}

.notification {
  @extend %has-notifications
}

.company-rate {
  font-family: "Roboto";
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  margin: 10px 0;
}
.company-name {
  font-weight: 800;
  color: $dark;
}

.criterion {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
  .criterion-stars {
    font-size: 14px;
  }
  .stars {
    transform: scale(0.7);
  }
  span {
    color: $light;
    white-space: normal;
  }
}

.form-container {
  @extend %overflow-y;
}

/* im sorry for writing this page badly */
/* i had some difficulties with scrolling */
.modify-page {
  padding-bottom: 0;
  .form-container {
    padding-bottom: $page-padding;
  }
}