<!--Configure role accordingly-->
<ng-container *ngIf="(user$ | async) as user">
  <header class="clear-margin full-width sticky-header flex center-cross">
    <span class="grow text-light-emphasis">Mon Profil</span>
    <img src="assets/notification.svg" (click)="openNotifications = true"/>
    <img src="assets/menu.svg" (click)="openMenu = true" />
  </header>
  
  <div class="hosted-page flex column center-cross space-children-margin page-content">
    <profile-image [src]="profileImage$ | async"></profile-image>
    <switch off="Profile ST" on="Profil PME"  style="text-align: center;" [value]="user!.type" (valueChange)="changeProfileType($event)"></switch>
    <section class="quick-intro flex column center-cross">
      <span class="text-emphasis">{{ (user.profile!.firstName + " " + user.profile!.lastName) | titlecase }}</span>
      <span>{{ user.profile!.user }}</span>
      <span>{{ user.profile!.cellPhone || '00 00 00 00 00' }}</span>
      <stars (click)="openRatings = true" value="3.9"></stars>
    </section>
  
    <section class="job-description full-width flex column space-children-margin">
      <span>
        <span class="text-light-emphasis font-Poppins">Nom de l'entreprise : </span> <span class="value">{{user.profile!.company.name}}</span>
      </span>
      <span>
        <span class="text-light-emphasis font-Poppins">N SIRET : </span> <span class="value">362 521 879 00034</span>
      </span>
      <span>
        <span class="text-light-emphasis font-Poppins">Métier : </span> <span *ngFor="let job of user.profile!.jobs" class="value">1 {{ job.name }}, </span>
      </span>
      <span>
        <span class="text-light-emphasis font-Poppins">Chiffres d'affaires : </span> <span class="value">77 584 €</span>
      </span>
    </section>
  
    <section class="documents">
      <h4>Documents imporants</h4>
      <div class="flex images">
        <img src="assets/files/Impot.svg" />
        <img src="assets/files/KBIS.svg" />
        <img src="assets/files/qualibat.svg" />
        <img src="assets/files/urssaf.svg" />
      </div>
    </section>
  </div>
  
  <swipeup [(open)]="openMenu">
    <li (click)="slideModifyMenu(false)">Modifier mon profil</li>
    <li (click)="slideModifyMenu(true)">Modifier mon mot de passe</li>
    <li>Candidatures en cours</li>
    <li [routerLink]="['','abonnement']">Gérer mes abonnements</li>
    <li [routerLink]="['','factures']">Mes factures</li>
    <li>Partager l'application</li>
    <li>Noter l'application</li>
    <li>Nous contacter</li>
    <li>FAQ</li>
    <li>Mentions légales</li>
    <li (click)="logout()">Se déconnecter</li>
  </swipeup>
  
  <slidemenu [(open)]="openModifyMenu" #modifyMenu>
    <div class="full-width center-text text-emphasis" header>Modifier mon Profil</div>
    <div class="hosted-page flex column center-cross space-children-margin" content>
      <section class="section">
        <profile-image [src]="user!.imageUrl"></profile-image>
        <img src="assets/icons/modify.svg" class="modify-icon image" (click)="openModifyPictureMenu()"/>
      </section>
  
      <switch off="Profile ST" on="Profil PME"  style="text-align: center;" off="Profil ST" on="Profil PME"></switch>
      <stars value="3.9"></stars>
  
      
      <div class="full-width grow flex column position-relative">
        <modify-password-form  *ngIf="modifyPassword" class="grow"></modify-password-form>

        <div *ngIf="!modifyPassword" [slides]="[modifyPage1, modifyPage2, modifyPage3]" type="template" [animate]="true"></div>
        <ng-template #modifyPage1>
          <section class="full-width section">
            <form class="form-control" [formGroup]="modifyProfileForm" [style.display]="modifyPassword ? 'none' : 'initial'">
              <h3 class="form-title font-Roboto">
                Infos personelles: 
                <img src="assets/icons/modify.svg" class="modify-icon text"/>
              </h3>
              <div class="form-input">
                <label>Nom du contact</label>
                <input class="form-element" type="text" formControlName="Userprofile.lastName" />
              </div>
              <div class="form-input">
                <label>Prénom du contact</label>
                <input class="form-element" type="text" formControlName="Userprofile.firstName" />
              </div>
              <div class="form-input">
                <label>Adresse e-mail contact</label>
                <input class="form-element" type="text" formControlName="Userprofile.user" />
              </div>
              <div class="form-input">
                <label>Telephone fixe</label>
                <input class="form-element" type="text" disabled/>
              </div>
              <div class="form-input">
                <label>Téléphone portable</label>
                <input class="form-element" type="text" formControlName="Userprofile.cellPhone" />
              </div>
            </form>
          </section>
        </ng-template>
  
        <ng-template #modifyPage2>
          <section class="full-width section">
            <form class="full-width form-control" [formGroup]="modifyProfileForm">
              <h3 class="form-title font-Roboto">
                Infos entreprise: 
                <img src="assets/icons/modify.svg" (click)="modifyPassword = true" class="modify-icon text"/>
              </h3>
              <div class="form-input">
                <label>Nom de l'entreprise</label>
                <input class="form-element" type="text" formControlName="Company.name" />
              </div>
              <div class="form-input">
                <label>N SIRET</label>
                <input class="form-element" type="text" formControlName="Company.siret"/>
              </div>
              <div class="form-input metiers">
                <label>Métiers</label>
                <span class="position-relative">
                  <input placeholder="Chef de chantier" class="form-element" type="text" disabled/>
                  <div class="position-absolute number-container">
                    <number [value]="0"></number>
                  </div>
                </span>
  
                <span class="position-relative">
                  <input placeholder="Maître d'oeuvre" class="form-element" type="text" disabled/>
                  <div class="position-absolute number-container">
                    <number [value]="0"></number>
                  </div>
                </span>
              </div>
  
              <div class="form-input center-text add-field">
                <img src="assets/icons/add.svg"/>
                <span>Ajouter une métier</span>
              </div>
  
              <div class="form-input">
                <label>Site internet</label>
                <input class="form-element" type="text" formControlName="Company.webSite"/>
              </div>
              
              <div class="form-input">
                <label>Chiffres d'affaires</label>
                <input class="form-element" type="text" formControlName="Company.capital"/>
              </div>
  
              <fileinput [showtitle]="false" filename="Kbis" imgsrc="assets/files/KBIS.svg"></fileinput>
              <fileinput [showtitle]="false" filename="Attestation travail dissimulé" imgsrc="assets/files/Trav. Dis..svg"></fileinput>
              <fileinput [showtitle]="false" filename="Attestation RC + DC" imgsrc="assets/files/RC + DC.svg"></fileinput>
              <fileinput [showtitle]="false" filename="URSSAF" imgsrc="assets/files/urssaf.svg"></fileinput>
              <fileinput [showtitle]="false" filename="Impôts" imgsrc="assets/files/Impot.svg"></fileinput>
              <fileinput [showtitle]="false" filename="Congés payés" imgsrc="assets/files/Cong.Payés.svg"></fileinput>
            </form>
          </section>
        </ng-template>
  
        <ng-template #modifyPage3>
          <section class="full-width section">
            <form class="full-width form-control">
              <h3 class="form-title font-Roboto">
                Certifications & labels: 
                <img src="assets/icons/modify.svg" (click)="modifyPassword = true" class="modify-icon text"/>
              </h3>
              <div class="form-input">
                <label>Vos labels</label>
                <options [showChosenItems]="false" [options]="allLabels" (valueChange)="labels = $event"></options>
              </div>
              <fileinput *ngFor="let label of labels" [filename]="label.name"></fileinput>
            </form>
          </section>
        </ng-template>
  
        <div style="margin-top: auto;" *ngIf="!modifyPassword" >
          <div class="form-step">
            <div (click)="modifySlider.index = 0" [class.active]="modifySlider ? modifySlider.index == 0 : true"></div>
            <div (click)="modifySlider.index = 1" [class.active]="modifySlider && modifySlider.index == 1"></div>
            <div (click)="modifySlider.index = 2" [class.active]="modifySlider && modifySlider.index == 2"></div>
          </div>
          <button class="button gradient full-width" (click)="modifyProfile()" [disabled]="(!modifyProfileForm.touched || modifyProfileForm.invalid) || null">
            Enregistrer
          </button>
        </div>
      </div>
  
      <swipeup [(open)]="openModifyPicture">
        <li (click)="takePhoto()">Accédez à l'appareil photo</li>
        <li (click)="selectPhoto()">Télécharger une image</li>
      </swipeup>
    </div>
  </slidemenu>
  
  <slidemenu [(open)]="openRatings">
    <div class="full-width center-text text-emphasis" header>Mes notes</div>
    <div class="hosted-page flex column center-cross space-children-margin" content>
  
      <profile-image [src]="user!.imageUrl"></profile-image>
       <switch off="Profile ST" on="Profil PME"  style="text-align: center;"></switch>
  
       <stars value="3.9"></stars>
       <span class="full-width section " style="text-align: center;font-size: 12px; margin-bottom: 10px;">Demander une recommandation</span>
       <section class="full-width section modify-profile">
         <div class="company-rate">
           <span class="company-name">SARL</span>
           <div class="criterion ">
            <div class="flex center-cross"> 
              <span class="criterion-stars">CRITERE 1
             </span>
             <stars class="stars" value="3.9"></stars>
         </div>
  
           <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
           et dolore</span>
  
          </div>
          <div class="criterion ">
           <div class="flex center-cross"> 
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>
  
             <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore</span>
  
        </div>
          <div class="criterion ">
           <div class="flex center-cross"> 
            <span class="criterion-stars">CRITERE 1
             </span>
            <stars class="stars" value="3.9"></stars>
            </div>
  
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
           dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>
           </div>
        </div>
         <div class="company-rate">
           <span class="company-name">SARL</span>
           <div class="criterion ">
            <div class="flex center-cross"> 
              <span class="criterion-stars">CRITERE 1
             </span>
             <stars class="stars" value="3.9"></stars>
         </div>
  
           <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
           et dolore</span>
  
          </div>
          <div class="criterion ">
           <div class="flex center-cross"> 
              <span class="criterion-stars">CRITERE 1
              </span>
              <stars class="stars" value="3.9"></stars>
            </div>
  
             <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore</span>
  
        </div>
          <div class="criterion ">
           <div class="flex center-cross"> 
            <span class="criterion-stars">CRITERE 1
             </span>
            <stars class="stars" value="3.9"></stars>
            </div>
  
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
           dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore</span>
           </div>
        </div>
     </section>
   </div>
  </slidemenu>
     <slidemenu [(open)]="openNotifications">
      <div class="full-width center-text text-emphasis" header>Notifications</div>
      <notifications class="hosted-page flex column center-cross space-children-margin" content></notifications>
  </slidemenu>
</ng-container>