<div class="slideMenu__comment__wrapper" content>
    <div class="slideMenu__comment__wrapper__container">


      <div class="partenerComment-container" *ngFor="let supervision of supervisions; let isLast = last">
          <comment-suivi  [supervision]="supervision" #commentSuivi ></comment-suivi>
        </div>
    </div>
</div>
<div class="slideMenu__comment__input__wrapper" [ngClass]="{'resetPadding': !showFooter}">
  <div class="divComment">
    <form [formGroup]="formMain" #formMainTest (ngSubmit)="onSubmit(selectedTask, formMain, 'inputComment')">
      <!-- <input formControlName="inputComment" class="inputComment" type="text" placeholder="Ajouter un commentaire" #comment> -->
      <textarea formControlName="inputComment" class="inputComment" type="text"  rows='1' placeholder='Ajouter un commentaire' (keyup)="autosize(comment)" #comment></textarea>
    </form>
    <img (click)="cameraSwipe()" src="assets/camera-outline.svg"/>
  </div>
</div>

<swipeup [(open)]="swipeMenuImage" #modifyPicture>
  <li (click)="takePhoto()">Accéder à l'appareil photo</li>
  <li (click)="selectPhoto()">Télécharger une image</li>
</swipeup>