:host {
  position: absolute;
  color: black;
  visibility: hidden;
  z-index: -1;
}

:host(.open) {
  visibility: visible;
  z-index: unset;
}

.background {
  position: fixed;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  background-color: #ccc;
  opacity: 0.5;
}

.content {
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 3px 0 #ccc;
  transition: opacity 250ms ease-out 0s;
  will-change: opacity;
  opacity: 0;

  &.open {
    opacity: 1;
  }
}

.list {
  list-style-type: none;
  cursor: pointer;
}