@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
    @extend %page ;
    @extend %no-navigation ;
}

.nav-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}