@import 'src/styles/variables';
@import 'src/styles/mixins';

header {
  display: block;
  @extend %header;
  position: fixed;
  // height: $mission-header-height;
  height: calc(#{$mission-header-height} + env(safe-area-inset-top));
  padding-bottom: 0;
}

.pick > img {
  margin-left: 15px;
}

.three_tabs {
  position: absolute;
  left: 0;
  bottom: 0;
}