@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

header {
  display: block;
  @extend %header;
  position: fixed;
  // height: $mission-header-height;
  height: calc(#{$mission-header-height} + env(safe-area-inset-top));
  padding-top: calc(env(safe-area-inset-top) + 1rem);
  padding-bottom: 0;
}

.pick > img {
  margin-left: 15px;
}

.three_tabs {
  position: absolute;
  left: 0;
  bottom: 0;
}