@use 'src/styles/variables' as *;

:host {
  display: inline-block;
}

:host > * {
  vertical-align: middle;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -moz-appearance: textfield;
  border: none !important;
  outline: none !important;
  width: 20px;
}

img {
  width: $icon-size;
  height: $icon-size;
}