@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;

:host {
    @extend %page ;
    @extend %no-navigation ;
    color: $dark;
    font-weight: 300;
}

.grid {
    display: grid;
    width: 60%;
}
.space {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.small {
    font-size: 12px;
}

.hr-line {
    border-top : 1px solid #00000029;
    margin: 1rem 0;
}