<header class="clear-margin full-width sticky-header flex  white-header">
    <img [routerLink]="['','annonce-enligne']" src="assets/arrowlblack.svg" />
    <span class="grow center-text text-light-emphasis">Booster</span>
</header>
<div class="hosted-page space-children-margin clear-margin full-width page-content-without-nav">
<hr class="hr-line">
<div class="center-text"> <span> 
    Boost ton annonce et il apparaîtra dans le top des résultats de recherche
</span>
</div>
<span> 1 annonce</span>
<hr class="hr-line">
<div class="flex space">
<div class="grid space-children-margin">
    <span>3 jours</span>
    <span class="small">5 € en totalité</span>
</div>
<box type="radio">
</box>
</div>
<div class="flex space">
<div class="grid space-children-margin">
    <span>7 jours</span>
    <span class="small">10 € en totalité</span>
</div>
<box type="radio">
</box>
</div>
<div class="flex space">
<div class="grid space-children-margin">
    <span>Jusqu’à la date d’échéance de l’annonce</span>
    <span class="small">20 € en totalité</span>
</div>
<box type="radio">
</box>
</div>
</div>
<footer class="clear-margin full-width sticky-footer flex center-text center-cross">
    <button class="footer-button">Valider</button>
</footer>