<head>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<div *ngIf="this.state">
    <div *ngIf="this.product">
        <span>{{product}} {{price}} €</span>
    </div>
    <form id="payment-form">
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit" (click)="handleSubmit($event)">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</div>