@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  @extend %page;
}
.annonce {
  background: #FFFFFF !important;
  color: black;
}

.star-annonce{
  height: 2rem;
}

.hosted-page {
  padding-top: 0;
}

.sticky-footer {
  bottom: 0;
  position: fixed;
  height: $navigation-height;
  padding: 0 30px;
}

.your-price {
  justify-content: space-between;
}

.devis { color: #0D5A87; }

.form-section-title {
  font-size: 0.95em;
}

.montant {
  position: relative;
  input {
    padding-right: 30px;;
  }
}

.ht {
  position: absolute;
  right: 0;
  bottom: 5px;
}