<header class="clear-margin full-width sticky-header flex center-cross annonce">
    <img [routerLink]="['','home','missions']"  src="assets/arrowlblack.svg" />
    <span class="grow center-text text-light-emphasis">Annonce</span>
    <img class="star-annonce" src="assets/starEmpty.svg" />
</header>

<div class="container hosted-page page-content">
    <div class="company flex center">
        <div class="offres-logo  flex center">
            <img src="assets/confirmation.svg" />
        </div>
    </div>
    <div class="grid center-text">
        <span class="company">Nom de l’entreprise</span>
    </div>
    <div class="flex center">
        <stars class="stars" value="4.5"></stars>
    </div>
    <div class="center-text">
        <span class="forniture">Fourniture et pose</span>
    </div>
    <div class="center-text">
        <span class="date">Du 11/11/2021 Au 13/12/2021</span>
    </div>
    <div class="center-text">
        <span class="price">Montant </span>
    </div>
    <div class="needs">
        <span class="title">
            Nous avons besoin…….
        </span>
        <ul>
            <li>Besoins ( nombres de personnes + métiers)</li>
            <li>Horaires du chantier</li>
            <li>Nom du contact responsable de l’app</li>
        </ul>
        <span class="flex date-echeance ">Date d’échéance Le 24/10/2021</span>
        <span class="title ">Description des missions</span>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore Lorem ipsum dolor sit amet, consectetur.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</li>
        </ul>

        <span class="title">Documents importants</span>
        <ul>
            <li>Plan</li>
            <li>Document technique</li>
            <li>Descriptif de chantier</li>
            <li>Calendrier d’exécution</li>
        </ul>
    </div>
    <hr class="dashed">
    <span class="devis">
        Pour postuler veuillez proposer votre devis
    </span>
    <div class="flex your-price center">
        <div>
            <label>Montant</label>
            <div class="form-input flex center-cross">
                <input type="text" placeholder="1">
                <span>$HT</span>
            </div>
        </div>
        <div class="form-input your-price">
            <label>Unité</label>
            <select>
                <option value="">Choix d'unité</option>

                <option>
                    m
                </option>
                <option>
                    m
                </option>
                <option>
                    m
                </option>
            </select>
        </div>

    </div>
</div>

<footer class="clear-margin full-width sticky-footer flex center-text center-cross">
    <button class="postuler"> Postuler</button>
</footer>