<header class="clear-margin full-width sticky-header flex center-cross annonce">
  <img [routerLink]="['','home']"  src="assets/arrowlblack.svg" />
  <span class="grow center-text text-light-emphasis">Annonce</span>
  <img class="star-annonce" src="assets/starEmpty.svg" />
</header>

<div class="container hosted-page page-content">
  <annonce-resume></annonce-resume>
  <hr class="dashed">
  <form class="full-width form-control">
    <h6 class="form-section-title">
      Pour postuler veuillez proposer votre devis
    </h6>
    <div class="flex your-price center">
      <div class="form-input montant">
        <label>Montant</label>
        <input type="text" placeholder="Saisissez votre montant">
        <span class="ht">$HT</span>
      </div>
      <div class="form-input">
        <label>Unité</label>
        <select>
          <option>€</option>
          <option>$</option>
          <option>£</option>
        </select>
      </div>
    </div>
  </form>
</div>

<footer class="clear-margin full-width sticky-footer flex center-text center-cross">
  <button class="postuler full-width button gradient"> Postuler</button>
</footer>