@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  @extend %page;
}

.remuneration > * {
  max-width: 45%;
}

.submit-container {
  padding: 10px 20px;

  button { max-width: 45%;}
}

header {
  background: #FFFFFF !important;
  color: black;
}