@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/animations.scss';
:host {
  display: block;
}

.web-content {
  searchbar {
    display: block;
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
  }
}
.web-page {
  @include range($mobile , 1500px){
   .filters {
     display: none;
   }
   .filterOnly{
     display: block !important;
   }
  }
}
.report-search {
  padding: 30px 0;
}
mapbox-batiuni::ng-deep {
  @include range($mobile, 1500px) {
    width: 100vw !important;
    left : 0 !important;
  }
}

tabs {
  position: fixed;
  width: 100%;
  top: $web-header-height - $tab-height;
}
.filterOnly {
  display: none !important;
  height: 100%;
  cursor: pointer;
}

.showFilters{
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 30vw;
  left: 0;
  top: 210px;
  position: absolute;
  z-index: 999;
  background: white;
  @extend .animating;
  overflow-y: auto;
  animation: $slide 50ms normal both slide-in-right;
  cursor: pointer;
  .close
  {
    width: 100%;
    justify-content: end;
  }
}