<tabs [tabs]="2" [(activeView)]="activeView" bottom>
    <span tab_0>Vue list</span>
    <span tab_1>Vue map</span>
  </tabs>
  
  <div class="web-page">
    <section class="filters">
      <sos-filter-form></sos-filter-form>
    </section>
    
    <section class="main web-content font-Poppins">
      <searchbar></searchbar>
      <ng-container [ngSwitch]="activeView">
        <ng-container *ngSwitchCase="0">
      <div class="report-search">
        Resultat <span class="no-result">10 annonces</span>
      </div>
      <div class="space-children-margin">
        <sos-card></sos-card>
        <sos-card></sos-card>
        <sos-card></sos-card>
        <sos-card></sos-card>
        <sos-card></sos-card>
        <sos-card></sos-card>
        <sos-card></sos-card>
      </div>
    </ng-container>
        <ng-container *ngSwitchCase="1">
      <mapbox-batiuni></mapbox-batiuni>
      
    </ng-container>
    </ng-container>
    </section>
  </div>