@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;


:host {
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  cursor: pointer;
}

:host(.open) {
  visibility: visible;
}

.cover-parent {
  background-color: #ccc;
  opacity: 0.5;
  z-index: -1;
}

.menu {
  position: absolute;
}

.menu { 
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms ease-out 0s;
  max-height: 45vh;

  &.open {
    transform: translateY(0);
  }
}

.decoration {
  position: relative;
  height: $swipeup-decoration-height;
  border-top-left-radius: math.div($swipeup-decoration-height, 2);
  border-top-right-radius: math.div($swipeup-decoration-height, 2);
}

.decoration::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #aaa;
  height: 3px;
  width: 40px;
  @include absolute-center('xy', absolute);
}



.list {
  font-size: 0.9em;
  list-style-type: none;
  padding: 20px 2rem;
  @include with-set-safe-area(padding, bottom, 20px);


  // ?? 
  ::ng-deep img {
    width: $icon-size;
    height: $icon-size;
    vertical-align: middle;
    position: relative;
    left: -20px;
  }
}

.list::ng-deep li:not(:last-of-type) {
  margin-bottom: 15px;
}

.content {
  overflow-y: auto;
  max-height: calc(45vh - #{$swipeup-decoration-height});
}