@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  display: block;
}

.quick-intro::ng-deep {
  font-weight: 200;
}

.job-description .value {
  font-weight: 300;
}

.link {
  text-decoration: underline;
  color: $secondaryBackground;
}

.dashed {
  width: calc(100% + 2 *#{$page-padding});
  padding: 10px 20px 0;
  border-top: 1px dashed #aaa;
}

.documents {
  .images {
    flex-wrap: wrap !important;
  }
}

ul {
  list-style: none;
}

// .documents object {
//   width: $document-image-size-x;
// }

.documents-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  file-svg {
    width: fit-content;
    margin: 0 auto;
  }
}

.contact {
  margin-top: 15px;
  margin-bottom: 40px;
}

.metier-list {
  padding-left: 1.5rem;
}