<ng-container *ngIf="(profile$ | cast | async) as profile">
  <div class="hosted-page flex column center-cross space-children-margin font-Poppins">
    <profile-resume class="flex column center-cross space-children-margin"
      [canChangePicture]="false"
      [showMore]="true"
      [profile]="profile"
      [switch]="showSwitch"
      [showRecomandation]="showRecomandation"
      [showView]="showView"
    ></profile-resume>
  
    <section class="job-description full-width flex column space-children-margin">
      <h4 class="text-light-emphasis">Nom de l'entreprise : <span class="value">{{profile.company.name}}</span></h4>
      <h4 class="text-light-emphasis">N SIRET : <span class="value">{{profile.company.siret}}</span></h4>
      <h4 class="text-light-emphasis" *ngIf = "profile.company.allQualifications">Métier : <span class="value">TCE</span></h4>

      <h4 class="text-light-emphasis" *ngIf = "!profile.company.allQualifications">Métier : 
      <span *ngFor="let job of companyJobs; let i = index" class="value">{{ job.number }} {{ jobs[i].name }}, </span></h4>
    
      <h4 class="text-light-emphasis">Chiffres d'affaires : <span class="value">{{profile.company.revenue | currency: 'EUR':'symbol':'1.0-0' }}</span></h4>
    
      <h4 class="text-light-emphasis">Capital : <span class="value">{{profile.company.capital | currency: 'EUR':'symbol':'1.0-0' }}</span></h4>
      <!-- 
        <h4 class="text-light-emphasis">Numéro fixe : <span class="value">{{profile.company.companyPhone | space: 2:1 }}</span></h4>
      -->
      <!-- 
        <h4 class="text-light-emphasis">Site internet : <span class="value link"><a [href]="profile.company.webSite">{{profile.company.webSite}}</a></span></h4>
      </span> -->
      
      <h4 class="text-light-emphasis">Montant Horaire moyen : <span class="value">{{ profile.company.amount ? profile.company.amount + ' €' : 'Non renseigné'}} </span></h4>
      <span class="text-light-emphasis" *ngIf="profile.company.saturdayDisponibility">Disponible pour des missions les samedis</span>
    </section>
    
    <hr class="dashed"/>
    <section class="full-width documents">
      <!-- <h4>Documents importants</h4> -->
      <div class="documents-grid">
        <file-svg *ngFor="let file of attachedFiles" [name]="file.name" [color]="getFileColor(file.name)" (click)="openFile(file)"></file-svg>
      </div>
    </section>

    <ng-container *ngIf="showContact">
      <hr class="dashed"/>
      <section class="full-width">
        <h3>Contact</h3>
        <ul class="contact list flex space-around">
          <li><a [href]="'tel:+33' + profile.company.companyPhone"><img src="assets/missions/call.svg"/></a></li>
          <li><a [href]="'sms:+33' + profile.company.companyPhone"><img src="assets/missions/envoyer-un-message.svg"/></a></li>
          <li><a [href]="'mailto:' + profile.company" disabled><img src="assets/missions/envoyer-un-mail.svg"/></a></li>
        </ul>
      </section>
    </ng-container>
  </div>
</ng-container>