@use "sass:math";
@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  display: block;
}

.quick-intro::ng-deep {
  font-weight: 200;
}

.job-description .value {
  font-weight: 300;
}

.link {
  text-decoration: underline;
  color: $secondaryBackground;
}

.dashed {
  width: calc(100% + 2 *#{$page-padding});
  padding: 10px 20px 0;
  border-top: 1px dashed #aaa;
}

.documents {
  .images {
    flex-wrap: wrap !important;
  }
}

ul {
  list-style: none;
}

.documents object {
  width: $document-image-size-x;
}

.contact {
  margin-top: 15px;
}