@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;

:host {
    color: #333333;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

.relative {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.fillstar {
    position: absolute;
}
.star-systeme {
    margin-top : 0.5rem;
    margin-bottom : 0.5rem;
}