@import "../../../styles/fonts.scss";
@import "../../../styles/mixins";
@import "../../../styles/variables";

:host {
    font-family: "Roboto Regular";
}

.offres {
    width: 80%;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 25px 24px;
    padding: 1.5em;
    color: #999999;
    font-size: 15px;
    .offres-infos {
        flex : 1;
    }
    p{
        margin: 0.6em;
    }
    .entreprise , .adresse {
        font-size: 13px;
    }
    .metier, .date {
        color: #333333;
    }
    .adresse {
        font-family: "Roboto Light";
    }
    
}

.offres-logo {
    @include circle(80px, rgb(241, 241, 241));
}
