@import "../../../styles/mixins";
@import "../../../styles/variables";

:host {
    font-family: "Roboto";
}

.offres {
    justify-content: space-between;
    box-shadow: 0 10px 5px 0 rgba(149, 157, 165, 0.2); // x y spread outline color
    padding: 1.5em;
    color: #999999;
    font-size: 15px;
    border-radius: 5px;
    .offres-infos {
        flex : 1;
    }
    p{
        margin: 0.6em;
    }
    .entreprise , .adresse {
        font-size: 13px;
    }

    .metier, .date {
        color: #333333;
    }
    
    .adresse { font-weight: 300; }
    
}


