<calendar (dayClick)="onDayClicked($event)" [value]="toCalendarDays(detailedDays)" [style.display]="hori ? 'block' : 'none'" disabled></calendar>

<div class="horizantal-calendar" *ngIf='!hori'>
    <ul>
        <li *ngFor="let i of weekend">
            <div class="flex center-cross center-main" 
            (click)="showAgenda(i.day[2])" 
            (click)="showgrey(i)"
            [style.background]="i.status == 'occupe' && i.selected ? 'grey' : i.status == 'occupe' && !i.selected ? '#0D6191' : i.status != 'occupe' && i.selected ? 'grey' : '#FFFFFF' "
                [style.color]="i.status == 'occupe' && i.selected ? '#FFFFFF' : i.status == 'occupe' && !i.selected ? '#FFFFFF' : i.status != 'occupe' && i.selected ? '#FFFFFF' : i.status != 'occupe' && !i.selected ? '#0D6191' : '' "
            >
                <span class="nameofday"> {{i.day[1].slice(0,1).toUpperCase()+i.day[1].slice(1,2)}}</span>
                <span class="daynumber">{{i.day[0]}} </span>
            </div>
        </li>
    </ul>
</div>
<div class="changevue center-text " *ngIf="hideForDesktop">
<span (click)="changeVue()" >{{hori ? "Affichage horizontale" : "Affichage complète du mois"}}</span>
</div>
<div class="day-availibility space-children-margin">
    <div class="selected-day">{{spanShowToday}}</div>
    <div class="selected-day-availibility flex center-cross">Vous étes dispo <div class="sous-conditions"></div></div>
</div>
<div class="agenda flex position-relative " >
    <ol class="full-width"> 
        <li class="flex center-cross " 
        *ngFor="let hours of hoursperday">
        {{hours}}h 
            <div class="agenda-line full-width"></div></li>
    </ol>
   <div 
   class="topthing position-absolute" 
   [style.height.px]="greenCardHeight" 
   [style.top.px]="greenCardFromTop">
       <p >
        {{bilan}}
       </p>
   </div>
   
</div>