<div class="cover-parent flex column center-cross">
  <div class="form-select full-width">

    <div class="input-select full-width flex row center-cross">  
      <ul *ngIf="showChosenItems" class="chosen-items" [class.multiple]="_type[0] == 'checkbox'" [attr.data-if-empty]="ifEmpty">
        <li *ngFor="let choice of value; let i = index" (click)="onChange(['delete', i])">{{choice.name}}</li>
      </ul>
      <img src="assets/arrowdown.svg" (click)="onToggle($event)"/>
    </div>
    <div *ngIf="showDropDown" class="dropdown">
      <div *ngIf="searchable" class="dropdown-choices full-width flex row center-cross">
          <img src="assets/Rechercher.svg" (click)="showDropDown = false">
          <input class="form-search" (input)="filterOptions($event)" type="text" placeholder="Rechercher un métier"/>
      </div>
     
      <div *ngIf="options.length" class="dropdown-content">
        <ul *ngIf="_type[0] == 'checkbox'; else radioMenu">
          <li *ngFor="let option of availableOptions; let index = index" class="flex center-cross">
            {{option.name}} 
            <checkbox (valueChange)="onChange(['toggle', option.id])" [value]="option.checked"></checkbox>
          </li>
        </ul>
        <ng-template #radioMenu>
          <ul>
            <li *ngFor="let option of availableOptions; let index = index" class="flex center-cross">
              {{option.name}} 
              <radiobox [name]="_type[1]" (valueChange)="onChange(['toggle', option.id])" [value]="option.checked"></radiobox>
              <!-- <input (change)="onChange(['toggle', option.id])" class="option-selected" type="checkbox" [attr.checked]="option.checked || null"/> -->
            </li>
          </ul>
        </ng-template>
      </div>
    </div>

  </div>
</div>



