<slidemenu [(open)]="openRatings">
  <header class="clear-margin full-width sticky-header flex center-cross white-header" header>
    <img src="assets/arrowlblack.svg" (click)="close()">
    <h1 class="grow center-text">
      Les notes
    </h1>
  </header>
  <div class="hosted-page flex column center-cross space-children-margin" content>

    <profile-image [profile]="profile"></profile-image>
    <span class="company">{{ profile.company!.name }}</span>
    <stars (click)='openRatings = true' class="stars" value="{{ view == 'ST' ? profile.company!.starsST : profile.company!.starsPME  }}" disabled></stars>
    <button *ngIf="profileRecommandation" class="recommendation-button button active"><img src="assets/mail-outline.svg" alt="recommandation">
      Demander une recommandation
    </button>
    <section class="full-width section modify-profile">
      <div *ngFor="let ratingInfo of ratingInfos" class="company-rate">
        <span class="company-name">Note par {{ view == 'ST' ?  ratingInfo.contactName : ratingInfo.subContractorName }} de {{ view == 'ST' ? ratingInfo.companyContractor : ratingInfo.subContractorContact }}</span>
        <div class="criterion">
          <div class="flex center-cross">
            <span class="criterion-stars">Qualité du travail fourni
            </span>
            <stars class="stars" [value]="ratingInfo.qualityVibe" disabled></stars>
          </div>

          <span>{{ ratingInfo.qualityVibeComment }}</span>
        </div>
        <div class="criterion">
          <div class="flex center-cross">
            <span class="criterion-stars">Respect de la securité et de la propreté du chantier
            </span>
            <stars class="stars" [value]="ratingInfo.security" disabled></stars>
          </div>

          <span>{{ ratingInfo.securityComment }}</span>

        </div>
        <div class="criterion">
          <div class="flex center-cross">
            <span class="criterion-stars">Organisation
            </span>
            <stars class="stars" [value]="ratingInfo.organisation" disabled></stars>
          </div>

          <span>{{ ratingInfo.organisationComment }}</span>

        </div>
      </div>
    </section>
  </div>
</slidemenu>