@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use "src/styles/responsive" as *; 

:host {
  position: relative;
  right: 0;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 10px 24px 54px #00000024; // x y spread outline color
  margin-bottom: 1rem;
}

.address {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  background: $bg-white;
  padding: $item-padding (2*$item-padding);
  color: $light;
  justify-content: center;
  flex-shrink: 0;

  width: 100%;
}

.offres-infos {
  flex : 1;
  white-space: nowrap;
  overflow: hidden;
}
.offres-infos-closed {
  flex : 1;
  white-space: nowrap;
  overflow: hidden;
  // background-color: rgb(252, 252, 255);

  div img {
    opacity: .64;
  }
}

p {
  margin: 0.6em;
}

.metier, .date {
  color: $text-color-grey;
}

.adresse { overflow: hidden; text-overflow: ellipsis; font-weight: 300; }

.showDesktopOption {
  ul {
    list-style-type: none;
  }
  padding: 1rem;
  position: absolute;
  background-color: $bg-white;
  min-width: 160px;
  overflow: auto;
  border-radius: 12px;
  right:0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1500;
}

.container::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background: $danger;
}