@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/responsive";

:host {
  display: flex;
  background: white;
  box-shadow: 0 5px 3px 0 rgba(149, 157, 165, 0.2); // x y spread outline color
  padding: $item-padding (2*$item-padding);
  color: #999999;
  border-radius: 12px;
  justify-content: center;
}

.container {
  max-width: 400px;
}

.offres-infos {
  flex : 1;
}

p{
  margin: 0.6em;
}

.entreprise , .adresse {
  // font-size: 13px;
}

.metier, .date {
  color: #333333;
}

.adresse { font-weight: 300; }
