<ng-container *ngIf="post">
  <!-- <app-banner *ngIf="(isClosed)" [post]="post"></app-banner> -->
  <span *ngIf="unseenCandidate && showCandidate" [attr.data-notification-number]="unseenCandidate" class="notification"></span>
  <div class="container grow flex center-cross space-between" [ngClass]="{'offres-infos-closed': isClosed, 'offres-infos-postulated': hasPostulated && !isAppliedPage}">
    <div class="offres-infos">
      <span class="entreprise">{{company?.name || 'Entreprise'}}</span>
      <span class="metier">{{post?.manPower ? 'Main d\'oeuvre' : 'Fourniture et Pose'}}</span>
      <span class="address">{{post?.address || 'addresse'}}</span>
      <span class="date">{{post?.dueDate ?  toLocateDate(post.dueDate) : '19 Janvier 2038'}}</span>
    </div>
    <div class="offer-logo flex center">
      <div class="favorite-container" (click)="toggleFavorite($event)">
        <img *ngIf="!favoritePost;else favoritePosts" src="assets/starEmpty.svg" alt="not-favoritePosts">
        <ng-template #favoritePosts><img src="assets/starFull.svg" alt="favoritePosts"></ng-template>
      </div>
      <img class="imageProfile" [src]="src"/>
      <span class="hasPostulated" *ngIf="hasPostulated && !isAppliedPage">Déjà postulé</span>
      <span class="ongoing" *ngIf="hasPostulated && isAppliedPage && !isRefused">En cours</span>
      <span class="refused" *ngIf="hasPostulated && isAppliedPage && isRefused">Refusé</span>
    </div>
  </div>
</ng-container>