@import "src/styles/mixins";
@import "src/styles/variables";
@import "src/styles/responsive";

:host {
  position: relative;
  right: 0;
  display: flex;
  transition: all 100ms ease-out 0s;
  overflow-y: hidden;
}

:host(.delete) {
  right: 100px;
}

.address {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  background: white;
  box-shadow: 0 5px 3px 0 rgba(149, 157, 165, 0.2); // x y spread outline color
  padding: $item-padding (2*$item-padding);
  color: #999999;
  border-radius: 12px;
  justify-content: center;
  margin-bottom: 1rem;
  flex-shrink: 0;

  width: 100%;
}

.offres-infos {
  flex : 1;
  white-space: nowrap;
  overflow: hidden;
}

p {
  margin: 0.6em;
}

.entreprise , .adresse {
  // font-size: 13px;
}

.metier, .date {
  color: #333333;
}

.adresse { overflow: hidden; text-overflow: ellipsis; font-weight: 300; }

.showDelete {
  width: 100px;
  background-color: red;
  color: white;
  position: absolute;
  right: -100px;
  top: 0;
  bottom: 1rem;
}