@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  @extend %page;
}

.hosted-page {
  @extend %content-with-header-and-big-footer;
}

.remuneration > * {
  max-width: 45%;
}

.submit-container {
  padding: 10px 20px;

  button { max-width: 45%;}
}