@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  // @extend %page;
}

.hosted-page {
  @extend %content-with-header-and-big-footer;

  @include footerHideMobile(calc(100vh - #{$sticky-header-height} - #{$big-sticky-footer-height} - env(safe-area-inset-bottom)));
}

.remuneration > * {
  max-width: 45%;
}

.submit-container {
  padding: 10px 20px;

  button { max-width: 45%;}
}