<desktop-stickyH>

</desktop-stickyH>

<div class="companyinfo">
  <div class="company-logo flex center">
    <img src="assets/confirmation.svg" />
  </div>
  <div class="company-text">
    <span>COMPANY NAME</span>
    <div class="company-data">
      <span>N SIRET : <span>000</span></span>
      <span>Métier : <span>Maitre d'oeuvre</span></span>
      <span>Chiffres d'affaires: <span>74100</span>$ </span>
    </div>
</div>
</div>
<div class="web-page ">
  <section class="filters">
    <div class="header">
      <step></step>
    </div>

  </section>
  
  <section class="main web-content font-Poppins">
    <div class="allow-overflow">
      <ad-form class="adform"></ad-form>
    </div>
  </section>

  <section class="info flex">
    <div class="main-action flex">
      <h1>he</h1>
    </div>
  </section>
</div>