<company-info [profile]="post?.company || profile$"></company-info>
<div class="web-page ">
  <section class="filters">
    <!-- <div class="header"> -->
      <stepper-sys (nodeId)="scrollTo($event)" [rayon]="10" [margin]="20" [testList]="['Besoins de l’entreprise','Infos chantiers','Rémunération','Document important à télécharger']"></stepper-sys>
    <!-- </div> -->

  </section>

  <section class="main web-content font-Poppins space">
    <div class="full-width flex column">
      <ad-form class="adform " [page]="false" [post]="post" #addForm ></ad-form>

      <div class="hiden-action flex  space-around center">
        <button class="button active" (click)="addForm.submit($event,false)"
          [disabled]="!addForm.makeAdForm.valid">Valider</button>
        <button class="button passive" (click)="addForm.submit($event,true)"
          [disabled]="!addForm.makeAdForm.valid">Brouillon</button>
      </div>
    </div>
  </section>

  <section class="info-sec flex">
    <div class="flex info space-children-margin">
      <button class="button active" (click)="addForm.submit($event,false)"
        [disabled]="!addForm.makeAdForm.valid">Valider</button>
      <button class="button passive" (click)="addForm.submit($event,true)"
        [disabled]="!addForm.makeAdForm.valid">Brouillon</button>
    </div>
  </section>
  <!-- <section class="info flex">
    <h1>hey</h1>
  </section> -->

</div>