<desktop-stickyH>
</desktop-stickyH>

<!-- <div class="companyinfo">
  <div class="company-logo flex center">
    <img src="assets/confirmation.svg" />
  </div>
  <div class="company-text">
    <span>COMPANY NAME</span>
    <div class="company-data">
      <span>N SIRET : <span>000</span></span>
      <span>Métier : <span>Maitre d'oeuvre</span></span>
      <span>Chiffres d'affaires: <span>74100</span>$ </span>
    </div>
</div>
</div> -->
<div class="web-page ">
  <section class="filters">
    <div class="header">
      <step></step>
    </div>

  </section>
  
  <section class="main web-content flex font-Poppins">
    <div class="allow-overflow">
      <ad-form class="adform"></ad-form>
    </div>
    <div class="info-bar space-children-margin">
    <button class="button active">HEY</button>
    <button class="button passive">HEY</button>
    </div>
  </section>

  <!-- <section class="info flex">
    <h1>hey</h1>
  </section> -->
</div>