@use 'sass:math';

@import 'src/styles/mixins';
@import 'src/styles/variables';
@import 'src/styles/responsive';
%padding {
  padding: 0 40px;
}
$square : 150px;
$half-square : math.div($square,2);
.page {
  @extend %three-section-layout;
  height: 100vh;
  background-color: #f7f7f7;
  width: 100vw;
  @extend %web-space-top;

  // .main.web-content {
  //   margin: 0 auto;
  // }
}


.report-search {
  padding: 30px 0;
}

//1366+ follow specs
.filters {
  background-color: white;
  overflow-y: auto;
  width: 400px;
  @extend %padding;

  .header {
    img { vertical-align: middle; }
    @extend %web-space-top;
    font-size: 1.5em;
    color: $secondaryBackground;
    padding-bottom: 20px;
  }
}
.company-logo{
    position: fixed;
    top: calc(220px - 60px);
    background-color: white;
    width: $square;
    height: $square;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 999;
}

.company-text {
    position: relative;
    left : $square + 50px;
    top:1rem;
}

.allow-overflow {
    overflow-y: scroll;
    width: 100%;
}

.space {
  margin-top: 50px !important;
}

adform {
  height: unset;
}

.info-bar {
    height: calc(100vh - 300px);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 50%;
    }
}


.companyinfo {
  position: absolute;  
  left: 500px;
  height: 100px;

  .weight {
    font-weight: 500;
  }
  .value {
    font-weight: 200;
  }
}
.company-data {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

.info{
  flex-direction: column;
  width: 80%;
  button{
    height: 60px;
  }
}
.info-sec{ 
  min-width: 300px;
  justify-content: center;
  align-items: center;
}



ad-form::ng-deep{
  width: 100% !important;
  footer {
    display: none !important;
  }
}
.info-sec {
  background-color: transparent !important;
}