@use 'sass:math';

@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/responsive' as *;
%padding {
  padding: 0 40px;
}
$square : 150px;
$half-square : math.div($square,2);
.page {
  @extend %three-section-layout;
  height: 100vh;
  background-color: $bg-white;
  width: 100vw;
  @extend %web-space-top;

  // .main.web-content {
  //   margin: 0 auto;
  // }
}
.web-page {
  width: 100%;
  @include range($mobile, 1500px) {
    .main-content {
      width: 60% !important;

    }
  }
}


.report-search {
  padding: 30px 0;
}

//1366+ follow specs
.filters {
  background-color: $bg-white;
  overflow-y: auto;
  width: 400px;
  @extend %padding;

  .header {
    img { vertical-align: middle; }
    @extend %web-space-top;
    font-size: 1.5em;
    color: $secondaryBackground;
    padding-bottom: 20px;
  }

  @include range($mobile, 1500px) {
    display: none;
  }
}
.company-logo{
    position: fixed;
    top: calc(220px - 60px);
    background-color: $bg-white;
    width: $square;
    height: $square;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 999;
}

.company-text {
    position: relative;
    left : $square + 50px;
    height: 150px;
    padding: 1rem;
    background-color: $bg-white;
    z-index: 999;
}

.allow-overflow {
    overflow-y: scroll;
    width: 100%;
}

.space {
  margin-top: 5rem !important;
  @include range($mobile, 1500px) {
    width: 80vw !important;
  }
}

ad-form::ng-deep{
  form {
    max-width: unset !important;
  }
  @include range($mobile, 1500px) {
    & > * {
      width: 80% !important;
    }
  }
}

.info-bar {
    height: calc(100vh - 300px);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 50%;
    }
}


// .companyinfo {
//   background-color: $bg-white;
//   position: absolute;  
//   left: 500px;
//   height: 150px;
//   width: 30%;
//   z-index: 999;
//   white-space: nowrap;
//   .weight {
//     font-weight: 600;
//   }
//   .twenty{
//     font-size: 20px;
//   }
//   .value {
//     font-weight: 200;
//   }
// }
// .company-data {
//   margin-top: 1rem;
//   display: flex;
//   justify-content: space-between;

//   & > *:not(:last-child) {
//     margin-right: 20px;
//   }
// }

.info{
  flex-direction: column;
  width: 80%;
  button{
    height: 50px;
  }
}
.info-sec{ 
  min-width: 300px;
  justify-content: center;
  align-items: center;
  @include range($mobile, 1500px) {
    display: none !important;
  }
}



ad-form::ng-deep{
  width: 100% !important;
  .form-input {
    & > label {
      margin-bottom: 1.5rem !important;
    }

    margin-bottom: 3rem !important;
  }
  footer {
    display: none !important;
  }
}
.info-sec {
  background-color: transparent !important;
}
.hiden-action {
  display: none !important;
  @include range($mobile, 1500px){
    display: flex !important;
    margin-bottom: 2rem;
  }
  button {
    min-width: 300px;
  }
}
// company-info::ng-deep {
//   @include range($mobile, 1500px) {
//     left: -20% !important;
//     top: 220px;
//     .company {
//     display: flex;
//     flex-direction: column;
//     justify-content: start;
//   }
// }
// }
