<div class="page 1">
  <div class="logo">
    <img src="assets/logo-approx.png"/>
  </div>
  <div class="carousel">
    <img src="assets/image-placeholder-vertical.jpg"/>
    <div>
      <div class="dot active"></div>
      <div class="dot"></div>
    </div>
  </div>
  <h3>Trouver le meilleur sous-traitant pour mon chantier</h3>
  <div class="actions">
    <button class="discover">Découvrir</button>
    <button class="account">J'ai déjà un compte</button>
  </div>
</div>
<div class="page 2">
  <div class="logo">
    <img src="assets/logo-approx.png"/>
  </div>
  <div class="carousel">
    <img src="assets/image-placeholder-vertical.jpg"/>
    <div>
      <div class="dot"></div>
      <div class="dot active"></div>
    </div>
  </div>
  <h3>Trouver le meilleur chantier & la meilleure entreprise principale</h3>
  <div class="actions">
    <button class="discover">Découvrir</button>
    <button class="account">J'ai déjà un compte</button>
  </div>
</div>

<div class="controls back" *ngIf="index > 0" (click)="index = index - 1"> < </div>
<div class="controls next" *ngIf="index < 1" (click)="index = index + 1"> > </div>
