<tabs [tabs]="2" [(activeView)]="activeView" bottom>
    <span tab_0>Vue liste</span>
    <span tab_1>Calendrier</span>
  </tabs>
  
  <div class="web-page">
    <section class="filters">
        <div class="header">
            <img src="assets/filterBlue.svg"/>
             Filtrer par
          </div>
      <online-filter-form></online-filter-form>
    </section>
    
    <section class="main web-content space-children-margin font-Poppins">
      <div class="flex row center">
        <searchbar [placeholder]="activeView == 0 ? 'Mes missions...':'Calendrier'"></searchbar>
        <img class="filterOnly" (click)="showFilters = !showFilters" src="assets/filterBlue.svg">
      </div>
      <div class="space-children-margin">

      <ng-container [ngSwitch]="activeView">
        <ng-container *ngSwitchCase="0" >
          <offer
            *ngFor="let mission of annonces"
            src="assets/brouillon.svg"
            ></offer>
        </ng-container>
        <ng-container *ngSwitchCase="1" >
            <horizontal-calendar [hideForDesktop]="false" ></horizontal-calendar>
        </ng-container>
      </ng-container>
    </div>
    </section>
    <section *ngIf="activeView == 1" class="info-sec ">
      <calendar [value]="[]"></calendar>
    </section>
    <div *ngIf="showFilters" [@enterAnimation] class="showFilters flex column">
      <div class="flex close" (click)="showFilters = !showFilters">
        <img src="assets/X-ICON.svg">
      </div>
      <online-filter-form ></online-filter-form>
    </div>
  </div>