@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;
@use 'src/styles/responsive' as *;

:host {
  display: block;
}
.web-page {
  @include range($mobile , 1500px){
   .filters {
     display: none;
   }
   .filterOnly{
     display: block !important;
   }
  }
}
.web-content {
  searchbar {
    display: block;
    width: 80%;
    font-size: 1em;
    margin: 0 auto;
  }
}

.report-search {
  padding: 30px 0;
}

tabs {
  position: fixed;
  width: 100%;
  top: $web-header-height - $tab-height;
}
.filters {
    overflow: hidden !important;
}
.info-sec {
  background-color: transparent !important  ;
}
calendar::ng-deep {
  .wrapper-calendar {
    li {
      justify-self: center !important;
    }
  }
}
.showFilters{
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 30vw;
  height: calc(100vh - 210px);
  left: 0;
  top: 210px;
  position: absolute;
  z-index: 999;
  background: white;
  // @extend .animating;
  overflow-y: auto;
  // animation: $slide 50ms normal both slide-in-right;
  cursor: pointer;
  .close
  {
    width: 100%;
    justify-content: end;
  }
}
.filterOnly {
  display: none !important;
  height: 100%;
  cursor: pointer;
}