@use "sass:math";
@import 'src/styles/variables';
@import 'src/styles/mixins';

:host {
  display: block;
}

profile-resume {
  padding: $item-padding 0;
}


.job-description {
  .value { font-weight: 300; }
  .text-light-emphasis { text-align: right !important; }
  
  padding: $page-padding 0;
  display: grid;
  grid-template-rows: repeat(4, 1f);
  grid-template-columns: 1fr 3fr;
  column-gap: $item-padding;
}

.documents {
  width: 100%;
  padding: 10px 20px 0;
  border-top: 1px dashed #aaa;

  .images {
    flex-wrap: wrap !important;
    justify-content: space-between;
  }

  h4 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.documents object {
  width: $document-image-size-x;
}

.action-menu {
  padding-left: 0 !important; padding-right: 0 !important;

  ul {
    list-style-type: none;
    font-family: "Poppins";
  }

  li {
    font-size: 0.9em;
    padding: 0 $col-one-padding-x; // get parent padding
    height: $tab-height;
    font-weight: 500;
    background: #f7f7f7;
    line-height: $tab-height;
    position: relative;
    cursor: pointer;

    &.separate { margin-bottom: math.div($tab-height, 2); }
    &.active {
      color: $buttonGradient;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 3px; height: 100%;
        position: absolute;
        left: 20px; top: 0;
        background: $secondaryBackground;
      }
    }
  }
}


tabs {
  position: fixed;
  width: 100%;
  top: $web-header-height - $tab-height;
}
.abonnementCards {
  // width: calc(100vw - 400px) !important;
  display: flex;
  flex-flow:row wrap;

  
}


.child {
  min-width: 300px;
  margin: 1rem 1rem;
  max-width: 300px;
}
.facture{
  width: calc(100vw - 1000px);
  min-width: 400px !important;
  max-width: 800px !important;
}
.filters {
  height: calc(100vh - #{$web-header-height});
  background-color: white;
  overflow-y: auto;
  width: 400px;
  padding: $col-one-padding-y $col-one-padding-x;
}

modify-profile-form::ng-deep {
  .mid-sticky-footer {
    display: none !important;
  }
}

popup::ng-deep{
  .cover-parent {
    background-color: rgba(0,0,0,0.5);
    width: 100vw !important;
    height: 100vh !important;
  }
  .menu {
    top: 20%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    width: 50%;
    height: 40%;
  }
}
.popup-header {
  padding: 12px 16px;
  top: 0;
  left: 0;
  width: 50%;
  height: 20%;
  position: absolute;
}
.popup-content {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  top: 20%;
  width: 100%;
  height: 60%;
  position: absolute;
  .pic {
    @include circle(320px, rgb(241, 241, 241));

  }
}
.popup-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  bottom: 0;
  width: 100%;
  height: 20%;
  position: absolute;
}