@use "sass:math";
@import 'src/styles/variables';

:host {
  display: block;
}

profile-resume {
  padding: $item-padding 0;
}


.job-description {
  .value { font-weight: 300; }
  .text-light-emphasis { text-align: right !important; }
  
  padding: $page-padding 0;
  display: grid;
  grid-template-rows: repeat(4, 1f);
  grid-template-columns: 1fr 3fr;
  column-gap: $item-padding;
}

.documents {
  width: 100%;
  padding: 10px 20px 0;
  border-top: 1px dashed #aaa;

  .images {
    flex-wrap: wrap !important;
    justify-content: space-between;
  }

  h4 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.documents object {
  width: $document-image-size-x;
}

.action-menu {
  padding-left: 0 !important; padding-right: 0 !important;

  ul {
    list-style-type: none;
    font-family: "Poppins";
  }

  li {
    font-size: 0.9em;
    padding: 0 $col-one-padding-x; // get parent padding
    height: $tab-height;
    font-weight: 500;
    background: #f7f7f7;
    line-height: $tab-height;
    position: relative;
    cursor: pointer;

    &.separate { margin-bottom: math.div($tab-height, 2); }
    &.active {
      color: $buttonGradient;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 3px; height: 100%;
        position: absolute;
        left: 20px; top: 0;
        background: $secondaryBackground;
      }
    }
  }
}

.web-content {
  position: relative;
}