<ng-container *ngIf="(profile$ | async) as profile">
<tabs [tabs]="2" [(activeView)]="tabView" *ngIf="activeView==4" bottom>
  <span tab_0>PME</span>
  <span tab_1>SOUS-TRAITANCE</span>
</tabs>
<!-- <ng-container *ngIf="(user$ | async) as user"> -->
  <div class="web-page">
    <section class="action-menu">
      <ul>
        <li (click)="setView(0)" [class.active]="activeView == 0">Mon profil</li>
        <li (click)="setView(1)" [class.active]="activeView == 1">Modifier mon profil</li>
        <li (click)="setView(2)" [class.active]="activeView == 2">Modifier mon mot de passe</li>
        <li (click)="setView(3)" [class.active]="activeView == 3" class="separate">Candidatures en cours</li>
        <li (click)="setView(4)" [class.active]="activeView == 4"  >Gérer
          mes abonnements</li>
        <li (click)="setView(5)" [class.active]="activeView == 5" class="separate">Mes factures</li>
        <li (click)="setView(6)" [class.active]="activeView == 6" >Partager l'application</li>
        <li (click)="setView(7)" [class.active]="activeView == 7">Noter l'application</li>
        <li (click)="setView(8)" [class.active]="activeView == 8">Nous contacter</li>
        <li (click)="setView(9)" [class.active]="activeView == 9">FAQ</li>
        <li (click)="setView(10)" [class.active]="activeView == 10" class="separate">Mentions légales</li>
        <li (click)="logout()" [class.active]="activeView == 11">Se déconnecter</li>
      </ul>
    </section>

    <section class="main web-content font-Poppins">

      <ng-container [ngSwitch]="activeView">
        <ng-container *ngSwitchCase="0">
          <extended-profile [profile]="profile"></extended-profile>
          <!-- <profile-resume class="flex row center-cross space-around" [profile]="profile" ></profile-resume>
          <section class="job-description full-width space-children-margin">

            <span class="text-light-emphasis">Nom de l'entreprise : </span>
            <span class="value">{{profile.company?.name}}</span>

            <span class="text-light-emphasis">N SIRET : </span>
            <span class="value">{{profile.company?.siret}}</span>

            <span class="text-light-emphasis">Métier : </span>
            <span>
              <span *ngFor="let job of profile.company.jobs!" class="value">{{ job.number }} {{ job.job.name }},
              </span>
            </span>

            <span class="text-light-emphasis">Chiffres d'affaires : </span>
            <span class="value">{{profile.company.revenue | currency: 'EUR':'symbol':'1.0-0' }}</span>
          </section>

          <section class="documents">
            <h4>Documents importants</h4>
            <div class="flex images">
              <object type="image/svg+xml" data="assets/files/Impot.svg"></object>
              <object type="image/svg+xml" data="assets/files/KBIS.svg"></object>
              <object type="image/svg+xml" data="assets/files/qualibat.svg"></object>
              <object type="image/svg+xml" data="assets/files/urssaf.svg"></object>
            </div>
          </section> -->
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <profile-resume class="flex row center-cross space-around" 
          [canChangePicture]="true" [star]="false" [profile]="profile" ></profile-resume>

            <popup>
              <div class="popup-header flex center-cross ">
                <h3 class="font-Poppins">Modifier l'image</h3>
              </div>  
              <div class="popup-content flex center">
                
                    <div class="pic"></div>
                  
              </div>  
              <div class="popup-bottom flex center-cross space-around">
                <button class="button passive">ADD</button>
                <button class="button passive">DELETE</button>
              </div>  
            </popup>
          <!-- <step direction="vertical" [tacheList]="[
            {name: 'Infos Personelles'},
            {name: 'Infos entreprise'},
            {name: 'Certifications & labels'}
          ]" #stepper style="margin-bottom: 40px;"></step> -->
          <stepper-sys type="H" #stepper [margin]="15" [testList]="['Infos Personelles','Infos entreprise','Certifications & labels']" ></stepper-sys>
          <modify-profile-form [profile]="profile!" 
           [animate]="false" [index]="stepper.currentIndex" (submit)="actionBinding($event)" #modifyProfile>
           <button [disabled]="modifyProfile.form.invalid || null" class="flex center button active " (click)="modifyProfileDesktop(modifyProfile.onSubmit())">Enregistrer</button>
          </modify-profile-form>
          
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <section class="full-width space-children-margin">
            <modify-password-form (submit)="changePasswordDesktop($event)"></modify-password-form>
          </section>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <section class="full-width space-children-margin">
            <div class="flex row center">
              <searchbar class="full-width"></searchbar>

              <img class="filterOnly" (click)="showResponsiveFilters = !showResponsiveFilters" src="assets/Filter.svg">
            </div>
            <div class="report-search">
              Resultat <span class="no-result">0 annonces</span>
            </div>
            <offer
            *ngFor="let mission of [1,2,3,4,5,6,7,8,9]"
            src="assets/brouillon.svg"
            ></offer>
          </section> 
        </ng-container>

        <ng-container class="space-children-margin  " *ngSwitchCase="4">
          <ng-container [ngSwitch]="tabView">
            <ng-container *ngSwitchCase="0"  >
              <div class="abonnementCards space-children-margin">
              <abonnement-card class="child"></abonnement-card>
              <abonnement-card class="child"></abonnement-card>
              <abonnement-card class="child"></abonnement-card>
            </div>
            </ng-container>
            <ng-container *ngSwitchCase="1">
              <abonnement-card></abonnement-card>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container class="space-children-margin  " *ngSwitchCase="5">
          <div class="space-children-margin full-width facture">
            <span class="text-emphasis">Mes Factures</span>

            <facture-ui class="full-width" *ngFor="let a of factures">
            </facture-ui>
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <img src="/assets/wip.png">
        </ng-container>
      </ng-container>
      <!-- modify-profile-form -->

    </section>
    <section class="filters" *ngIf="activeView==3">
      <div class="header">
        <img src="assets/Filter.svg"/>
         Filtrer par
      </div>
      <online-filter-form></online-filter-form>
    </section>
  </div>
  <div *ngIf="showResponsiveFilters" [@enterAnimation] class="showFilters flex column">
    <div class="flex close" (click)="showResponsiveFilters = !showResponsiveFilters">
      <img src="assets/X-ICON.svg">
    </div>
    <online-filter-form ></online-filter-form>
  </div>
<!-- </ng-container> -->

</ng-container>