<div *ngIf="!hasSentRecommandation" class="give-recommandation">
  <!-- <div class="cloture-swipeup"> -->
    <h4>Noter l'entreprise {{ companyNameRecommended || 'Fantasiapp'}} sur <span>BatiUni</span></h4>
    <form class="form-input" [formGroup]="userNameForm">
      <input (focusout)="getCompanyInfoByText('lastName', lastNameControl)"class="form-element" placeholder="Entrer votre nom" formControlName="lastName" #lastNameControl/>
      <input (focusout)="getCompanyInfoByText('firstName', firstNameControl)"placeholder="Entrer votre prénom" class="form-element" formControlName="firstName" #firstNameControl/>
      <input (focusout)="getCompanyInfoByText('companyName', companyControl)"placeholder="Entrer le nom de votre entreprise" class="form-element" style='margin-bottom: 1rem;' formControlName="firstName" #companyControl/>
      <div> Date du dernier chantier</div>
      <input type="date" (focusout)="getCompanyInfoByText('lastWorksiteDate', companyControl)"placeholder="Entrer la date de votre dernier chantier" class="form-element" style='margin-bottom: 1rem;' formControlName="Date" #companyControl/>

      <!-- <div class="star-container" *ngIf="hasGeneralStars">
        <img  *ngFor="let flag of getArrayStar('general'); let index=index;" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
      </div> -->
  
      <div class="form-input">
        <p>{{ view == 'ST' ? 'Qualité du travail fourni' : 'Ambiance sur le chantier' }}</p>
        <div class="star-container">
          <img *ngFor="let flag of getArrayStar('quality'); let index=index;" (click)="starAction(index, 'quality')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
        </div>
        <textarea (focusout)="textStarAction('quality', quality)" placeholder="Ajouter un commentaire" rows="5" cols="30" id="starTextQuality" #quality>{{ recommandation!.qualityComment }}</textarea>
      </div>
      
      <div class="form-input">
        <p>Respect de la sécurité et de la propreté du chantier</p>
        <div class="star-container">
          <img *ngFor="let flag of getArrayStar('security'); let index=index;" (click)="starAction(index, 'security')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
        </div>
        <textarea (focusout)="textStarAction('security', security)" placeholder="Ajouter un commentaire" rows="5" cols="30" id="starTextSecurity" #security>{{ recommandation!.securityComment }}</textarea>
      </div>
  
      <div class="form-input">
        <p>{{ view == 'ST' ? 'Organisation' : 'Organisation PME' }}</p>
        <div class="star-container">
          <img *ngFor="let flag of getArrayStar('organisation'); let index=index;" (click)="starAction(index, 'organisation')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
        </div>
        <textarea (focusout)="textStarAction('organisation', organisation)" placeholder="Ajouter un commentaire" rows="5" cols="30" id="starTextOrganisation" #organisation>{{ recommandation!.organisationComment }}</textarea>
      </div>
    </form>
    <button [ngClass]="classSubmit" class="footer-button" (click)="submitRecommandation()">Envoyer la recommandation</button>
  <!-- </div> -->
</div>

<div class="modal" *ngIf="this.hasSentRecommandation">
  <!-- <div class="ripple">
  </div> -->
  <img src="assets/popup-valider.svg" alt="confirmed">
  <p class="confirmed-with-success">Merci pour votre recommandation</p>

</div>