@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;
@use "src/styles/effects" as *;

:host {
  font-family: "Poppins";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

h4 {
  span {
    color: $primary
  }
  margin-bottom: 2rem;
}

.give-recommandation {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%
}

.recommandation {   
  .success-circle {
    @include circle(80px, $landingColor);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 70px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
  }
}

.form-input {
  > p {
    font-family: 'Roboto', sans-serif;
  }
  > textarea {
    resize: vertical;
    width: 100%;
    font-size: 1rem;
    border: 1px solid $light;
    height: 5rem;
    padding: 0.5rem
  }
}

.star-container {
  height: 1.75rem;
  img {
    width: 1.75rem;
  }
}

.modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: $text-color-grey;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 15rem;
  }

}

.ripple {
  @extend %ripple;
}

.submitDisable {
  background-color: $light;
  color: white;
}

.submitActivated {
  background-color: $primary;
}

.footer-button {
  margin-top: auto;
}