<ng-container *ngIf="(user$ | async) as user">

  <div class="web-page">
    <section class="filters">
      <div class="header">
        <img src="assets/Filtrer par.svg" />
        Filtrer par
      </div>
      <online-filter-form></online-filter-form>
    </section>

    <section class="main web-content font-Poppins">
      <!-- <searchbar placeholder="Mes missions ..."></searchbar> -->
      <calendar [value]="user.profile!.company.disponibilities" (dayClick)="onDayClicked($event)" #calendar></calendar>
    </section>
    <section class="space-children-margin back">
      <div class="flex center full-width info-bar">&#9432;</div>
      <li class="disponible">
        Disponible
      </li>
      <li class="sous-conditions">
        Disponible sous-conditions
      </li>
      <li class="pas-disponible">
        Pas disponible
      </li>
      <li class="non-renseigne">
        Non-renseigner
      </li>
    </section>
  </div>
</ng-container>