<ul class="paging">
  <li *ngIf="!showNext || !index; else lastPage">
    <a [routerLink]="['', 'landing']">
      <img class="arrow_left" src="assets/Fleche.svg" />
      <span *ngIf="showPageName">Accueil</span>
    </a>
  </li>
  <ng-template #lastPage>
    <li>
      <a (click)="onClick(-1)">
        <img class="arrow_left" src="assets/Fleche.svg" />
        <span *ngIf="showPageName">Etape précedente</span>
      </a>
    </li>
  </ng-template>
  <li *ngIf="showNext && (index < length-1)">
    <a (click)="onClick(1)">
      <span *ngIf="showPageName">Etape suivante</span>
      <img class="arrow_right" src="assets/Fleche.svg" />
    </a>
  </li>
</ul>