
<div class="notifications">
    <div class="today">
        <span>Aujourd'hui</span>
        <div *ngFor="let today of today;let index = index" class="todays-notifications flex ">
            <div class="offres-logo flex center">
                <img [src]="today.imgSrc" />
            </div>
                <span class="infos">
                    {{today.text}}. <span class="timer">{{timer[index]}}</span>
                </span>
        </div>
    </div>

    <div class="month">
        <span class="month-notification">Ce mois</span>
        <div *ngFor="let month of month" class="monthly-notifications flex ">
            <div class="offres-logo flex center">
                <img [src]="month.imgSrc" />
            </div>
                <span class="infos">
                    {{month.text}}
                </span>
        </div>
       
    </div>
</div>

