<section>
  <span class="text-emphasis">Aujourd'hui</span>
  <div *ngFor="let notification of today;let index = index" class="todays-notifications flex">
    <div class="offres-logo flex center">
      <img [src]="notification.src" />
    </div>
    <span class="infos">
      {{notification.text}} <span class="timer">{{timer[index]}}</span>
    </span>
  </div>
</section>

<section>
  <span class="text-emphasis">Ce mois</span>
  <div *ngFor="let notification of month; let index = index" class="monthly-notifications flex">
    <div class="offres-logo flex center">
      <img [src]="notification.src" />
    </div>
    <span class="infos">
      {{notification.text}}
    </span>
  </div>
</section>
