@import "src/styles/mixins";
@import "src/styles/variables";

:host {
  font-family: "Poppins";
  display: block;
  font-size: inherit;
  height: $web-header-height;
}

.sticky-desktop-header {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: space-between;
  padding: $web-header-padding;
  align-items: center;
}

.home-page {
  margin-left: 3rem;
  height: 100%;
}

.profile-actions {
  flex: 0 0 500px;
}

.logo {
  height: $web-logo-height;
}

.offres-logo {
  @include circle(50px, rgb(241, 241, 241));
}
button {
  background-color: unset !important;
  cursor: pointer;
}
.dropdown-action {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.username {
  color: #171725;
  font-size: 0.9em;
}

.subheader-menu {
  align-items: start;
  justify-content: center;
  padding: $web-sub-header-padding;
  width: 100vw;
  height: 140px;
  background:  transparent linear-gradient(180deg, #134C6C 0%, #0C5E8D 100%) 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  font-size: 1.2em;
}
.white-spacing {
  white-space: nowrap;
}