<ng-container *ngIf="(profile$ | async) as profile">
<header class="sticky-desktop-header">
  <div class="home-page flex row center-main">
    <a href="#"><img class="logo" src="assets/logo-approx.png"/></a>
  </div>
  <div class="profile-actions center-cross space-between flex">
    <switch off="Profile ST" class=" white-spacing" on="Profil PME"  style="text-align: center;" [value]="(view$ | async) == 'PME'" (valueChange)="changeProfileType($event)"></switch>
    <!-- Notifications -->
    <div class="notification flex center-cross">
      <img class="invert" src="assets/notification.svg"/>
      <div class="dropdown-notification">
          <notifications></notifications>
      </div>
    </div>
    <!-- Profile Image -->
    <profile-image [profile]="profile" style="display: none;" #profileImage></profile-image>
    <img class="offres-logo " [src]="profileImage.src"/>
    <!-- User full name -->
    <h5 class="username">{{ (profile.user?.firstName + ' ' +  profile.user?.lastName) | titlecase }}</h5>
    <!-- Drop Down menu -->
    <div class="dropdown flex">
      <button  > <img class="dropdown-action" src="assets/arrowdown.svg" />
      </button>
      <div class="dropdown-content" id="dropdown-content">
          <li [routerLink]="['','home','profile']">Profil</li>
          <li (click)="logout()">Se déconnecter</li>
      </div>
    </div>
  </div>
</header>

<section class="subheader-menu flex">
  <div class="profile-menus" *ngIf="navigation">
    <navigation></navigation>    
  </div>
  <ng-content></ng-content>
</section>
</ng-container>
<!-- <section  class="flex" style="padding:5rem;">
  <step></step>
</section> -->