@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  position: absolute;
  @include set-safe-area(bottom, bottom);
  // bottom: calc(env(safe-are-inset-bottom));
  width: 85%;
  height: 100%;
  justify-content: space-evenly;
  margin-bottom: 1.5rem
}

.input-container {
  width: 90%;

}

.askRecommandationsInput {
  width: 90%;
  height:40px;
  padding: 0 1rem 0 1rem;
  border: 1px solid grey;
  border-radius: 10px;
}

.askRecommandationsSubmit {
  width:90%;
  background-color: $primary;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}