<div class="center-text container">
  <img src="assets/Recommandation.svg"/>
  <h1>Demander une recommandation <br> en tant que {{view == 'ST' ? 'sous-traitant' : 'PME'}} </h1>
  <span>Veuillez saisir l’adresse e-mail de la <br> personne dont vous souhaitez une <br> recommandation</span>

  <form [formGroup]="emailForm" style="width:100%" id="form">
    <input type="text" class="askRecommandationsInput" (keyup)="returnInputKeyboard($event, input)" placeholder="Ex: jeanluc@fantasiapp.com" formControlName="email" #input>
    <div style="height:20px"></div> 
    <button class="flex center button active askRecommandationsSubmit" (click)="askRecommandation()" [disabled]="disableBoutton">Envoyer</button>
  </form>
</div>