@use 'src/styles/responsive' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;

  @include desktop-only {
    position: absolute;
    top: 210px;
    left: 400px;
    width: calc(100vw - 400px);
    height: calc(100vh - 220px);
  }
}

.map {
  width: 100%;
  height: 600px;
  @include desktop-only {
    height: 100%;
  }
}
.marker-icon {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.popup-container {
  
  sos-card {
    height: 8rem;
    width: 15rem;
  }
}