<form [formGroup]="registerForm">
  <div class="formItem">
    <label>Nom du contact</label> <input type="text" formControlName="lastname"/>
  </div>

  <div class="formItem">
    <label>Prénom du contact</label> <input type="text" formControlName="firstname"/>
  </div>

  <div class="formItem">
    <label>Adresse e-mail contact</label> <input type="text" formControlName="email"/>
  </div>

  <div class="formItem">
    <label>Vérification addresse e-mail</label> <input type="text" formControlName="emailVerifier"/>
  </div>

  <div class="formItem">
    <label>Mot de passe</label> <input type="password" formControlName="password"/>
  </div>

  <div class="formItem">
    <label>Parrain</label> <input type="password" formControlName="password"/>
  </div>
</form>