    <label class="" for="file">{{filename}} {{comment}}</label>
    <label *ngIf="showtitle"  class="label-input" for="filename">Télécharger la certification {{filename}}</label>
    <div class="file-form flex grow" id="file">
        <input class="form-search" type="text" />
        <img src="assets/Attachement.svg">
    </div>
    <div class="file-date flex grow ">
        <img [src]="imgsrc">
        <div>
            <label class="label-input" for="filename">Date de fin de validité</label>
            <input  type="date" />
        </div>
    </div>
   

