<label>{{filename}} {{comment}}</label>
<label *ngIf="showtitle"  class="label-input" for="filename">Télécharger la certification {{filename}}</label>
<div class="file-form flex grow">
    <input class="form-search" type="text" />
    <img src="assets/Attachement.svg">
</div>
<div class="file-date flex">
    <img *ngIf="imgsrc; else div"[src]="imgsrc">
    <ng-template #div>
        <div class="image"></div>
    </ng-template>
    <div class="date grow flex column center-main">
        <label class="label-input text-emphasis">Date de fin de validité</label>
        <input class="full-width" type="date"/>
    </div>
</div>
   

