<label>
  <ng-container *ngIf="editName; else simpleName">
    <span class="position-relative">
      <input *ngIf="editName; else simpleName" type="text" placeholder="Nom du document..." class="full-width form-element editName" (input)="onFilenameChange($event)" [formControl]="editName"/>
      <!-- <img  *ngIf="closeButton" (click)="close()" src="assets/X.svg" class="position-absolute close-button"/> -->
    </span>
  </ng-container>
  <ng-template #simpleName>
    {{name}} {{comment}}
  </ng-template>
</label>

<label *ngIf="showtitle"  class="label-input" for="filename">Télécharger la certification {{filename}} </label>
<div class="file-form flex grow">
  <span class="file-input position-relative">
    <input class="form-search" (change)="onChange({origin: 'file', event: $event})" type="file" #input/>
    <span class="placeholder full-width text-ellipsis position-absolute"> {{ value!.name }} </span>
  </span>
  <img src="assets/Attachement.svg" (click)="onFileInputClicked($event)">
</div>
<div *ngIf="includeDate" class="file-date flex">
  <img *ngIf="imgsrc; else div" class="image" [src]="imgsrc">
  <ng-template #div>
    <div class="image">
      <ng-content select='[image]'></ng-content>
    </div>
  </ng-template>
  <div class="date grow flex column center-main">
    <label class="label-input text-emphasis">{{value?.nature == 'admin' ? 'Date du document' : 'Date de fin de validité'}}</label>
    <input class="full-width" [ngClass]="{'pointer-none': name === 'Kbis'}" [value]="value!.expirationDate" (change)="onChange({origin: 'date', event: $event})" type="date"/>
  </div>
</div>