<accordion [title]="'Le ' + date.value">
    <div id="taskMain_{{date.id}}" class="form-input">
        <div *ngIf="date.view=='PME'" class="clear-margin full-width flex center-cross space-arround">
            <label style="color:#0C5E8D; padding-left:3%">Choisir les tâches pour ce jour</label>
            <div style="width:45%"></div>
            <img (click)="swipeMenuModifyAction()" src="assets/Option.svg"/>
        </div>
        <div style="height:20px"></div>
    </div>
    <div class="taskByDate" *ngFor="let task of date.selectedTasks" style="width:97%">
        <div class="details flex center-cross space-between">
          <span class="detail-name"> {{ task.content }}</span>
          <span class="controls">
            <img (click)="validate(task)" id="control_validate_{{task.id}}" [src]= "task.validationImage"/>
            <img (click)="refuse(task)" id="control_refuse_{{task.id}}" [src]= "task.invalidationImage"/>
          </span>
        </div>
        <div *ngFor="let supervision of task.supervisionsObject">
            <comment-suivi  [supervision]="supervision"></comment-suivi>
        </div>
        <div *ngIf="task.refused" class="divComment">
          <input id="input_{{task.id}}" class="inputComment" type="text" placeholder="Ajouter un commentaire" (focusout)="mainComment(task)">
          <img (click)="swipeMenuPhoto()" src="assets/camera.png"/>
        </div>
    <div style="height:30px"></div>
    </div>
    <div *ngFor="let supervision of date.supervisions">
        <comment-suivi  [supervision]="supervision"></comment-suivi>
    </div>
    <div class="form-input">
        <label style="color:#0C5E8D; padding-left:3%">Communiquer avec votre partenaire de chantier</label>
        <div class="divComment">
          <input id="input_general" class="inputComment" type="text" placeholder="Ajouter un commentaire" (focusout)="mainComment(null)">
          <img (click)="swipeMenuPhoto()" src="assets/camera.png"/>
        </div>
    </div>
    <div style="height:30px"></div>
</accordion>
<hr class="dashed" style="margin-left: 0 !important;">

<swipeup [(open)]="swipeMenu">
    <li (click)="addDateToPost()"> Modifier les tâches</li>
</swipeup>

<swipeup [(open)]="swipeMenuImage" #modifyPicture>
    <li (click)="takePhoto()">Accédez à l'appareil photo</li>
    <li (click)="selectPhoto()">Télécharger une image</li>
  </swipeup>