<accordion [title]="'Le ' + date.value">
  <div class="chantier-tache-container">
    <div id="taskMain_{{date.id}}" *ngIf="date.view=='PME' && !mission!.isClosed">
        <div class="chantier-tache">
            <label>Choisir les tâches pour ce jour</label>
            <img (click)="swipeMenu = true" src="assets/Option.svg"/>
        </div>
    </div>
    <div class="taskByDate" *ngFor="let task of date.selectedTasks">
        <div class="details chantier-tache">
          <span class="detail-name">{{ task.content }}</span>
          <div class="controls">
            <img (click)="validate(task)" id="control_validate_{{task.id}}" [src]= "task.validationImage"/>
            <img (click)="refuse(task)" id="control_refuse_{{task.id}}" [src]= "task.invalidationImage"/>
          </div>
        </div>
        <div *ngFor="let supervision of task.supervisionsObject">
            <comment-suivi  [supervision]="supervision"></comment-suivi>
        </div>
        <div *ngIf="task.refused && !mission!.isClosed" class="divComment">
          <input id="input_{{task.id}}" class="inputComment" type="text" placeholder="Ajouter un commentaire" (focusout)="mainComment(task)">
          <img (click)="swipeMenuImage = true" src="assets/camera-outline.svg"/>
        </div>
    </div>
    

    <div class="partenerComment-container">
      <div *ngIf="!mission!.isClosed">
          <h2>Communiquer avec votre partenaire de chantier</h2>

          <div *ngFor="let supervision of date.supervisions">
            <comment-suivi  [supervision]="supervision"></comment-suivi>
          </div>
      </div>
      <div *ngIf="!mission!.isClosed" class="partenerComment">
        <div  class="divComment">
          <input id="input_general" class="inputComment" type="text" placeholder="Ajouter un commentaire" (focusout)="mainComment(null)">
          <img (click)="swipeMenuImage == true" src="assets/camera.png"/>
        </div>
      </div>
    </div>
  </div>
</accordion>
<hr class="dashed" style="margin-left: 0 !important;">

<swipeup [(open)]="swipeMenu">
  <li (click)="addDateToPost()"> Modifier les tâches</li>
</swipeup>

<swipeup [(open)]="swipeMenuImage" #modifyPicture>
  <li (click)="takePhoto()">Accédez à l'appareil photo</li>
  <li (click)="selectPhoto()">Télécharger une image</li>
</swipeup>