@import "src/styles/variables";
@import "src/styles/mixins";
@import "src/styles/effects";

:host {
  font-family: "Poppins";
  @extend %absolute-cover;
  background-color: $buttonGradient;
}

.confirmation-pages { 
  @extend .cover-parent;
  
  .success-circle {
    @include circle(80px, $landingColor);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 70px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
  }
}

button {
  background-color: $infosColor;
  color:#FFFFFF;
  width: 60%;
  max-width: 200px;
}

p {
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 100px;
}

.ripple {
  @extend %ripple;
}