@import 'src/styles/variables';

//started off with borders, but later realized they aren't shown in all cases
//keep calc the same and just hide them for now
// :host(.background) {
//   background: conic-gradient(#C95555 0% 11.50%, white 11.50% 13.50%, #FFD375 13.5% 36.5%, white 36.50% 38.50%, #BBEFB1 38.50% 61.5%,white 61.50% 63.5%, #D2FFCB 63.5% 86.5%, white 86.5% 88.5%, #C95555 88.5%);
// }

:host {
  display: block;
  position: relative; 
  width: $profile-image-size;
  height: $profile-image-size;
  
  
  --color1: #C95555;
  --color2: #FFD375;
  --color3: #D2FFCB;
  --color4: #BBEFB1;

  &, .image-container, img {
    border-radius: 50%;
  }

  .host-container {
    display:block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 50%;
    // transform: rotate(0deg);
    background: conic-gradient(white 1%,  var(--color1) 1% 24%, white 24% 26%, var(--color2) 26% 49%, white 49% 51%,  var(--color3) 51% 74%, white 74% 76%,  var(--color4) 76% 99%, white 99%);
  }

  .image-container {
    // display: none;
    overflow: hidden;
    top: $profile-level-thickness;
    left: $profile-level-thickness;
    position: absolute;

    &, img {
      width: $profile-image-size - 2 * $profile-level-thickness;
      height: $profile-image-size - 2 * $profile-level-thickness;
      object-fit: cover;
    }
  }
}