@import 'src/styles/variables';

//started off with borders, but later realized they aren't shown in all cases
//keep calc the same and just hide them for now
// :host(.background) {
//   background: conic-gradient(#C95555 0% 11.50%, white 11.50% 13.50%, #FFD375 13.5% 36.5%, white 36.50% 38.50%, #BBEFB1 38.50% 61.5%,white 61.50% 63.5%, #D2FFCB 63.5% 86.5%, white 86.5% 88.5%, #C95555 88.5%);
// }

:host {
  display: block;
  position: relative; 
  flex-shrink: 0;
  width: $profile-image-size;
  height: $profile-image-size;
  // background-color: #aaa;
  
  border-radius: 50%;
  transform: rotate(45deg);
  --color1: #C95555;
  --color2: #FFD375;
  --color3: #D2FFCB;
  --color4: #BBEFB1;
  
  background: conic-gradient(var(--color1) 11.50%, white 11.50% 13.50%, var(--color2) 13.5% 36.5%, white 36.50% 38.50%, var(--color3) 38.50% 61.5%,white 61.50% 63.5%, var(--color4) 63.5% 86.5%, white 86.5% 88.5%, var(--color1) 88.5%);

  &, .image-container, img {
    border-radius: 50%;
  }

  .image-container {
    // display: none;
    overflow: hidden;
    top: $profile-level-thickness;
    left: $profile-level-thickness;
    position: absolute;

    &, img {
      width: $profile-image-size - 2 * $profile-level-thickness;
      height: $profile-image-size - 2 * $profile-level-thickness;
      object-fit: cover;
    }
  }

  & > * {
    transform: rotate(-45deg);
  }
}

.ticks {
  width: $profile-image-size;
  height: $profile-image-size;
  top: -$profile-level-thickness; left: -$profile-level-thickness;


  .top, .bottom {
    height: $tick-size-y;
    width: $tick-size-x;
  }

  .left, .right {
    width: $tick-size-y;
    height: $tick-size-x;
  }
}

.ticks .bottom {
  top: 100%;
  transform: translateY(-100%);
}

.ticks .right {
  left: 100%;
  transform: translateX(-100%);
}

.ticks > div {
  background-color: white;
}