@import 'src/styles/mixins';

%fixed { position: fixed; }

%cover {
  left: 0; top: 0;
  right: 0; bottom: 0;
}

:host {
  display: block;
  position: absolute;
  @extend %cover;
}

.content {
  position: relative;
  @extend .cover-parent;
}

div.main {
  color: white;
  position: absolute;
  @extend %cover;
}

.background-image {
  z-index: -1;
}

.overlay {
  font-size: 28px;
  padding-bottom: 20px;
  span.name {
    font-family: "Poppins";
    font-size: 36px;
    font-weight: bold;
  }
}

.arrow_right, .arrow_left {
  /* fix should be 50% 50% */
  transform-origin: 50% 20%;
  @include absolute-center('y', absolute);
  z-index: 1;
}

.arrow_right {
  right: 0;
}

.arrow_left {
  left: 0;
  transform: rotate(180deg);
}

.links {
  text-align: center;
  position: absolute;
  bottom: 60px;

  .discover {
    margin-bottom: 15px;
  }
}