<div class="position-relative cover-parent">
  <a *ngIf="slider.index == 0" class="arrow_right" (click)="onSwipeLeft()">
    <img src="assets/Fleche.svg"/>
  </a>
  
  <a *ngIf="slider.index == 1" class="arrow_left" (click)="onSwipeRight()">
    <img src="assets/Fleche.svg"/>
  </a>
  
  <div class="container"
    type="template"
    [slides]="[entreprise, sousTraitant]"
  ></div>  
</div>


<ng-template #sousTraitant>
  <div class="main flex column center">
    <!-- Background image-->
    <div class="background-image cover-parent" [style.background-image]="'url(assets/accueil-sous-traitant.png)'">
    </div>
    <!-- Landing text-->
    <div class="center-text overlay">
        Trouver le meilleur
       <br/> <span class="name">chantier</span><br/>
        & la meilleure
        <br/><span class="name">entreprise</span><br/>
        principale
    </div>
  
    <div class="links">
      <button class="gradient button discover" [routerLink]="['', 'discover', 'sous-traitant']">Découvrir le service sous-traitance</button><br/>
      <a class="link" [routerLink]="['', 'connexion']" >J’ai déjà un compte !</a>
    </div>
  </div>
</ng-template>

<ng-template #entreprise>
  <div class="main flex column center">
    <!-- Background image-->
    <div class="background-image" [style.background-image]="'url(assets/accueil-entreprise.png)'">
    </div>
    <!-- Landing text-->
    <div class="center-text overlay">
        Trouver le meilleur<br/>
        <span class="name">sous-traitant</span><br/>
        principale
    </div>
  
    <div class="links">
      <button class="gradient button discover" [routerLink]="['', 'discover', 'entreprise']">Découvrir le service PME</button><br/>
      <a class="link" [routerLink]="['', 'connexion']" >J’ai déjà un compte !</a>
    </div>
  </div>  
</ng-template>