@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;
@use 'src/styles/responsive' as *;

@media (max-width: $mobile) {
  //mobile layout
  :host {
    display: block;
    width: 100%;
    position: fixed;
    @include set-safe-area(bottom);
    z-index: 10;
    background-color: white;
  }
  
  nav {
    padding: 10px 30px;
    height: $navigation-height;
    box-shadow: 0 -3px 3px 0 #eee;
  }
  
  ul {
    list-style-type: none;
    justify-content: space-between;
  }
  
  li a {
    display: block;
  }
  
  li img {
    height: 50px;
  }
  
  li.active a img {
    filter: invert(12%) sepia(96%) saturate(7052%) hue-rotate(180deg) brightness(78%) contrast(111%);
  }
}

@media (min-width: #{$mobile + 1px}) {
  //web layout
  nav {
    width: 50%;
  }
  
  ul {
    list-style-type: none;
    justify-content: space-between;
  }
  li {
    padding: 0 2rem;
    border-right: 2px solid #FFFFFF;
  }
  li a {
    display: block;
    white-space: nowrap;
    margin-right: 0.5rem;
  }
  
  li img {
    height: 30px;
  }
  
  li:last-child {
    content: '' !important;
    display: block;
    border-right: none !important;
  
  }
  
  li.active  {
    a {
      filter: invert(12%) sepia(96%) saturate(7052%) hue-rotate(180deg) brightness(78%) contrast(111%);

    }
    img {
      filter: invert(12%) sepia(96%) saturate(7052%) hue-rotate(180deg) brightness(78%) contrast(111%);

    }
  }
};