<main>
    <div class="form-select" (mouseleave)="showDropDown = false">
        <div class="input-select" (click)="showDropDown=!showDropDown">
            <div class="choosen-job">
                <li (click)="delete($event,choix.id)" *ngFor=" let choix of userChoices">{{choix?.job}}
                </li>
            </div>
            <img src="../../assets/arrowdown.svg" />

        </div>

        <div class="dropdown" *ngIf="showDropDown">
            <div class="dropdown-choices">
                <img src="../../assets/Rechercher.svg">

                <input class="form-search" (input)="filterOptions($event)" type="text"
                    placeholder="Rechercher un métier" />

            </div>
            <div class="dropdown-content">
                <ul>
                    <li *ngFor="let text of optionsSearch">
                        {{text.job}}
                        <input (input)="added($event,text.id)" class="option-selected" type="checkbox"
                            [attr.checked]="text.isChecked || null" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>