<page-header name="SOS" [(activeView)]="activeView" (filterClicked)="openSOSFilterMenu = true" [filterOpen]="filterOn">
  <span tab_0>Vue liste</span>
  <span tab_1>Carte</span>
</page-header>

<div class="hosted-page space-children-margin page-content-with-tabs">
  <ng-container [ngSwitch]="activeView">
    <ng-container *ngSwitchCase="0">
      <sos-card 
        (click)="checkCompanyProfile(companyAvailable.company)" 
        *ngFor="let companyAvailable of availableCompanies" 
        [profile]="{company: companyAvailable.company}" 
        [availability]="companyAvailable.availability">
      </sos-card>
    </ng-container>
    <mapbox-batiuni 
      [companies]="companies" 
      [availabilities]="availabilities"
      (companyClick)="checkCompanyProfile($event)"
      class="space-children-margin" 
      *ngSwitchCase="1">
    </mapbox-batiuni>
  </ng-container>
</div>


<swipeup [(open)]="openSOSFilterMenu" type="view">
  <sos-filter-form [callbackFilter]="callbackFilter" view></sos-filter-form>
</swipeup>