@use 'src/styles/mixins' as *;

:host {
  @extend %page;
}

.map-container {
  padding-top: 1rem;
}

#rectangle{
  width:100%;
  height:1rem;
  background-color: white;
  box-shadow: 0 3px 3px -3px grey;
}
