@import 'src/styles/mixins';
@import 'src/styles/variables';

$buttonHeight: 60px;

:host {
  display: block;
  @extend %absolute-cover;
}


.create-account {
  padding: 0 30px;
  box-shadow: 0 -2px 4px 0 #ccc;
  background: white;;
  line-height: $sticky-footer-height;
}
.section {
  $offset: $sticky-footer-height + $paging-height;
  // height: calc(100vh - #{$offset} - env(safe-area-inset-bottom));
  flex-shrink: 0;
}

.content {
  position: relative;
  @extend %content-with-paging-and-footer;
  justify-content: stretch;
  scroll-behavior: smooth;
}

.image-container {
  margin: auto 0;
  position: relative;
  img { max-height: 50vh; @include absolute-center('xy'); }
}

.paging {
  z-index: 1;
}

.arrow_left, .arrow_right {
  position: absolute;
}

.arrow_right {
  right: 0;
  transform: scale(0.8);
}

.arrow_left {
  left: 0;
  transform-origin: center center;
  transform: scale(0.8) scaleX(-1);
}