@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  @extend %page;

  .footerHide & {
    height: calc(100vh - env(safe-area-inset-bottom));
  }
}



switch::ng-deep .slider {
  background: #ccc;
}

.hosted-page {
  &.footerHide {
    height: calc(100vh - #{$sticky-header-height})
  }
}

.submitActivated {
  background-color: #0D6191;
  color:white;
}
.submitDisable {
  color: black;
}

.notation{
  color: #0D5A87;
}

#swipeupHeader {
  display: block;
  position: fixed;
  background-color: white;
  color: black

}

p{
  margin-bottom: 0.5rem;
  font-family: Roboto;
  font-weight: normal;
  color: #333333;
}

textarea {
  margin-top: 0.5rem;
  border: 0.2px dashed #707070;
  outline: none;
  width: 100%;
  height: 130px;
  border: 0.2px solid #707070;
  outline: none;
  border-radius: 3px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.5rem;
  font-weight: normal;
  font-family: Roboto;
  color: #333333;
  font-size: 11pt;
}

::placeholder{
  font-size: small;
  font-weight: lighter;
  font-family: Roboto;
}