<page-header name="Mes missions" [(activeView)]="activeView" (filterClicked)="openFilterMenu = true">
  <span tab_0>Vue liste</span>
  <span tab_1>Calendrier</span>
</page-header>

<div class="hosted-page space-children-margin page-content-with-tabs">
  <ng-container [ngSwitch]="activeView">
    <ng-container *ngSwitchCase="0">
      <offer *ngFor="let mission of myMissions" [post]="mission" src="assets/validée.svg" (click)="openMission(mission)"></offer>
    </ng-container>
    <horizontal-calendar [detailedDays]="detailedDays" class="space-children-margin" *ngSwitchCase="1"></horizontal-calendar>
  </ng-container>
</div>

<slidemenu [(open)]="missionMenu.open" title="Mission">
  <suivi-chantier [missionMenu]="missionMenu" content></suivi-chantier>
</slidemenu>

<swipeup [(open)]="openFilterMenu" type="view">
  <mission-filter-form view></mission-filter-form>
</swipeup>