<page-header name="Mes missions" 
  [(activeView)]="activeView" 
  (activeViewChange)="changeView($event)"
  (filterClicked)="viewList ? openFilterMenu = true : openFilterMenu = false" 
  [filterOpen]="filterOn" 
  [callbackSearch]="callbackSearch">
  <span tab_0>Vue liste</span>
  <span tab_1>Calendrier</span>
</page-header>
<div class="wrapper__searchbar__clickcatcher page-content-with-tabs" (click)="true" *ngIf="!showFooter"></div>

<div class="hosted-page space-children-margin page-content-with-tabs" [ngClass]="{'footerHide': !showFooter}">
  <ng-container [ngSwitch]="activeView">
    <ng-container *ngSwitchCase="0">
      <offer 
        *ngFor="let mission of myMissions" 
        [post]="mission" 
        (click)="openMission(mission)" 
        [isMissionPage]="true"
        [view]="'ST'">
      </offer>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <horizontal-calendar (open)="openMission($event)" [detailedDays]="detailedDays" class="space-children-margin"></horizontal-calendar>
    </ng-container>
  </ng-container>
</div>

<slidemenu [(open)]="missionMenu.open" [header]="false" #slideOnlinePost>
  <header
    class="clear-margin full-width sticky-header flex center-cross annonce"
    customHeader id="swipeupHeader"
  >
    <img (click)="slideOnlinePostClose()" src="assets/arrowlblack.svg" />
    <h1 class="grow center-text">Mission</h1>
  </header>
  <suivi-chantier [missionMenu]="missionMenu" content></suivi-chantier>
</slidemenu>

<swipeup [(open)]="openFilterMenu" type="view">
  <mission-filter-form [callbackFilter]="callbackFilter" view></mission-filter-form>
</swipeup>

<swipeup [(open)]="openCloseMission" [doClose]="doClose">
  <div *ngIf="missionToClose" class="cloture-swipeup">
    <h3 class="notation">Noter {{ missionToClose.contactName }} de l'entreprise {{ missionCompany }}</h3>
    <div class="star-container" *ngIf="hasGeneralStarsST">
      <img  *ngFor="let flag of getArrayStarST('generalST'); let index=index;" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
    </div>

    <div *ngIf="missionToClose" class="form-input">
      <p>Ambiance sur le chantier</p>
      <div class="star-container">
        <img *ngFor="let flag of getArrayStarST('vibeST'); let index=index;" (click)="starActionST(index, 'vibeST')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
      </div>
      <textarea class="form-element" (focusout)="textStarActionST('vibeST')" placeholder="Ajouter un commentaire" id="starTextVibeST">{{ missionToClose!.vibeCommentST }}</textarea>
    </div>
    
    <div *ngIf="missionToClose" class="form-input">
      <p>Respect de la sécurité et de la propreté du chantier</p>
      <div class="star-container">
        <img *ngFor="let flag of getArrayStarST('securityST'); let index=index;" (click)="starActionST(index, 'securityST')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
      </div>
      <textarea (focusout)="textStarActionST('securityST')" placeholder="Ajouter un commentaire" id="starTextSecurityST">{{ missionToClose!.securityCommentST }}</textarea>
    </div>

    <div *ngIf="missionToClose" class="form-input">
      <p>Organisation PME</p>
      <div class="star-container">
        <img *ngFor="let flag of getArrayStarST('organisationST'); let index=index;" (click)="starActionST(index, 'organisationST')" [src]="flag ? 'assets/starFull.svg' : 'assets/starEmpty.svg'">
      </div>
      <textarea (focusout)="textStarActionST('organisationST')" placeholder="Ajouter un commentaire" id="starTextOrganisationST">{{ missionToClose?.organisationCommentST }}</textarea>
    </div>
    <button [ngClass]="classSubmit" class="button font-Poppins full-width" (click)="submitStarST(submitButtonST)" #submitButtonST>Valider</button>
  </div>
</swipeup>
