@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

:host {
  @extend %page;
}

switch::ng-deep .slider {
  background: #ccc;
}

.submitActivated {
  background-color: #0D6191;
  color:white;
}
.submitDisable {
  color: black;
}