:host {
  display: inline-block;
}

:host > * {
  vertical-align: middle;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  -moz-appearance: textfield;
}

input {
  width: 20px;
}