@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 20;
  transition: transform 250ms ease-out 0s;
  transform: translateX(100%);
}

:host(.open) {
  transform: translateX(0);
}

.stick-header {
  background: red;
}

.return {
  width: $navigation-arrow-icon-size;
  height: $navigation-arrow-icon-size;
}

.hosted-page {
  padding-top: 0;
}

.content {
  @extend %content-with-header;
  background: white;
}

.content-with-footer {
  @extend %content-with-header-and-footer;
  background: white;
}

.footer {
  position: fixed;
  @include set-safe-area(bottom);
  left: 0;
  height: $sticky-footer-height;
  padding: 10px 20px;
  background: white;
}