@import "../../../styles/variables";

:host {
  display: block;
  width: 100vw;
  position: sticky;
  bottom: 0;
}

nav {
  padding: 10px 30px;
  height: $navigation-height;
  box-shadow: 0 -1px 5px 0 #ccc;
}

ul {
  list-style-type: none;
  justify-content: space-between;
}



li a {
  display: block;
}

li img {
  height: 50px;
}

li.active a img {
  filter: invert(12%) sepia(96%) saturate(7052%) hue-rotate(180deg) brightness(78%) contrast(111%);
}