@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  position: absolute;
  @include set-safe-area(bottom, bottom);
  // bottom: calc(env(safe-are-inset-bottom));
  width: 85%;
  height: 100%;
  justify-content: space-evenly;
  margin-bottom: 1.5rem
}

.input-container {
  width: 90%;

}

h1{
  color: #44444F;
  font-size: 18px;
  font-family: Poppins;
  font-weight: normal;
}

span {
  color: #44444F;
  font-size: 18px;
  font-family: Poppins;
  font-weight: lighter;
}

.inviteFriendsInput {
  width:100%;
  height:40px;
  padding: 0 1% 0 1%;
  border: 1px solid grey;
  border-radius: 10px;
}

.inviteFriendsSubmit {
  width:90%;
  background-color: $primary;

}

::placeholder, input{
  padding-left: 0.5rem;
}

p{
  padding-bottom: 0.5rem;
  font-size: 14px;
  font-family: Poppins;
  font-weight: lighter;
}