@use "sass:math";
@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;


:host {
  display: block;
  overflow: hidden;
  position: fixed;
  @include with-set-safe-area(top, top, $sticky-header-height);
  z-index: 100000;
  width: 100vw;
  height: $info-height;
  //animation
  background-color: transparent;
  will-change: background-color;
  transition: background-color 150ms linear 0s;

  //font
  font-family: "Roboto";
  font-weight: 200;
  line-height: $info-height;
  text-align: center;
  color: white;

  //events
  pointer-events: none;
}


$icon-size: 16px;
img {
  position: absolute;
  left: 40px;
  width: $icon-size;
  height: $icon-size;
  top: math.div($info-height - $icon-size, 2);
  filter: invert(1);
}

.error, .success, .info {
  opacity: 1;
}

.error {
  background-color: #c0392b;
}

.success {
  background-color: #27ae60;
}

.info {
  background-color: #2980b9;
}