@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;



.reponse-card {
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;        border-radius: 12px;
}
.reponse-card:hover {
    transform: scale(1.01);
}