// @use 'src/styles/variables' as *;

$rating-star-lenght: 18px;

%prepare-span {
  display: inline-block;
  height: $rating-star-lenght;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: $rating-star-lenght $rating-star-lenght;
}

:host {
  display: inline-block;
  @extend %prepare-span;
  overflow: hidden;
}

span {
  @extend %prepare-span;
}