@import 'src/styles/variables';

%prepare-span {
  display: inline-block;
  height: $rating-star-height;
  background-position: 0 0;
  background-repeat: repeat-x;
  background-size: $rating-star-width $rating-star-height;
}

:host {
  display: inline-block;
  @extend %prepare-span;
  overflow: hidden;
}

span {
  @extend %prepare-span;
}