<header class="clear-margin full-width sticky-header flex column white-header" id="bigHeader">
    <div class="pick flex row small-space-children-margin">
        <img class="left" [routerLink]="['','home','profile']"  src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Candidatures en cours</h1>
    </div>
    <div class="pick flex center-cross">
        <searchbar class="grow" [callbackSearch]="callbackSearch"></searchbar>
        <img [src]="filterOn ? 'assets/filterBlue.svg':'assets/filterDarkBlue.svg'" (click)="openAdFilterMenu = true" style="margin-left: 1rem"/>
    </div>
</header>

<div class="cards">
<div class="hosted-page space-children-margin">
    <offer 
        *ngFor="let onlinePost of userOnlinePosts"    
        [deletable]="false"
        [post]="onlinePost"
        (click)="openPost(onlinePost)"
        [isAppliedPage]="true"
        [isRefused]="isRefused(onlinePost)!"
        [time]="time">
    </offer>
</div>
</div>

<swipeup [(open)]="openAdFilterMenu" type="view">
    <application-filter-form [callbackFilter]="callbackFilter" view></application-filter-form>
</swipeup>

<slidemenu [(open)]="postMenu.open" [header]="false" #slideOnlinePost> 
    <header class="clear-margin full-width sticky-header flex center-cross annonce"
    customHeader id="swipeupHeader">
        <img (click)="slideOnlinePostClose()" src="assets/arrowlblack.svg" />
        <h1 class="grow center-text">Candidature en cours</h1>
        <img *ngIf="!isRefused(postMenu.post)" (click)="postMenu.swipeup = true" src="assets/Option.svg"/>    
    </header>

    <ng-container content>
        <annonce-resume 
            class="hosted-page content-with-footer" 
            [collapsible]="false" 
            [application]="false" 
            [post]="postMenu.post"
        ></annonce-resume>

        <swipeup [(open)]="postMenu.swipeup">
            <li (click)="showPopUp(postMenu.post!)">
              Retirer ma candidature
            </li>
        </swipeup>
    </ng-container>
</slidemenu>
